<ion-header>  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/perfil"></ion-back-button>
  </ion-buttons>
  <ion-title>Editar Perfil</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="editUsuario(f)">
    <ion-avatar>
      <ion-icon style="font-size:'64px'" name="person-circle-outline"></ion-icon>
      <!-- <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> -->
    </ion-avatar>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input name="username" [ngModel]="usuario.username" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-textarea name="email" [ngModel]="usuario.email" required></ion-textarea>
    </ion-item>
    <ion-button type="submit" [disabled]="!f.valid">Guardar</ion-button>
  </form>
</ion-content>
