<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="10">
        <form #f="ngForm" (ngSubmit)="editUsuario(f)">
          <ion-row class="ion-justify-content-center">
            <app-usuario-img [src]="usuario.img_url"></app-usuario-img>
          </ion-row>
          <ion-item class="ion-padding-top">
            <!-- <ion-col> -->
            <ion-label position="floating">Nombre</ion-label>
            <ion-input
              class="expand-full"
              name="username"
              [ngModel]="usuario.username"
              autocapitalize="words"
              required
            ></ion-input>
            <!-- </ion-col> -->
          </ion-item>
          <ion-item>
            <!-- <ion-col> -->
            <!-- <ion-row> -->
            <ion-label position="floating">Email</ion-label>
            <!-- </ion-row> -->
            <!-- <ion-row> -->
            <ion-input
              class="expand-full"
              name="email"
              type="email"
              [ngModel]="usuario.email"
              required
            ></ion-input>
            <!-- </ion-row> -->
            <!-- </ion-col> -->
          </ion-item>
          <ion-item>
            <!-- <ion-col> -->
            <ion-label position="floating">Imagen(url)</ion-label>
            <ion-input
              class="expand-full"
              name="img_url"
              [(ngModel)]="usuario.img_url"
              required
            ></ion-input>
            <!-- </ion-col> -->
          </ion-item>
          <ion-button expand="block" type="submit" [disabled]="!f.valid"
            >Guardar</ion-button
          >
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
