<!-- <ion-toolbar> -->

  <ion-grid>
    <ion-row  >
      <ion-col size="2"  *ngIf="auth.user | async as u" class="ion-align-self-center"
      >
      <!-- <ion-button  style="margin-bottom: 0;" *ngIf="usrr" (click)="editar($event)">Editar</ion-button> -->
      <ion-button  *ngIf="rolificador.isAdmin(u)" style="margin-bottom: 0;" (click)="editar($event)">
        <ion-icon name="create"></ion-icon>
      </ion-button>
    </ion-col>
      <ion-col >
        <ion-row class="ion-justify-content-center ion-align-items-center h-100">
          <a href="{{footer.youtube}}" target="_blank" class="ion-margin-end"><ion-icon color="light" name="logo-youtube"> youtube</ion-icon></a>
          <a href="{{footer.instagram}}" target="_blank" class="ion-margin-end"><ion-icon color="light" name="logo-instagram">Instagram </ion-icon> </a>
          <a href=" {{footer.facebook}}" target="_blank" class="ion-margin-end"><ion-icon color="light" name="logo-facebook">Facebook </ion-icon></a>
          <a href="mailto:{{footer.email}}" target="_blank" class="ion-margin-end"><ion-icon color="light" name="mail"> E-mail</ion-icon></a>
        </ion-row>
       
      </ion-col>
      
     
    </ion-row>
  </ion-grid>
<!-- </ion-toolbar> -->