<div class="searchable-select" #dropdown>
  <div class="select-trigger" (click)="toggleDropdown()">
    <span class="select-text" [class.placeholder]="!selectedItem">
      {{ displayText || placeholder }}
    </span>
    <span class="select-arrow" [class.open]="isOpen">&#9662;</span>
  </div>

  @if (isOpen) {
    <div class="select-dropdown">
      <div class="search-wrapper">
        <input
          class="search-input"
          type="text"
          [(ngModel)]="searchText"
          placeholder="Buscar..."
          autofocus
          />
      </div>
      <div class="options-list">
        @for (item of filteredItems; track item) {
          <div
            class="option-item"
            [class.selected]="item[itemValueField] === value"
            (click)="selectItem(item)"
            >
            {{ item[itemTextField] }}
          </div>
        }
        @if (filteredItems.length === 0) {
          <div class="option-empty">
            Sin resultados
          </div>
        }
      </div>
    </div>
  }
</div>
