<div class="container-fluid py-3">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-md-4">
        <div class="card mb-3 mt-3 expand-full no-border">
          <div class="expand-full ps-3 pe-3">
            <h2>Recuperar contraseña</h2>
            <div class="mb-3">
              <label class="form-label" position="floating">Correo electrónico</label>
              <input class="form-control" type="email" required [(ngModel)]="email" name="email">
            </div>
            <button class="btn btn-primary w-100 mt-3" [disabled]="loading || !email" (click)="solicitarCodigo()">
              <label class="form-label" *ngIf="!loading">Enviar código de recuperación</label>
              <div class="spinner-border spinner-border-sm text-primary" *ngIf="loading" name="dots" role="status"><span class="visually-hidden">Loading...</span></div>
            </button>
            <div class="mb-3" color="danger" *ngIf="error">
              <label class="form-label">{{ error }}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
