<ion-content>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-md-4">
        <ion-card class="mt-3 expand-full no-border">
          <div class="expand-full ps-3 pe-3">
            <h2>Recuperar contraseña</h2>
            <ion-item>
              <ion-label position="floating">Correo electrónico</ion-label>
              <ion-input type="email" required [(ngModel)]="email" name="email" ngDefaultControl></ion-input>
            </ion-item>
            <ion-button expand="block" color="primary" class="mt-3" [disabled]="loading || !email" (click)="solicitarCodigo()">
              <ion-label *ngIf="!loading">Enviar código de recuperación</ion-label>
              <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
            </ion-button>
            <ion-item color="danger" *ngIf="error">
              <ion-label>{{ error }}</ion-label>
            </ion-item>
          </div>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content> 
