<div class="container-fluid py-3">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-md-4">
        <div class="card mb-3 mt-3 expand-full no-border">
          <div class="expand-full ps-3 pe-3">
            <h2>Recuperar contraseña</h2>
            <div class="mb-3">
              <label class="form-label" position="floating">Código recibido</label>
              <input class="form-control" type="text" required [(ngModel)]="code" name="code">
            </div>
            <div class="mb-3">
              <label class="form-label" position="floating">Nueva contraseña</label>
              <input class="form-control" type="password" required [(ngModel)]="pass_0" name="pass_0">
            </div>
            <div class="mb-3">
              <label class="form-label" position="floating">Repetir contraseña</label>
              <input class="form-control" type="password" required [(ngModel)]="pass_1" name="pass_1">
            </div>
            <button class="btn btn-primary w-100 mt-3" [disabled]="loadingCambio || !code || !pass_0 || !pass_1" (click)="cambiarPassword()">
              @if (!loadingCambio) {
                <label class="form-label">Cambiar contraseña</label>
              }
              @if (loadingCambio) {
                <div class="spinner-border spinner-border-sm text-primary" name="dots" role="status"><span class="visually-hidden">Loading...</span></div>
              }
            </button>
            @if (errorCambio) {
              <div class="mb-3" color="danger">
                <label class="form-label">{{ errorCambio }}</label>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
