
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="10" push-md="1" >

        <div class="accordion">
          <div *ngFor="let r of ranking.profiles; let i = index" class="accordion-item">
            <div class="accordion-header" (click)="toggleCategory(i)">
              <h2>{{r.nombre_categoria}}</h2>
              <span class="accordion-arrow" [class.open]="expandedCategories[i]">&#9660;</span>
            </div>
            <div class="accordion-body" *ngIf="expandedCategories[i]">
              <!-- SELECTOR DE SECCION-->
              <ion-row>
                <ion-col>
                  <div class="rank-btn-seccion" 
                        [ngClass]="{ active: (r.pestania_seccion == -1)}"
                        (click)="r.pestania_seccion = -1">General (Total de secciones)</div>
                </ion-col>
                <ion-col
                  *ngFor="let btnSec of r.ranks_seccion; let iSec = index">
                  <div class="rank-btn-seccion"
                       [ngClass]="{ active: (r.pestania_seccion == iSec)}"
                       (click)="r.pestania_seccion = iSec">
                       {{btnSec.nombre_seccion}}</div>
                </ion-col>
              </ion-row>

              <ion-row class="encabezado-tabla">
                <ion-col>

                    <ion-list>
                      <ion-item color="dark">

                        <ion-grid>
                          <ion-row class="ion-padding-end">

                            <ion-col size="2">Posición</ion-col>
                            <ion-col size="4">Participante</ion-col>
                            <ion-col size="3">Puntaje</ion-col>
                            <ion-col size="2">Premios</ion-col>
                            <ion-col size="1"></ion-col>

                          </ion-row>
                        </ion-grid>

                      </ion-item>
                    </ion-list>

                </ion-col>
              </ion-row>

              <ion-row class="ranks-participantes">
                <ion-col>

              <ion-row *ngFor="let rg of obtener_filas(r)" class="fila-tabla">
                <ion-col>

                    <ion-list>
                      <ion-item >

                        <ion-grid>
                          <ion-row>

                            <ion-col size="2" class="vertical-align-center"># {{rg.posicion_temporada}}</ion-col>
                            <ion-col size="4" class="vertical-align-center cap">{{rg.name}}</ion-col>
                            <ion-col size="3" class="vertical-align-center">
                              {{rg.puntaje_temporada}} &nbsp;
                              <ion-badge 
                                *ngIf="isHabilitado(rg, r)"
                                color="warning">Habilitado a participar en primera </ion-badge>
                            </ion-col>
                            <ion-col size="2">
                              <span *ngFor="let premio of rg.premios_temporada">
                                <ion-badge>{{premio.cantidad}} - {{premio.nombre}}</ion-badge> &nbsp;
                              </span>
                              </ion-col>
                            <ion-col size="1" class="vertical-align-center">
                              <ion-button size="small" (click)="verDetalle(rg, r)">Detalles</ion-button>
                            </ion-col>
                          </ion-row>
                        </ion-grid>

                      </ion-item>
                    </ion-list>

                </ion-col>
              </ion-row>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </div>


        <div class="accordion">
          <div class="accordion-item">
            <div class="accordion-header" (click)="toggleFotoclub()">
              <h1 class="ion-margin-top ion-margin-bottom ion-margin-end">Por fotoclub - {{anio}}</h1>
              <span class="accordion-arrow" [class.open]="fotoclubExpanded">&#9660;</span>
            </div>
            <div class="accordion-body" *ngIf="fotoclubExpanded">
              <ion-row class="encabezado-tabla">
                <ion-col>

                    <ion-list>
                      <ion-item color="dark">

                        <ion-grid>
                          <ion-row class="ion-padding-end">

                            <ion-col size="1">Posición</ion-col>
                            <ion-col size="3">Fotoclub</ion-col>
                            <ion-col size="3">Puntaje</ion-col>
                            <ion-col size="2">Porcentaje Efectividad</ion-col>
                            <ion-col size="3">Premios</ion-col>

                          </ion-row>
                        </ion-grid>

                      </ion-item>
                    </ion-list>

                </ion-col>
              </ion-row>

              <ion-row *ngFor="let r of ranking.fotoclubs" class="fila-tabla">
                <ion-col>

                    <ion-list>
                      <ion-item >

                        <ion-grid>
                          <ion-row class="ion-padding-end">

                            <ion-col size="1"># {{r.posicion_temporada}}</ion-col>
                            <ion-col class="cap" size="3">{{r.name}}</ion-col>
                            <ion-col size="3">{{r.puntaje_temporada}}</ion-col>
                            <ion-col size="2">{{r.porc_efectividad_anual.porcentaje | number: '1.1'}} %</ion-col>
                            <ion-col size="3">
                              <span *ngFor="let premio of r.premios_temporada">
                                <ion-badge>{{premio.cantidad}} - {{premio.nombre}}</ion-badge> &nbsp;
                              </span>
                            </ion-col>
                          </ion-row>
                        </ion-grid>

                      </ion-item>
                    </ion-list>

                </ion-col>
              </ion-row>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
