<nav class="navbar navbar-expand-lg navbar-light bg-light px-3 fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center gap-2 clickeable" [routerLink]="['/']">
      <img src="../../../assets/gfc-logo.png" alt="GFC" width="30" height="30" class="d-inline-block align-text-top">
      <span class="d-none d-lg-inline">Grupo Fotográfico Centro</span>
    </a>

    <div class="d-flex align-items-center ms-auto gap-2">
      <ul class="navbar-nav d-none d-lg-flex flex-row align-items-center gap-1" *ngIf="auth.loggedIn && auth.user | async as u">
        <li class="nav-item" *ngIf="rolificador.isAdmin(u) || rolificador.esDelegado(u)">
          <a class="nav-link" [class.active]="isActive('/herramientas')" [routerLink]="['/herramientas']">Herramientas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="isActive('/concursos/ranking')" [routerLink]="['/concursos/ranking']">Ranking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="isActive('/concursos')" [routerLink]="['/concursos']">Concursos</a>
        </li>
        <li class="nav-item" *ngIf="rolificador.esDelegado(u) || rolificador.isAdmin(u)">
          <a class="nav-link" [class.active]="isActive('/usuarios')" [routerLink]="['/usuarios']">{{ rolificador.getNombreUsuarios(u.role_id) }}</a>
        </li>
        <li class="nav-item" *ngIf="rolificador.isAdmin(u)">
          <a class="nav-link" [class.active]="isActive('/organizaciones')" [routerLink]="['/organizaciones']">Organizaciones</a>
        </li>
      </ul>

      <ng-container *ngIf="auth.loggedIn; else login">
        <button class="btn btn-outline-dark" (click)="mostrarPerfil($event)">
          <i class="bi bi-person-circle fs-5"></i>
        </button>
        <button class="btn btn-outline-dark d-lg-none" (click)="toggleMenu()">
          <i class="bi bi-list fs-5"></i>
        </button>
      </ng-container>

      <ng-template #login>
        <a class="btn btn-outline-dark" *ngIf="router.url != '/login'" [routerLink]="['/login']">Ingresar</a>
      </ng-template>
    </div>
  </div>
</nav>
