<div [ngClass]="responsiveService.isDesktop ? 'ion-page' : ''">
  <ion-header>
    <ion-toolbar>
      <ion-row class="ion-align-items-center ion-margin-end ion-margin-start">
        <!-- <ion-back-button [defaultHref]="'/concursos/' + id"></ion-back-button> -->
        <!-- <ion-back-button (click)="dismiss()"></ion-back-button> -->
        <ion-col>
          <h5 class="ion-text-wrap">
            {{ formTitle }}
          </h5>
        </ion-col>
        <ion-col size="1" class="ion-hide-md-down">
          <ion-button (click)="modalController.dismiss()" fill="clear" class="">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>

  <div slot="start" class="w-100 inner-content ion-float-md-start">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-self-center">
        <ion-col>
          <ion-row>
            <ion-col>

              <ion-item class="w-100 ion-margin-bottom" *ngIf="fotoclub != undefined">
                <ion-label position="floating">Nombre</ion-label>
                <ion-input
                  ngDefaultControl
                  [(ngModel)]="fotoclub.name"
                ></ion-input>
              </ion-item>

              <ion-row class="ion-justify-content-end">
                <ion-col size="12">
                  <ion-row class="ion-justify-content-end">
                    <ion-col
                      push-sm="3"
                      size="12"
                      size-sm="3"
                      class="ion-align-self-center"
                    >
                      <app-btn-post
                        [posting]="posting"
                        (click)="postFotoclub()"
                        [disabled]="!datosCargados()"
                      ></app-btn-post>
                    </ion-col>

                    <ion-col
                      class="ion-align-self-center"
                      pull-sm="3"
                      size="12"
                      size-sm="3"
                    >
                      <ion-button
                        expand="block"
                        (click)="modalController.dismiss()"
                        fill="clear"
                      >
                        Cancelar</ion-button
                      >
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
