<ion-content [ngClass]="{'dark': responsiveService.darkMode}">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="4">
        <div class="logo-container">
          <ion-img
            class="logoEntrada"
            src="../../assets/portadaGFC.png"
          ></ion-img>
        </div>

        <div class="google-btn-wrapper">
          <ion-button
            fill="outline"
            class="google-btn"
            (click)="loginWithGoogle()"
          >
            <ion-icon slot="start" name="logo-google"></ion-icon>
            Ingresar con Google
          </ion-button>
        </div>

        <div class="separator">
          <span class="separator-line"></span>
          <span class="separator-text">o</span>
          <span class="separator-line"></span>
        </div>

        <ion-accordion-group class="login-accordion-group">
          <ion-accordion class="login-accordion" value="credentials">
            <ion-item slot="header" class="accordion-header" lines="none">
              <ion-label>Usuario y Contraseña</ion-label>
            </ion-item>
            <div slot="content" class="accordion-content ion-padding">
              <div class="credential-fields">
                <ion-item class="expand-full input-bordered">
                  <ion-label position="stacked">Usuario</ion-label>
                  <ion-input
                    placeholder="Ingresá tu usuario"
                    (keypress)="keyPress($event)"
                    [(ngModel)]="login.username"
                    ngDefaultControl
                  ></ion-input>
                </ion-item>

                <ion-item class="expand-full input-bordered">
                  <ion-label position="stacked">Contraseña</ion-label>
                  <ion-input
                    #passInput
                    id="ctr-1"
                    type="password"
                    placeholder="Ingresá tu contraseña"
                    (keypress)="keyPress($event, 'next')"
                    [(ngModel)]="login.password"
                    ngDefaultControl
                  ></ion-input>
                  <app-ojo slot="end" inputId="ctr-1"></app-ojo>
                </ion-item>
              </div>

              <ion-item class="expand-full" lines="none">
                <a href="/#/recuperar-password" class="enlace-recuperar-pass">¿Olvidaste tu contraseña?</a>
              </ion-item>

              <ion-item color="danger" *ngIf="error != undefined" lines="none" class="ion-no-padding">
                <ion-label>{{ error }}</ion-label>
              </ion-item>

              <ion-button
                color="primary"
                expand="block"
                class="ion-margin-top"
                (click)="next()"
              >
                <ion-label *ngIf="!loading; else spinner">Ingresar</ion-label>
                <ng-template #spinner>
                  <ion-row class="ion-justify-content-center">
                    <ion-spinner></ion-spinner>
                  </ion-row>
                </ng-template>
              </ion-button>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
