<div class="col">
  <div class="row">
    <h2 class="mt-3 mb-3 me-3">
        Grabaciones
    </h2>
    <ion-fab-button (click)="addGrabacion()" size="small">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </div>

  <div class="row">
      <ion-list class="w-100">

        <ion-item *ngFor="let grabacion of concurso.contestRecords">
            <div class="container-fluid">
              <div class="row">
                <div class="col"><a href="{{grabacion.url}}" target="_blank">{{grabacion.object}}</a></div>
                <div class="col-auto">
                  <div class="d-flex gap-1">
                    <button class="btn btn-outline-primary" (click)="editarGrabacion(grabacion)">
                      <ion-icon name="create"></ion-icon>
                    </button>
                    <button class="btn btn-outline-primary" (click)="eliminarGrabacion(grabacion)">
                      <ion-icon name="trash"></ion-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
        </ion-item>

        
      </ion-list>
  </div>
</div>
