<div [ngClass]="responsiveService.isDesktop ? 'ion-page' : ''">
  <ion-header>
    <ion-toolbar>
      <div class="row align-items-center ms-3 me-3">
        <div class="col">
          <h5 class="ion-text-wrap">
            Inscribir concursante a {{ contest.name }}
          </h5>
        </div>
        <div class="col-1 d-none d-md-block">
          <ion-button (click)="modalController.dismiss()" fill="clear" class="">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <div slot="start" class="w-100 inner-content float-md-start">
    <div class="container-fluid">
      <div class="row justify-content-center align-self-center">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="row pt-3">
                <ion-item *ngIf="concursantes.length > 1; else unicoElemento" class="w-100 mb-3">
                    <ion-label position="floating">Concursante</ion-label>
                    <app-searchable-select
                      [(ngModel)]="profileContest.profile_id"
                      [items]="concursantes"
                      itemValueField="id"
                      itemTextField="name"
                      placeholder="Seleccionar concursante"
                    ></app-searchable-select>
                  
                </ion-item>
                <ng-template #unicoElemento>
                
                <ion-item class="w-100 mb-3">
                <ion-label position="floating">Concursante</ion-label>
                <ion-input color="dark"
                [(ngModel)]="concursantes[0].name"
                disabled>
                  
                </ion-input>
              </ion-item>
                </ng-template>
              </div>
              <div class="row pt-3">
                <ion-item class="w-100 mb-3">
                  <ion-label position="floating">Categoría</ion-label>
                  <ion-select [(ngModel)]="profileContest.category_id" okText="Aceptar" cancelText="Cancelar" ngDefaultControl>
                    <ion-select-option
                      *ngFor="let c of categorias"
                      [value]="c.id"
                      >{{ c.name }}</ion-select-option
                    >
                  </ion-select>
                </ion-item>
              </div>

              <div class="row justify-content-center pt-3">
                <div class="col-auto">
                  <ion-button color="danger" (click)="modalController.dismiss()">
                    Cancelar
                  </ion-button>
                </div>
                <div class="col-auto">
                  <ion-button color="success" [disabled]="!datosCargados()" (click)="inscribirConcursante()">
                    <ion-spinner *ngIf="posting" size="small"></ion-spinner>
                    <span *ngIf="!posting">Completar Inscripción</span>
                  </ion-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
