<div [ngClass]="responsiveService.isDesktop ? 'ion-page' : ''">
  <ion-header>
    <ion-toolbar>
      <ion-row class="ion-align-items-center ion-margin-end ion-margin-start">
        <!-- <ion-back-button [defaultHref]="'/concursos/' + id"></ion-back-button> -->
        <!-- <ion-back-button (click)="dismiss()"></ion-back-button> -->
        <ion-col>
          <h5 class="ion-text-wrap">
            Inscribir concursante a {{ contest.name }}
          </h5>
        </ion-col>
        <ion-col size="1" class="ion-hide-md-down">
          <ion-button (click)="modalController.dismiss()" fill="clear" class="">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>

  <div slot="start" class="w-100 inner-content ion-float-md-start">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-self-center">
        <ion-col>
          <ion-row>
            <ion-col>
              <ion-row class="ion-padding-top">
                <ion-item *ngIf="concursantes.length > 1; else unicoElemento" class="w-100 ion-margin-bottom">
                  <!-- [position]="(profile_id != undefined) ? 'stacked' : 'floating'" -->
                  

                    <ion-label position="floating">Concursante</ion-label>
                    <ionic-selectable  item-content
                      [(ngModel)]="profileContest.profile_id"
                      [items]="concursantes"
                      itemValueField="id"
                      itemTextField="name"
                      [canSearch]="true"
                      >
                    </ionic-selectable>
                 
                </ion-item>
                <ng-template #unicoElemento 
                
                >
                <!-- <div class="ion-hide"> -->
                <!-- </div> -->
                <!-- <ion-text color="dark">
                  {{concursantes[0].name}} {{concursantes[0].last_name}}
                </ion-text> -->
                <ion-item class="w-100 ion-margin-bottom">
                <ion-label position="floating">Concursante</ion-label>
                <ion-input color="dark"
                [(ngModel)]="concursantes[0].name"
                disabled>
                  
                </ion-input>
              </ion-item>
                </ng-template>
              </ion-row>
              <ion-row class="ion-padding-top">
                <ion-item class="w-100 ion-margin-bottom">
                  <!-- [position]="(profile_id != undefined) ? 'stacked' : 'floating'" -->
                  <ion-label position="floating">Categoría</ion-label>
                  <ion-select [(ngModel)]="profileContest.category_id" ngDefaultControl>
                    <!-- [(value)]="image.profile_id" -->
                    <ion-select-option
                      *ngFor="let c of categorias"
                      [value]="c.id"
                      >{{ c.name }}</ion-select-option
                    >
                  </ion-select>
                </ion-item>
              </ion-row>

              <ion-row class="ion-justify-content-end">
                <ion-col size="12">
                  <ion-row class="ion-justify-content-end">
                    <ion-col
                      push-sm="3"
                      size="12"
                      size-sm="3"
                      class="ion-align-self-center"
                    >
                      <app-btn-post
                        [posting]="posting"
                        (post)="inscribirConcursante()"
                        [disabled]="! datosCargados() "
                      ></app-btn-post>
                      <!-- <ion-button
                        expand="block"
                        type="submit"
                        (click)="inscribirConcursante()"
                        [disabled]="!datosCargados()"
                      >
                        <ion-spinner
                          *ngIf="posting"
                          class="ion-margin-end"
                          size="small"
                        ></ion-spinner>
                        Guardar
                      </ion-button> -->
                    </ion-col>

                    <ion-col
                      class="ion-align-self-center"
                      pull-sm="3"
                      size="12"
                      size-sm="3"
                    >
                      <!-- <ion-back-button
                    text="Cancelar"
                    icon=""
                    (click)="modalController.dismiss()"
                    [defaultHref]="backUrl"
                  ></ion-back-button
                > -->
                      <ion-button
                        expand="block"
                        (click)="modalController.dismiss()"
                        fill="clear"
                      >
                        Cancelar</ion-button
                      >
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
