<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-end">
        <ion-col size="12">
          <ion-row>
            <ion-buttons>
              <ion-back-button defaultHref="/concursos"></ion-back-button>
            </ion-buttons>
            <ion-title>Concurso</ion-title>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content #pageContent id="concurso-content">
  <!-- <ion-fab-button slot="fixed" style="bottom: 0; right: 0">
    <ion-icon
      name="arrow-up"
    ></ion-icon> 
  </ion-fab-button> -->
  <ion-row size="12" *ngIf="(auth.user | async) as u">
    <ion-col>
      <!-- <ion-card *ngIf="!loading; else spinner" class="ion-no-margin"> -->
      <ion-card class="ion-no-margin">
        <ion-avatar class="w-100" [style.height.vh]="obtenerPx()">
          <ion-img [src]="configService.apiUrl(concurso.img_url)"></ion-img>
        </ion-avatar>
        <ion-card-header>
          <ion-row>
            <ion-col >
              <ion-row class="ion-align-items-center">
                <ion-col class="ion-no-padding">
                  <app-contest-status-chip
                    [contest]="concurso"
                  ></app-contest-status-chip>
                  <ion-card-title
                  >{{concurso.name}}</ion-card-title>
                </ion-col>
              </ion-row>
              <ion-row class="">
                <ion-card-subtitle>Desde {{fechaInicio | date:'dd-MM-yyyy' }} Hasta {{fechaFin | date:'dd-MM-yyyy' }}</ion-card-subtitle>
                <!-- <ion-card-subtitle
                  >Desde {{fechaInicio}} hasta {{fechaFin}}</ion-card-subtitle
                > -->
              </ion-row>
            </ion-col>
            <ion-col *ngIf="rolificador.esDelegado(u)" class="ion-align-self-start">
              <ion-button class="ion-float-right" (click)="deleteConcurso()">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
              <ion-button
                class="ion-float-right"
                [routerLink]="['/concursos/editar/'+concurso.id]"
              >
                <ion-icon name="create"></ion-icon>
              </ion-button>
              <!-- </ion-buttons> -->
            </ion-col>
          </ion-row>
        </ion-card-header>
        <!-- <ion-img [src]="concurso.thumbnailUrl"></ion-img> -->
        <ion-card-content>
          <!-- <ion-card-title>Descripcion</ion-card-title> -->
          <ion-text>{{concurso.description}}</ion-text>
          <ion-row class="ion-margin-top ion-align-items-center">
            <b>Reglamento</b>
            <ion-button (click)="openRules()"
              size="small" 
            >
              <ion-icon name="link-outline"></ion-icon>
            </ion-button>
          </ion-row>
          <ion-row class="ion-margin-top">
            <b>Categorias:</b>
            <ion-badge color="light" class="ion-margin-start"
              *ngFor="let c of categoriasInscriptasAsc"
            >
              {{c.category.name}}
            </ion-badge>
            <!-- <ion-chip outline color="dark"
              *ngFor="let c of categoriasInscriptas"
            >
              <ion-label>{{c.category.name}}</ion-label>
            </ion-chip> -->
          </ion-row>
          <ion-row class="ion-margin-top">
            <b>Secciones:</b>
            <ion-badge color="light" class="ion-margin-start"
              *ngFor="let s of seccionesInscriptasAsc"
            >
              {{s.section.name}}
            </ion-badge>
            <!-- <ion-chip outline color="dark"
              *ngFor="let c of categoriasInscriptas"
            >
              <ion-label>{{c.category.name}}</ion-label>
            </ion-chip> -->
          </ion-row>
         
        </ion-card-content>
        <!-- <ion-label>{{item}}</ion-label> -->
      </ion-card>
      <!-- <ng-template #spinner>
        <ion-row class="ion-justify-content-center">
          <ion-spinner></ion-spinner>
        </ion-row>
      </ng-template> -->
    </ion-col>
  </ion-row>

  <!-- <ion-content>
  <app-concurso-tabs [totConcursantes]="loading ? '' : inscriptos.length"></app-concurso-tabs>
</ion-content> -->

  <!-- <ion-content #ConcursoTabs id="concurso-tabs"> -->

      <ion-row id="concurso-tabs" #tabsContent>
        <ion-col>
          <ion-row *ngIf="(auth.user | async) as u">
            <ion-tabs>
              <ion-tab-bar slot="top">
                <ion-tab-button tab="concursantes"
                  *ngIf="!concurso.active || rolificador.esDelegado(u)"
                >
                  <ion-icon name="people-outline"></ion-icon>
                  <ion-label>Concursantes</ion-label>
                  <!-- <ion-badge>{{ loading ? '' : inscriptos.length }}</ion-badge> -->
                  <ion-badge>{{concurso.countProfileContests}}</ion-badge>
                </ion-tab-button>
        
                <ion-tab-button tab="fotografias">
                  <ion-icon name="images-outline"></ion-icon>
                  <ion-label>Fotografias</ion-label>
                  <ion-badge>{{concurso.countContestResults}}</ion-badge>
                </ion-tab-button>
              </ion-tab-bar>
            </ion-tabs>
        
          </ion-row>
  
          <ion-row>
            <router-outlet></router-outlet>
          </ion-row>
        </ion-col>
      </ion-row>
    <!-- <router-outlet name="concurso"></router-outlet> -->
  <!-- </ion-content> -->
</ion-content>
