<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-end">
        <ion-col size="12">
          <ion-row>
            <ion-buttons>
              <ion-back-button defaultHref="/concursos"></ion-back-button>
            </ion-buttons>
            <ion-title>Concurso</ion-title>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content #pageContent id="concurso-content">
  <!-- <ion-fab-button slot="fixed" style="bottom: 0; right: 0">
    <ion-icon
      name="arrow-up"
    ></ion-icon> 
  </ion-fab-button> -->

 <!-- contenido -->

  <!-- <ion-content>
  <app-concurso-tabs [totConcursantes]="loading ? '' : inscriptos.length"></app-concurso-tabs>
</ion-content> -->

  <!-- <ion-content #ConcursoTabs id="concurso-tabs"> -->

      <ion-row id="concurso-tabs" #tabsContent>
        <ion-col>
          <ion-row *ngIf="(auth.user | async) as u">
            <ion-tabs>
              <ion-tab-bar slot="top">
                <ion-tab-button tab="informacion">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <ion-label>Información</ion-label>
                </ion-tab-button>
                <!-- TODO: cambiar el icono por uno mas acorde -->
                <ion-tab-button tab="jueces"
                *ngIf="!concurso.active || (rolificador.esDelegado(u) || rolificador.isAdmin(u) )"
              >
              <ion-icon name="ribbon-outline"></ion-icon>
                <ion-label>Jueces</ion-label>
              </ion-tab-button>

                <ion-tab-button tab="concursantes"
                  *ngIf="!concurso.active || (rolificador.esDelegado(u) || rolificador.isAdmin(u))"
                >
                  <ion-icon name="people-outline"></ion-icon>
                  <ion-label>Concursantes</ion-label>
                  <!-- <ion-badge>{{ loading ? '' : inscriptos.length }}</ion-badge> -->
                  <!-- <ion-badge>{{concurso.countProfileContests}}</ion-badge> -->
                </ion-tab-button>
        
                <ion-tab-button tab="fotografias">
                  <ion-icon name="images-outline"></ion-icon>
                  <ion-label>Fotografias</ion-label>
                  <!-- <ion-badge>{{concurso.countContestResults}}</ion-badge> -->
                </ion-tab-button>

              </ion-tab-bar>
            </ion-tabs>
        
          </ion-row>
  
          <!-- <ion-row>
            <router-outlet></router-outlet>
          </ion-row> -->
        </ion-col>
      </ion-row>
    <!-- <router-outlet name="concurso"></router-outlet> -->
  <!-- </ion-content> -->
</ion-content>
