<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-end">
        <ion-col size="12">
          <ion-row>
            <ion-buttons>
              <ion-back-button defaultHref="/concursos"></ion-back-button>
            </ion-buttons>
            <ion-title>Concurso</ion-title>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content #ConcursoContent id="concurso-content">
  <ion-row size="12">
    <ion-col>
  <ion-card *ngIf="!loading; else spinner" class="ion-no-margin">
    <ion-card-header>
      <ion-row>
        <ion-col>
          <ion-row class="ion-align-items-center">
            <ion-card-title>{{concurso.name}}</ion-card-title>
            <app-contest-status-chip [contest]="concurso"></app-contest-status-chip>
          </ion-row>
          <ion-card-subtitle
            >Desde {{fechaInicio}} hasta {{fechaFin}}</ion-card-subtitle
          >
        </ion-col>
        <ion-col *ngIf="isLogedIn()" class="ion-align-self-end">
          <ion-button class="ion-float-right" (click)="deleteConcurso()">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
          <ion-button
            class="ion-float-right"
            *ngIf="isLogedIn()"
            [routerLink]="['/concursos/editar/'+concurso.id]"
          >
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <!-- </ion-buttons> -->
        </ion-col>
      </ion-row>
    </ion-card-header>
    <!-- <ion-img [src]="concurso.thumbnailUrl"></ion-img> -->
    <ion-card-content>
      <!-- <ion-card-title>Descripcion</ion-card-title> -->
      <ion-text>{{concurso.description}}</ion-text>
    </ion-card-content>
    <!-- <ion-label>{{item}}</ion-label> -->
  </ion-card>
  <ng-template #spinner>
    <ion-row class="ion-justify-content-center">
      <ion-spinner ></ion-spinner>
    </ion-row>
  </ng-template>
</ion-col>
</ion-row>

<!-- <ion-content>
  <app-concurso-tabs [totConcursantes]="loading ? '' : inscriptos.length"></app-concurso-tabs>
</ion-content> -->

  <ion-content #ConcursoTabs id="concurso-tabs">
    <ion-tabs>
      <ion-tab-bar slot="top">
        <ion-tab-button tab="concursantes">
          <ion-icon name="people-outline"></ion-icon>
          <ion-label>Concursantes</ion-label>
          <ion-badge>{{ loading ? '' : inscriptos.length }}</ion-badge>
        </ion-tab-button>
    
        <ion-tab-button tab="fotografias">
          <ion-icon name="images-outline"></ion-icon>
          <ion-label>Fotografias</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>

    <router-outlet 
      name="concurso"
    ></router-outlet>
      
    </ion-content>


</ion-content>
