<ion-menu type="reveal" side="end" menuId="first" content-id="main-content">
  <!-- <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-content>
    <!-- <ion-list *ngIf="auth.loggedIn"> -->
    <!-- <ion-list *ngIf="isLoggedIn()"> -->
    <ion-list *ngIf="(auth.user | async) as u">
      <!-- <ion-item>Home</ion-item> -->
      <!-- <ion-item>Reglamento</ion-item> -->
      <ion-item [routerLink]="['/concursos']">Concursos</ion-item>
      <!-- <ion-item>Galería</ion-item> -->
      <!-- <ion-item [routerLink]="['/usuarios']" *ngIf="isLoggedIn()">Usuarios</ion-item> -->
      <ion-item [routerLink]="['/usuarios']">
        {{ rolificador.getNombreUsuarios(u.role_id) }}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>