<div [ngClass]="responsiveService.isDesktop ? 'ion-page': ''">
  <ion-header>
    <ion-toolbar>
      <div class="row align-items-center ms-3 me-3">
      
        <div class="col">
          <h5 class="ion-text-wrap">{{ formTitle }}</h5>
        </div>
        
        <div class="col-1 d-none d-md-block">
          <button class="btn btn-link" (click)="modalController.dismiss()">
            <ion-icon name="close-outline"></ion-icon>
          </button>
        </div>
      
      </div>
    </ion-toolbar>
  </ion-header>

  <div slot="start" class="inner-content float-md-start">
    <div class="container-fluid">
      <div class="row justify-content-center align-self-center">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="row pt-3">
                
                <ion-item class="w-100 mb-3">
                  <ion-label position="floating">Titulo</ion-label>
                  <ion-input
                    autocapitalize="sentences" [(ngModel)]="image.title"
                    ngDefaultControl></ion-input>
                </ion-item>

                <div class="row w-100">
                  <div class="col p-0">
                    <ion-item class="w-100 p-0 mb-3">
                      <input type="file" accept=".jpeg,.jpg" (change)="handleFileInput($event.target['files'])" />
                    </ion-item>
                    
                    <ion-chip color="danger" *ngIf="texto_img != null">
                      <ion-icon name="alert-outline"></ion-icon>
                      <ion-label>{{texto_img}}</ion-label>
                    </ion-chip>
                    
                    <div>
                        <div class="row" *ngIf="img_url != '' || imageData != ''" class="justify-content-center">
                          <ion-img (ionError)="img_url=''" [src]="imgSource" alt=""> </ion-img>
                        </div>
                    </div>
                  </div>
                </div>


              </div>

              <div class="row">

                <ion-item class="w-100 mb-3">
                  <ion-label position="floating">Sección</ion-label>
                  <ion-select (ionChange)="sectionSelect" [(ngModel)]="section_id" okText="Aceptar" cancelText="Cancelar" ngDefaultControl>
                    <ion-select-option *ngFor="let s of secciones" [value]="s.id">{{ s.name }}</ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-chip color="danger" *ngIf="texto_sec != null">
                  <ion-icon name="alert-outline"></ion-icon>
                  <ion-label>{{texto_sec}}</ion-label>
                </ion-chip>

              </div>

              <div class="row justify-content-center pt-3">
                <div class="col-auto">
                  <button class="btn btn-danger" (click)="modalController.dismiss()">
                    Cancelar
                  </button>
                </div>
                <div class="col-auto">
                  <button class="btn btn-success" [disabled]="!datosCargados()" (click)="postImage()">
                    <ion-spinner *ngIf="posting" size="small"></ion-spinner>
                    <span *ngIf="!posting">Guardar</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
