<div [ngClass]="responsiveService.isDesktop ? 'ion-page' : ''">
  <ion-header>
    <ion-toolbar>
      <ion-row class="ion-align-items-center ion-margin-end">
        <!-- <ion-back-button [defaultHref]="'/concursos/' + id"></ion-back-button> -->
        <ion-col size="2" class="ion-hide-md-up">
          <!-- <ion-back-button (click)="modalController.dismiss()"></ion-back-button> -->
          <ion-button (click)="modalController.dismiss()" color="dark" fill="clear" class="">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col [ngClass]="{'ion-margin-start': responsiveService.isDesktop}">
          <h5 class="ion-text-wrap">Cambiar contraseña</h5>
        </ion-col>
        <ion-col size="1" class="ion-hide-md-down">
          <ion-button (click)="modalController.dismiss()" fill="clear" class="">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>

  <div slot="start" class="w-100 inner-content ion-float-md-start">
    <ion-grid>
      <ion-col>
        <ion-row class="ion-justify-content-center ion-align-self-center">
          <form class="w-100" #f="ngForm" (ngSubmit)="changePassword(f)">
            <ion-item class="expand-full">
              <ion-col class="ion-no-padding">
                <ion-row>
                  <ion-col class="ion-no-padding" size="10">
                    <ion-label position="floating">Contraseña</ion-label>
                    <ion-input
                      (ionFocus)="passChangeFocus = true"
                      (ionBlur)="passChangeFocus = false"
                      tabindex="0"
                      id="ctr-3"
                      type="password"
                      class="text-right"
                      name="old_password"
                      [(ngModel)]="old_password"
                      required
                    ></ion-input>
                  </ion-col>
                  <ion-col
                    class="ion-no-padding ion-align-self-center"
                    size="2"
                  >
                    <app-ojo inputId="ctr-3"></app-ojo>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-item>
            <ion-note *ngIf="passChangeFocus">Mínimo 8 caracteres</ion-note>
            <ion-item class="expand-full">
              <ion-col class="ion-no-padding">
                <ion-row>
                  <ion-col class="ion-no-padding" size="10">
                    <ion-label position="floating">Contraseña nueva</ion-label>
                    <ion-input
                      tabindex="0"
                      id="ctr-4"
                      type="password"
                      class="text-right"
                      name="new_password"
                      [(ngModel)]="new_password"
                      required
                    ></ion-input>
                  </ion-col>
                  <ion-col
                    class="ion-no-padding ion-align-self-center"
                    size="2"
                  >
                    <app-ojo inputId="ctr-4"></app-ojo>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-item>
            <ion-row class="ion-justify-content-end">
              <ion-col size="12">
                <ion-row class="ion-justify-content-end">
                  <ion-col
                    push-sm="3"
                    size="12"
                    size-sm="3"
                    class="ion-align-self-center"
                  >
                    <app-btn-post
                      [posting]="posting"
                      [disabled]="!f.valid"
                    ></app-btn-post>
                  </ion-col>

                  <ion-col
                    pull-sm="3"
                    class="ion-align-self-center"
                    size="12"
                    size-sm="3"
                  >
                  <ion-button
                    expand="block"
                    (click)="modalController.dismiss()"
                    fill="clear"
                  >Cancelar</ion-button>
                      <!-- <ion-back-button text="Cancelar" icon=""></ion-back-button> -->
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </form>
        </ion-row>
      </ion-col>
    </ion-grid>
  </div>
</div>
