<!-- <ion-buttons class="ion-hide-md-up">
  <ion-button (click)="router.navigate(['/usuarios/editar/', id])">
    <ion-icon name="create"></ion-icon>
    <ion-label>Editar</ion-label>
  </ion-button>
  <ion-button (click)="abmPage.deleteUsuario(id)">
    <ion-icon name="trash"></ion-icon>
    <ion-label>Borrar</ion-label>
  </ion-button>
</ion-buttons> -->

<div class="list-group list-group-flush">  
  <div class="mb-3" 
    *ngFor="let a of acciones"
    (click)="action(a.accion, a.params)"
  >
    <i class="bi" [ngClass]="'bi-' + a.icon"></i>
    <label class="form-label ion-margin-start">{{a.label}}</label>
  </div>
  <!-- <ion-item (click)="router.navigate(['/usuarios/editar/', id])">
    <ion-icon name="create"></ion-icon>
    <ion-label class="ion-margin-start">Editar</ion-label>
  </ion-item>
  <ion-item (click)="abmPage.deleteUsuario(id)">
    <ion-icon name="trash"></ion-icon>
    <ion-label class="ion-margin-start">Borrar</ion-label>
  </ion-item> -->


</div>
