<div
  class="app-slides-container"
  (touchstart)="onTouchStart($event)"
  (touchmove)="onTouchMove($event)"
  (touchend)="onTouchEnd()"
>
  <button
    class="app-slides-btn app-slides-btn-prev"
    (click)="slidePrev()"
    *ngIf="canNavigate"
    aria-label="Anterior"
  >
    <ion-icon name="chevron-back"></ion-icon>
  </button>

  <div
    class="app-slides-track"
    [style.transform]="transform"
    [style.transition-duration]="transitionDuration"
  >
    <ng-content></ng-content>
  </div>

  <button
    class="app-slides-btn app-slides-btn-next"
    (click)="slideNext()"
    *ngIf="canNavigate"
    aria-label="Siguiente"
  >
    <ion-icon name="chevron-forward"></ion-icon>
  </button>

  <div class="app-slides-pagination" *ngIf="options.pagination !== false && totalSlides > slidesPerView && !isDesktop">
    <span
      class="app-slides-bullet"
      *ngFor="let _ of bullets; let i = index"
      [class.active]="i === bulletIndex"
      (click)="slideTo(i)"
    ></span>
  </div>
</div>
