<ion-row size="12" *ngIf="auth.user | async as u">
  <ion-col class="info-col">
    
    <ion-card class="ion-no-margin info-card">
      
      <ion-card-header class="ion-no-padding info-header">
        <div class="info-header-main">
          <ion-card-title class="info-title">{{ concurso.name }}</ion-card-title>
          <ion-card-subtitle>
            Desde: {{ fechaInicio | date: "dd/MM/yyyy HH:mm" }} - Hasta:
            {{ fechaFin | date: "dd/MM/yyyy HH:mm" }}
          </ion-card-subtitle>
        </div>

        <div *ngIf="(rolificador.esDelegado(u) || rolificador.isAdmin(u))" class="info-admin-col">
          <ion-button (click)="deleteConcurso()" size="small">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
          <ion-button [routerLink]="['/concursos/editar/' + concurso.id]" size="small">
            <ion-icon name="create"></ion-icon>
          </ion-button>
        </div>
      </ion-card-header>
      
      <ion-card-content class="ion-no-padding">
        <div class="info-body">
          <ion-text class="info-desc">{{ concurso.description }}</ion-text>

          <div class="info-actions">
            <ion-button *ngIf="isContestNotFin && !isInscripto" size="small" (click)="inscribirConcursante()">
              Inscribirme!
            </ion-button>
            <ion-button *ngIf="isContestNotFin && isInscripto" color="danger" size="small" (click)="desinscribirme()">
              Desinscribirme!
            </ion-button>
            <ion-button size="small" [routerLink]="['/concursos', concurso.id, 'fotografias']">
              <ion-icon name="images-outline"></ion-icon>
              Ver Fotografías
            </ion-button>
            <ion-button size="small" (click)="descargarFotografias()">
              Descargar Fotografías
            </ion-button>
            <ion-button size="small" (click)="compartir()">
              <ion-icon name="share-social-outline"></ion-icon>
            </ion-button>
          </div>

          <div class="info-rule-row">
            <b>Reglamento</b>
            <ion-button (click)="openRules()" size="small">
              <ion-icon name="link-outline"></ion-icon>
            </ion-button>
          </div>

          <div class="info-tags-row">
            <b>Categorias:</b>
            <div class="info-tags">
              <ion-badge color="light" *ngFor="let c of categoriasInscriptasAsc">
                {{ c.category.name }}
              </ion-badge>
            </div>
          </div>

          <div class="info-tags-row">
            <b>Secciones:</b>
            <div class="info-tags">
              <ion-badge color="light" *ngFor="let s of seccionesInscriptasAsc">
                {{ s.section.name }}
              </ion-badge>
            </div>
          </div>

          <div class="info-tags-row" *ngIf="concurso.contestRecords?.length">
            <b>Grabaciones:</b>
            <div class="info-tags">
              <ion-badge color="light" *ngFor="let s of concurso.contestRecords">
                <a href="{{s.url}}" target="_blank">{{ s.object }}</a>
              </ion-badge>
            </div>
          </div>
        </div>
      </ion-card-content>

    </ion-card>
    
  </ion-col>
</ion-row>
