<ion-row size="12" *ngIf="auth.user | async as u">
  <ion-col>
    
    <ion-card class="ion-no-margin">
      
      <ion-card-header>
        <ion-row>
          <ion-col>
            <ion-row class="ion-align-items-center">
              <ion-col class="ion-no-padding">
                    <ion-card-title>{{ concurso.name }}</ion-card-title>
              </ion-col>
            </ion-row>
            <ion-row class="">
              <ion-card-subtitle>
                Desde: {{ fechaInicio | date: "dd/MM/yyyy HH:mm" }} - Hasta:
                {{ fechaFin | date: "dd/MM/yyyy HH:mm" }}
              </ion-card-subtitle>
            </ion-row>
          </ion-col>

          <ion-col *ngIf="(rolificador.esDelegado(u) || rolificador.isAdmin(u))"
                    class="ion-align-self-start">

            <ion-button class="ion-float-right" (click)="deleteConcurso()">
              <ion-icon name="trash"></ion-icon>
            </ion-button>

            <ion-button class="ion-float-right"
                        [routerLink]="['/concursos/editar/' + concurso.id]">
              <ion-icon name="create"></ion-icon>
            </ion-button>
            
          </ion-col>
        
        </ion-row>
      </ion-card-header>
      
      <ion-card-content>
        <ion-row class="w-100">
          <ion-col>

            <ion-text>{{ concurso.description }}</ion-text>
            <ion-row class="ion-margin-top ion-align-items-center">
              <b class="ion-margin-end">Reglamento</b>
              <ion-button (click)="openRules()" size="small">
                <ion-icon name="link-outline"></ion-icon>
              </ion-button>
            </ion-row>

            <ion-row class="w-100 ion-justify-content-end">
          <div>
            <ion-button  *ngIf="isContestNotFin && !isInscripto" size="small" (click)="inscribirConcursante()"
              >Inscribirme!</ion-button>
            <ion-button  *ngIf="isContestNotFin && isInscripto" color="danger" size="small" (click)="desinscribirme()"
              >Desinscribirme!</ion-button>
            <ion-button  *ngIf="rolificador.isAdmin(u)" size="small" (click)="descargarFotografias()"
              >Descargar Fotografías</ion-button>

            <ion-button  size="small" 
              (click)="compartir()">
              <ion-icon name="share-social-outline"></ion-icon>
            </ion-button>

          </div>
          
        </ion-row>
            
            <ion-row class="ion-margin-top">
              <b>Categorias:</b>
              <ion-badge color="light"  class="ion-margin-start" *ngFor="let c of categoriasInscriptasAsc">
                {{ c.category.name }}
              </ion-badge>
            </ion-row>

            <ion-row class="ion-margin-top ion-margin-bottom">
              <b>Secciones:</b>
              <ion-badge color="light" class="ion-margin-start"  *ngFor="let s of seccionesInscriptasAsc">
                {{ s.section.name }}
              </ion-badge>
            </ion-row>

            <ion-row class="ion-margin-top ion-margin-bottom">
              <b>Grabaciones:</b>
              <ion-badge color="light" class="ion-margin-start"  *ngFor="let s of concurso.contestRecords">
                <a href="{{s.url}}" target="_blank">{{ s.object }}</a>
              </ion-badge>
            </ion-row>
            

          </ion-col>
        </ion-row>

        
      </ion-card-content>

    </ion-card>
    
  </ion-col>
</ion-row>
