<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-end">
        <ion-col size="12" size-md="11">
          <ion-row>
            <ion-buttons>
              <ion-back-button
                defaultHref="/perfil/editar"
                class="ion-hide-md-up"
              ></ion-back-button>
            </ion-buttons>
            <ion-title>Perfil</ion-title>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-grid class="">
    <ion-row class="ion-justify-content-center altura-cien">
      <ion-col size="12" class="altura-cien">
        <ion-row size="12" class="ion-justify-content-center altura-cien"> -->
          <ion-item 
          
          lines="none"
            *ngIf="(authService.user | async) as u">
            <ion-col   >
              <ion-row
                class="ion-justify-content-center ion-align-items-center"
              >
              <!--TODO: revisar size por aspect -->
                <ion-col size="11" class="ion-align-items-center"> 
                  <!-- <app-usuario-img [src]="usuario.img_url"></app-usuario-img> -->
                  <!-- <ion-row> -->

                    <!-- <ion-thumbnail> -->
                      <app-usuario-img [src]="configService.apiUrl(u.profile.img_url)"></app-usuario-img>
                    <!-- </ion-thumbnail> -->
                  <!-- </ion-row> -->
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col
                  class="ion-justify-content-center"
                >
                  <ion-card-title class="ion-text-center"
                    >{{ u.username }}</ion-card-title
                  >

                  <ion-card-subtitle class="ion-text-center"
                    >{{u.profile.name}}
                    {{u.profile.last_name}}</ion-card-subtitle
                  >
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-item>
        <!-- </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid> -->

        </ion-content>
          <ion-footer>
            <ion-toolbar>
                <ion-list>    
  
  
                  <ion-item 
                  lines="none"
                >
                  <ion-icon name="moon-outline" slot="start"></ion-icon>
                  <!-- <ion-label>Modo oscuro</ion-label> -->
                  <ion-toggle color="dark" [(ngModel)]="darkMode" style="padding-inline: 0" ></ion-toggle>
  
                </ion-item>
                <ion-item
                  lines="none"
                  [routerLink]="['/usuarios', 'editar', authService.userId]"
                >
                  <ion-icon
                    slot="start"
                    ios="person-outline"
                    md="person-sharp"
                  ></ion-icon>
                  <ion-label>Editar perfil</ion-label>
                </ion-item>
  
  
                  <ion-item
                    lines="none"
                    (click)="authService.logout()"
                    button="true"
                  >
                    <ion-icon
                      slot="start"
                      ios="log-out-outline"
                      md="log-out-sharp"
                    ></ion-icon>
                    <ion-label>Log Out</ion-label>
                  </ion-item>
                </ion-list>
                
              
            </ion-toolbar>
          </ion-footer>
        
