<div class="container-fluid py-3 p-3">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
      <div class="col-12 col-md-4 text-center">
        <div *ngIf="!error; else errorTemplate">
          <div class="spinner-border spinner-border-sm text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
          <span>
            <p>Autenticando...</p>
          </span>
        </div>
        <ng-template #errorTemplate>
          <span color="danger">
            <p>{{ error }}</p>
          </span>
        </ng-template>
      </div>
    </div>
  </div>
</div>
