<div class="container-fluid py-3 p-3">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
      <div class="col-12 col-md-4 text-center">
        <div *ngIf="!error; else errorTemplate">
          <ion-spinner></ion-spinner>
          <ion-text>
            <p>Autenticando...</p>
          </ion-text>
        </div>
        <ng-template #errorTemplate>
          <ion-text color="danger">
            <p>{{ error }}</p>
          </ion-text>
        </ng-template>
      </div>
    </div>
  </div>
</div>
