<div class="bg-light border-bottom p-3">
  <div class="d-flex align-items-center gap-1">
    <button class="btn btn-outline-dark btn-sm d-md-none" onclick="history.back()"><i class="bi bi-arrow-left"></i></button>
    <h5 class="mb-0">Perfil</h5>
  </div>
</div>

<div class="container-fluid py-3">
  <div class="mb-3" *ngIf="authUser as u">
    <div class="row justify-content-center align-items-center">
      <div class="col-11 align-items-center">
        <app-usuario-img [src]="userProfile?.img_url ? configService.imageUrl(userProfile.img_url) : ''"></app-usuario-img>
      </div>
    </div>
    <div class="row">
      <div class="col justify-content-center">
        <h5 class="card-title text-center">{{ u.username }}</h5>
        <h6 class="card-subtitle text-muted text-center">{{userProfile?.name || ''}} {{userProfile?.last_name || ''}}</h6>
      </div>
    </div>
  </div>

  <footer class="bg-light border-top p-2 mt-3">
    <div class="list-group list-group-flush">
      <div class="mb-3">
        <i class="bi bi-moon-outline"></i>
        <div class="form-check form-switch"><input type="checkbox" class="form-check-input" [checked]="darkMode"></div>
      </div>

      <div class="mb-3" [routerLink]="['/usuarios', 'editar', authService.userId]">
        <i class="bi bi-person"></i>
        <label class="form-label">Editar perfil</label>
      </div>

      <div class="mb-3" (click)="authService.logout()">
        <i class="bi bi-box-arrow-right"></i>
        <label class="form-label">Salir</label>
      </div>
    </div>

    <div class="version-text">v{{ version }}</div>
  </footer>
</div>