<ion-header>
  <ion-toolbar>
    <div class="d-flex gap-1">
      <ion-back-button
        defaultHref="/perfil/editar"
        class="d-md-none"
      ></ion-back-button>
    </div>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
          <ion-item 
          
          lines="none"
            *ngIf="authUser as u">
            <div class="col">
              <div class="row justify-content-center align-items-center">
                <div class="col-11 align-items-center"> 
                  <app-usuario-img [src]="userProfile?.img_url ? configService.imageUrl(userProfile.img_url) : ''"></app-usuario-img>
                </div>
              </div>
              <div class="row">
                <div class="col justify-content-center">
                  <ion-card-title class="text-center"
                    >{{ u.username }}</ion-card-title
                  >

                  <ion-card-subtitle class="text-center"
                    >{{userProfile?.name || ''}}
                    {{userProfile?.last_name || ''}}</ion-card-subtitle
                  >
                </div>
              </div>
            </div>
          </ion-item>

</ion-content>
          <ion-footer>
            <ion-toolbar>
                <ion-list>    
   
   
                  <ion-item 
                  lines="none"
                >
                  <ion-icon name="moon-outline" slot="start"></ion-icon>
                  <ion-toggle color="dark" [(ngModel)]="darkMode" style="padding-inline: 0" ></ion-toggle>
   
                </ion-item>
                <ion-item
                  lines="none"
                  [routerLink]="['/usuarios', 'editar', authService.userId]"
                >
                  <ion-icon
                    slot="start"
                    ios="person-outline"
                    md="person-sharp"
                  ></ion-icon>
                  <ion-label>Editar perfil</ion-label>
                </ion-item>
   
   
                  <ion-item
                    lines="none"
                    (click)="authService.logout()"
                    button="true"
                  >
                    <ion-icon
                      slot="start"
                      ios="log-out-outline"
                      md="log-out-sharp"
                    ></ion-icon>
                    <ion-label>Salir</ion-label>
                  </ion-item>
                </ion-list>

                <div class="version-text">v{{ version }}</div>
              
            </ion-toolbar>
          </ion-footer>
        
