.altura-cien{
    height: 100%;
}

.altura-treinta{
    height: 30%;
}

.altura-setenta{
    height: 70%;
}

.version-text {
    text-align: center;
    font-size: 0.7rem;
    color: #888;
    padding: 0.5rem 0;
}
    