<ion-header>
  <ion-toolbar>
    <ion-title>Herramientas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Fotografías</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button expand="block" (click)="abrirBusquedaFotografias()">Búsqueda de Fotografías</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Concursos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>Seleccionar concurso</ion-label>
              <ion-select [(ngModel)]="concursoSeleccionado" interface="popover" placeholder="Elige un concurso">
                <ion-select-option *ngFor="let c of concursos" [value]="c">{{c.name}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-button expand="block" color="primary" [disabled]="!concursoSeleccionado" (click)="descargarListado()">Listado Inscriptos</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Juzgamiento</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Input para seleccionar directorio de resultados -->
            <input #fileInput type="file" webkitdirectory directory multiple (change)="onFileSelected($event)" style="display: none;" />
            <ion-button expand="block" color="secondary" (click)="fileInput.click()">Cargar Resultados</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Ranking</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button expand="block" color="primary" (click)="recalcularRanking()">Recalcular Ranking</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Premiadas Temporada</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button expand="block" color="tertiary" (click)="descargarCompiladoGanadoras()">Descargar Compilado</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Fotografías del Año</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <input #folderInput type="file" webkitdirectory directory multiple (change)="onFolderSelected($event)" style="display: none;" />
            <ion-button expand="block" color="success" (click)="folderInput.click()">Seleccionar Carpeta</ion-button>
            <ion-button expand="block" color="primary" (click)="abrirModalAgregarGrabacion()">Agregar Grabación</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- Modal para Agregar Grabación -->
<ion-modal #modalGrabacion [isOpen]="isModalGrabacionOpen" (didDismiss)="cerrarModalGrabacion()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Agregar Grabación</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="cerrarModalGrabacion()">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-label position="stacked">Temporada</ion-label>
        <ion-select [(ngModel)]="grabacionData.temporada" interface="popover">
          <ion-select-option [value]="anioActual">{{anioActual}}</ion-select-option>
          <ion-select-option [value]="anioAnterior">{{anioAnterior}}</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item [class.ion-invalid]="urlInvalida && grabacionData.url.length > 0">
        <ion-label position="stacked">URL</ion-label>
        <ion-input 
          [(ngModel)]="grabacionData.url" 
          (ionChange)="validarUrl()" 
          placeholder="https://ejemplo.com/grabacion.json"
          type="url">
        </ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="urlInvalida && grabacionData.url.length > 0">
        Por favor, ingrese una URL válida
      </ion-note>
      
      <ion-button 
        expand="block" 
        (click)="agregarGrabacion()" 
        [disabled]="urlInvalida || !grabacionData.url"
        class="ion-margin-top">
        Agregar
      </ion-button>
    </ion-content>
  </ng-template>
</ion-modal> 
