<ion-header>
  <ion-toolbar>
    <ion-title>Herramientas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Fotografías</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button expand="block" (click)="abrirBusquedaFotografias()">Búsqueda de Fotografías</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Concursos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>Seleccionar concurso</ion-label>
              <ion-select [(ngModel)]="concursoSeleccionado" interface="popover" placeholder="Elige un concurso">
                <ion-select-option *ngFor="let c of concursos" [value]="c">{{c.name}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-button expand="block" color="primary" [disabled]="!concursoSeleccionado" (click)="descargarListado()">Listado Inscriptos</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Juzgamiento</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Input para seleccionar directorio de resultados -->
            <input #fileInput type="file" webkitdirectory directory multiple (change)="onFileSelected($event)" style="display: none;" />
            <ion-button expand="block" color="secondary" (click)="fileInput.click()">Cargar Resultados</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Ranking</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button expand="block" color="primary" (click)="recalcularRanking()">Recalcular Ranking</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Ganadoras temporada</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button expand="block" color="tertiary" (click)="descargarCompiladoGanadoras()">Descargar compilado</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> 
