<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-end">
        <ion-col size="12" size-md="11">
          <ion-row>
            <ion-buttons>
              <ion-back-button defaultHref="/usuarios"></ion-back-button>
            </ion-buttons>

            <ion-title  *ngIf="isLogged(); else registroFuera">{{formTitle}}</ion-title>
            <ng-template #registroFuera>
              <ion-title>Registrarme</ion-title>
            </ng-template>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="2" class="ion-hide-md-down">
        <app-usuario-img [src]="img_url"></app-usuario-img>
        <ion-input type="file" (change)="fileUpload($event.target)" ></ion-input>
        <!-- <app-usuario-img [src]="usuario.img_url"></app-usuario-img>        -->
      </ion-col>
      <ion-col size-sm="12" size-md="9" size-lg="7">
        <ion-row>
          <form class="w-100" #f="ngForm" (ngSubmit)="postUsuario(f)">
            <!-- <ion-row class="ion-justify-content-center">
                <app-usuario-img [src]="usuario.img_url"></app-usuario-img>
              </ion-row> -->
            <ion-row>
              <h6>Datos del perfil</h6>
            </ion-row>
            <ion-row>
              <!-- <ion-col size-md="3" size="12"> -->
              <ion-item class="expand-full">
                <ion-label position="floating">Nombre</ion-label>
                <ion-input
                  name="name"
                  [(ngModel)]="profile.name"
                  autocapitalize="words"
                  required
                ></ion-input>
              </ion-item>
              <!-- </ion-col> -->
              <!-- <ion-col size-md="3" size="12"> -->
              <ion-item class="expand-full">
                <ion-label position="floating">Apellido</ion-label>
                <ion-input
                  name="last_name"
                  [(ngModel)]="profile.last_name"
                  autocapitalize="words"
                  required
                ></ion-input>
              </ion-item>

              <!-- </ion-col> -->
              <!-- <ion-col size-md="3" size="12"> -->
              <!-- <ion-item class="expand-full">
                <ion-label position="floating">DNI</ion-label>
                <ion-input
                  name="dni"
                  [(ngModel)]="profile.dni"
                  required
                ></ion-input>
              </ion-item> -->

              <!-- </ion-col> -->
              <!-- <ion-col size-md="3" size="12"> -->
                <!-- *ngIf="!updatingSelect; else spinner" -->
              <ion-item
                   *ngIf="(usuario.role_id == 3 || usuario.role_id == 2) && !updatingSelect; else spinner"
                    class="expand-full"
                  >
                    <ion-label
                      [position]="(profile.fotoclub_id != undefined) ? 'stacked' : 'floating'"
                      >Fotoclub/Agrupación</ion-label
                    >
                    <ion-select
                      #sFotoclub
                      name="fotoclub_id"
                      [(ngModel)]="profile.fotoclub_id"
                      [disabled]="!isAdmin && usuarioLogueado"
                      required
                    >
                      <ion-select-option *ngFor="let f of fotoclubes" [value]="f.id"
                        >{{f.name}}</ion-select-option
                      >
                    </ion-select>
              </ion-item>
              
              <ion-item class="expand-full ion-hide-md-up ion-no-padding sinC">
                  <ion-col size="10" size-md="12" >
                    <ion-input type="file" (change)="fileUpload($event.target)"></ion-input>
                    <!-- <ion-item class="ion-no-padding">
                      <ion-label position="floating">Imagen (url)</ion-label>
                      <ion-input
                    name="img_url"
                    [(ngModel)]="profile.img_url"
                    required
                    ></ion-input>
                    </ion-item> -->
                  </ion-col>
                  <ion-col
                  size="2"
                  class="ion-align-self-center ion-hide-sm-up ion-no-padding
                  "
                  >
                  <ion-item class="ion-no-padding sinC">
                    <app-usuario-img [src]="img_url"></app-usuario-img>
                  </ion-item>
                 
                </ion-col>
              </ion-item>

              <!-- </ion-col> -->
            </ion-row>
            <ion-row>
              <h6>Datos del usuario</h6>
            </ion-row>
            <ion-row>
              <!-- <ion-col size-md="3" size="12"> -->
              <ion-item class="expand-full">
                <ion-label position="floating">Nombre de Usuario</ion-label>
                <!-- TODO: revisar pattern -->
                <ion-input
                  (ionFocus)="usernameFocus=true"
                  (ionBlur)="usernameFocus=false"
                  autocapitalize="off"
                  pattern="[a-zA-Z0-9]{1,20}"
                  name="username"
                  [(ngModel)]="usuario.username"
                  required
                >
                  <ion-icon
                    *ngIf="usernameFocus"
                    name="at-outline"
                    item-left
                  ></ion-icon>
                </ion-input>
              </ion-item>

              <ion-item class="expand-full">
                <ion-label position="floating">E-Mail</ion-label>
                <!-- TODO: revisar pattern -->
                <ion-input
                  autocapitalize="off"
                  pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                  name="email"
                  [(ngModel)]="usuario.email"
                  required
                >
                </ion-input>
              </ion-item>

              <ion-note *ngIf="usernameFocus">
                Máximo 20 caracteres alfanuméricos sin símbolos ni
                espacios</ion-note
              >
              <!-- </ion-col> -->
              <!-- <ion-col size-md="4" size="12"> -->
              <!-- <ion-item class="expand-full">
                <ion-label position="floating">Email</ion-label>
                <ion-input
                  name="email"
                  type="email"
                  [ngModel]="usuario.email"
                  required
                ></ion-input>
              </ion-item> -->
              <!-- </ion-col> -->
              <!-- <ion-col size-md="5" size="12"> -->

              <ion-item class="expand-full" *ngIf="!isUserProfile">
                <ion-col class="ion-no-padding">
                  <ion-row>
                    <ion-col class="ion-no-padding" size="10">
                      <ion-label position="floating">Contraseña</ion-label>
                      <ion-input
                        tabindex="0"
                        id="ctr-1"
                        pattern=".{8,}"
                        type="password"
                        class="text-right"
                        name="password"
                        [(ngModel)]="usuario.password"
                      ></ion-input>
                    </ion-col>
                    <ion-col
                      class="ion-no-padding ion-align-self-center"
                      size="2"
                    >
                      <app-ojo inputId="ctr-1"></app-ojo>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-item>
              <ion-note *ngIf="passFocus">Mínimo 8 caracteres</ion-note>

              <ion-item class="expand-full" *ngIf="!isUserProfile && isUserSignUp">
                <ion-col class="ion-no-padding">
                  <ion-row>
                    <ion-col class="ion-no-padding" size="10">
                      <ion-label position="floating">Repetir Contraseña</ion-label>
                      <ion-input
                        tabindex="0"
                        id="ctr-1"
                        pattern=".{8,}"
                        type="password"
                        class="text-right"
                        name="passwordRepeat"
                        [(ngModel)]="usuario.passwordRepeat"
                      ></ion-input>
                    </ion-col>
                    <ion-col
                      class="ion-no-padding ion-align-self-center"
                      size="2"
                    >
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-item>

              <ion-item class="expand-full" *ngIf="isUserProfile">
                <ion-button (click)="changePassword()"
                  >Cambiar contraseña</ion-button
                >
              </ion-item>

              <div *ngIf="isLogged()">

                <ion-item
                  class="expand-full"
                  *ngIf="!updatingSelect; else spinner"
                >
                  <!-- <ion-label [position]="(usuario.rol_id != undefined) ? 'stacked' : 'floating'">Rol</ion-label> -->
                  <ion-label [position]="'stacked'">Rol</ion-label>
                  <!-- [value]="(usuario.role_id == undefined) ? 2 : usuario.role_id" -->
                  <!-- (value)="usuario.role_id" -->
                  <ion-select
                    #sRol
                    name="role_id"
                    [(ngModel)]="usuario.role_id"
                    required
                    [disabled]="!isAdmin"
                  >
                    <!-- interface="popover" -->
                    <ion-select-option *ngFor="let r of roles" [value]="r.id"
                      >{{r.type}}</ion-select-option
                    >
                  </ion-select>
                </ion-item>
              </div>
              <!-- </ion-col> -->
              <!-- <ion-item class="expand-full">
                  <ion-col size="10" size-md="12" >
                    <input type="file" (change)="fileUpload($event.target.files)" />
                    <!- - <ion-item class="ion-no-padding">
                      <ion-label position="floating">Imagen (url)</ion-label>
                      <ion-input
                    name="img_url"
                    [(ngModel)]="profile.img_url"
                    required
                    ></ion-input>
                    </ion-item> - ->
                  </ion-col>
                  <ion-col
                  size="2"
                  class="ion-align-self-center ion-hide-sm-up ion-no-padding
                  "
                  >
                  <ion-item>
                    <app-usuario-img [src]="profile.img_url"></app-usuario-img>
                  </ion-item>
                 
                </ion-col>
              </ion-item> -->
            </ion-row>
            <ion-row class="ion-justify-content-end">
              <ion-col size="12">
                <ion-row class="ion-justify-content-end">
                  <ion-col
                    push-sm="3"
                    size="12"
                    size-sm="3"
                    class="ion-align-self-center"
                  >
                  <!-- TODO: sin usuario cambiar el texto mostrado -->
                    <app-btn-post
                      [posting]="posting"
                      [disabled]="!f.valid"
                      [text] = "submitBtnText"
                    ></app-btn-post>
                    <!-- <ion-button
                      expand="block"
                      type="submit"
                      [disabled]="!f.valid"
                    >
                      <ion-spinner
                        *ngIf="posting"
                        class="ion-margin-end"
                        size="small"
                      ></ion-spinner>
                      Guardar
                    </ion-button> -->
                  </ion-col>

                  <ion-col
                    class="ion-align-self-center"
                    pull-sm="3"
                    size="12"
                    size-sm="3"
                  >
                    <ion-back-button
                      text="Cancelar"
                      icon=""
                      defaultHref="/usuarios"
                    ></ion-back-button
                  ></ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </form>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ng-template #spinner>
    <ion-row class="ion-justify-content-center">
      <ion-spinner></ion-spinner>
    </ion-row>
  </ng-template>
</ion-content>
