<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-end">
        <ion-col size="12" size-md="11">
          <ion-row>
            <ion-buttons>
              <ion-back-button defaultHref="/usuarios"></ion-back-button>
            </ion-buttons>
            <ion-title>Agregar usuario</ion-title>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="10">
        <form #f="ngForm" (ngSubmit)="postUsuario(f)">
          <ion-row class="ion-justify-content-center">
            <app-usuario-img [src]="usuario.img_url"></app-usuario-img>
          </ion-row>
          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input
              name="username"
              [ngModel]="usuario.username"
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input
              name="email"
              [ngModel]="usuario.email"
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Imagen(url)</ion-label>
            <ion-input
              name="img_url"
              [(ngModel)]="usuario.img_url"
              required
            ></ion-input>
          </ion-item>
          <ion-button expand="block" type="submit" [disabled]="!f.valid"
            >Guardar</ion-button
          >
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
