<div class="padding">
  <ion-grid>

    <ion-row>
      <ion-col size-xs="12" size-md="8" offset-md="2" size-lg="4" offset-lg="4">

        <div class="logo"><img  src="assets/imgs/logo.png" /></div>
      
      </ion-col>
    </ion-row> 
    
    <ion-row>
      <ion-col size-xs="12" size-md="8" offset-md="2" size-lg="4" offset-lg="4">
        
        <ion-item >
          <ion-label color="light">Email</ion-label>
          <ion-input color="light" tabindex="0" type="mail" placeholder="Correo electrónico" class="text-right"
                      [(ngModel)]="login.username" [ngModelOptions]="{standalone: true}" (keypress)="keyPress($event, 'email')"></ion-input>
        </ion-item>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-xs="12" size-md="8" offset-md="2" size-lg="4" offset-lg="4">
        
        <ion-item>
          <ion-label color="light">Contraseña</ion-label>
          <ion-input color="light" tabindex="0" #pass type="password" placeholder="Contraseña" class="text-right"
                      [(ngModel)]="login.password" [ngModelOptions]="{standalone: true}" (keypress)="keyPress($event, 'pass')"></ion-input>
        </ion-item>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-xs="12" size-md="8" offset-md="2" size-lg="4" offset-lg="4">
        
        <ion-item lines="none">
          <ion-button color="light" slot="end" fill="clear" routerLink="/reset-password">¿Olvidó su contraseña?</ion-button>
        </ion-item>

      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col size-xs="12" size-md="8" offset-md="2" size-lg="4" offset-lg="4">
      
        <ion-row>
          <ion-col>
            <ion-button color="light" expand="block" shape="round" fill="outline" (click)="next()">Ingresar</ion-button>
          </ion-col>
  
          <ion-col>
            <ion-button color="tertiary" expand="block" shape="round" routerLink="/register">Registrarse</ion-button>
          </ion-col>
        </ion-row>

      </ion-col>

    </ion-row>

  </ion-grid>

</div>
</ion-content>
