
<ion-content>
  <div class="padding">
    
    <form #f="ngForm" (ngSubmit)="login(f)">
      <ion-grid>

        <ion-row class="ion-justify-content-center">
          <ion-col size-xs="12" size-sm="8" size-md="6" size-lg="4">

            <div class="logo"><ion-img  src="assets/imgs/logo.png" ></ion-img></div>
          
          </ion-col>
        </ion-row> 
        
        <ion-row class="ion-justify-content-center">
          <ion-col size-xs="11" size-sm="8" size-md="4"  size-lg="2">
            
            <ion-item >
              <ion-label position="stacked">Username</ion-label>
              <!-- <ion-input tabindex="0" type="mail" placeholder="Correo electrónico" class="text-right" -->
              <ion-input name="username" [ngModel]="username"  required class="text-right"></ion-input>
            </ion-item>

          <!-- </ion-col> -->
        <!-- </ion-row> -->

        <!-- <ion-row> -->
          <!-- <ion-col size-xs="12" size-md="8" offset-md="2" size-lg="4" offset-lg="4"> -->
            
            <ion-item>
              <ion-label position="stacked">Contraseña</ion-label>
              <ion-input tabindex="0" name="password" [ngModel]="password"  required type="password" class="text-right"></ion-input>
            </ion-item>

          <!-- </ion-col> -->
        <!-- </ion-row> -->

        <!-- <ion-row>
          <ion-col size-xs="12" size-md="8" offset-md="2" size-lg="4" offset-lg="4">
            
            <ion-item lines="none">
              <ion-button slot="end" fill="clear" routerLink="/reset-password">¿Olvidó su contraseña?</ion-button>
            </ion-item>

          </ion-col>
        </ion-row> -->

        <!-- <ion-row> -->

          <!-- <ion-col size-xs="12" size-md="8" offset-md="2" size-lg="4" offset-lg="4"> -->
          
            <!-- <ion-row> -->
              <!-- <ion-col> -->
                <ion-button [disabled]="!f.valid"
                  expand="block" shape="round" fill="outline" 
                  class="ion-margin-vertical" type="submit"
                >Ingresar</ion-button>
              <!-- </ion-col> -->
      
              <!-- <ion-col>
                <ion-button color="tertiary" expand="block" shape="round" routerLink="/register">Registrarse</ion-button>
              </ion-col> -->
            <!-- </ion-row> -->

            <!-- <ion-row *ngIf="error != undefined;"> -->
              <!-- <ion-col> -->
                <ion-item color="danger" *ngIf="error != undefined;">
                  <ion-label>{{error}}</ion-label>
                </ion-item>
              <!-- </ion-col> -->
            <!-- </ion-row> -->

          </ion-col>

        </ion-row>

      </ion-grid>
    </form>
  </div>
</ion-content>