<ion-content>

  <ion-grid *ngIf="(auth.user | async) as u" class="ion-no-padding ion-no-margin" #content>
    <ion-row class="ion-justify-content-center">
      <!-- filtro -->
      <ion-col size="12" size-md="3" *ngIf="mostrarFiltro">
        <ion-col >
          <ion-title class="ion-margin-top">Búsqueda</ion-title>
  
          <app-search-bar
            [(data)]="resultadosConcurso"
            [atributosObj]="atributosBusqueda"
          ></app-search-bar>

          <app-search-select *ngIf="!rolificador.esConcursante(u) || !isContestNotFin"
            title="Premios"
            [optionsData]="puntajes"
            [optionsProps]="filtrado['metric'].options"
            >
          </app-search-select>
       
        <!-- [filterCallback]="funcionesFiltrado['role']" -->


          <!-- <app-search-select
          title="Concursante"
          [optionsProps]="filtrado['perfil'].options"
          [optionsData]="inscriptosProfiles"
          [updating]="updatingInscriptos"
          [emptyMessage]="inscriptosEmptyMessage"
          interface="popover"
        ></app-search-select> -->
          <!-- <ion-row>
            <ion-col class="ion-no-padding ion-margin-top">
              <ion-item>
                <ion-col>
                  <ion-row>
                    <ion-label>Puntaje:</ion-label>
                  </ion-row>
                  <ion-row>
                    <ion-range
                      dualKnobs="true"
                      min="1000"
                      max="2000"
                      step="100"
                      snaps="true"
                      ticks="false"
                      color="secondary"
                    ></ion-range>
                  </ion-row>
                </ion-col>
              </ion-item>
            </ion-col>
  
            <!- - <ion-col>
              <ion-item>
                <ion-label position="stacked">Desde</ion-label>
                <ion-input type="number" min="1" max="13" name="desde_puntaje">
                </ion-input> </ion-item
            ></ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Hasta</ion-label>
                <ion-input type="number" min="1" max="13" name="hasta_puntaje">
                </ion-input> </ion-item
            ></ion-col>
            <ion-col
              ><ion-fab-button size="small">
                <ion-icon
                  name="arrow-forward-circle"
                ></ion-icon> </ion-fab-button
            ></ion-col> - ->
          </ion-row>
  
          <ion-col>
            <!- - opcion 1 - ->
            <!- -   <ion-list>
              <ion-list-header>
                <ion-label>Premio:</ion-label>
              </ion-list-header>
              <ion-button fill="clear" href="#">Reprobado</ion-button>
              <ion-button fill="clear" href="#">Aprobado</ion-button>
              <ion-button fill="clear" href="#">Mención</ion-button>
              <ion-button fill="clear" href="#">Medalla</ion-button>
              <ion-button fill="clear" href="#">1° Premio</ion-button>
            </ion-list> - ->
  
            <!- - opcion 2 - ->
            <ion-list>
              <ion-list-header>
                <ion-label>Premio:</ion-label>
              </ion-list-header>
              <ion-item
                ><ion-button fill="clear" href="#"
                  >Reprobado</ion-button
                ></ion-item
              >
              <ion-item
                ><ion-button fill="clear" href="#">Aprobado</ion-button></ion-item
              >
              <ion-item>
                <ion-button fill="clear" href="#">Mención</ion-button></ion-item
              >
              <ion-item>
                <ion-button fill="clear" href="#"
                  >Medalla Oro</ion-button
                ></ion-item
              >
              <ion-item>
                <ion-button fill="clear" href="#"
                  >Medalla Plata</ion-button
                ></ion-item
              >
              <ion-item>
                <ion-button fill="clear" href="#"
                  >Medalla Bronce</ion-button
                ></ion-item
              >
            </ion-list>
          </ion-col> -->
        </ion-col>
      </ion-col>
  
      <ion-col>
        <ion-row>
          <ion-col size="11.5" push="0.25"
          >
            <ion-row
              class="
                ion-justify-content-start
                ion-align-items-center
                ion-margin-top
                ion-margin-bottom
              "
            >
              <h1 class="ion-margin-top ion-margin-bottom ion-margin-end">
                Fotografías
              </h1>
                  <!-- TODO: hacer priv el rolific-->
              <!-- <ion-fab-button
                size="small"
                *ngIf="contestService.isActive(concurso) && 
                       (rolificador.esDelegado(u) || rolificador.isAdmin(u)) &&
                       concursantes.length > 0"
                (click)="postImage()"
              > -->

              <ion-fab-button
              size="small"
              *ngIf="contestService.isActive(concurso) && 
                     (rolificador.esDelegado(u) || rolificador.isAdmin(u) || rolificador.esConcursante(u)) "
              (click)="postImage()"
            >
                <!-- [routerLink]="['agregar-foto']"   -->
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </ion-row>
  
            <ion-row class="ion-align-items-center ion-padding-bottom">
              <ion-col size="10" size-sm="11">
                <!-- <app-search-bar
                  [(data)]="resultadosConcurso"
                  [atributosObj]="atributosBusqueda"
                >
                </app-search-bar> -->
                <ion-row class="ion-justify-content-end ion-align-items-end">
  
                  <app-search-select *ngIf="rolificador.esDelegado(u) || rolificador.isAdmin(u) || !isContestNotFin"
                    title="Concursante"
                    [optionsProps]="filtrado['perfil'].options"
                    [optionsData]="inscriptosProfiles"
                    [updating]="updatingInscriptos"
                    [emptyMessage]="inscriptosEmptyMessage"
                    interface="popover"
                  ></app-search-select>
                  
                  <ion-button *ngIf="categoriaSeleccionada != null" 
                    (click)="categoriaSeleccionada = null" fill="clear" class="">
                    <ion-icon name="close-outline"></ion-icon>
                  </ion-button>
                  <ion-item class="ion-margin-end">
                    <!-- [position]="(profile_id != undefined) ? 'stacked' : 'floating'" -->
                    <ion-label position="stacked">Categoría</ion-label>
                    <!-- (ionChange)="seleccionarCategoría($event.target)"  -->
                    <ion-select
                      [(ngModel)]="categoriaSeleccionada"
                      interface="popover"
                    >
                      <!-- [(value)]="image.profile_id" -->
                      <!-- <ion-select-option [value]="null" *ngIf="categoriaSeleccionada != null">Todas</ion-select-option> -->
                      <ion-select-option
                        *ngFor="let c of categoriasInscriptas"
                        [value]="c.category"
                        >{{ c.category.name }}</ion-select-option
                      >
                    </ion-select>
                  </ion-item>
                  <ion-button *ngIf="seccionSeleccionada != null" 
                    (click)="seccionSeleccionada = null" fill="clear" class="">
                    <ion-icon name="close-outline"></ion-icon>
                  </ion-button>
                  <ion-item >
                    <!-- [position]="(profile_id != undefined) ? 'stacked' : 'floating'" -->
                    <ion-label position="stacked">Sección</ion-label>
                    <!-- (ionChange)="seleccionarSeccion($event.target)"  -->
                    <ion-select
                      [(ngModel)]="seccionSeleccionada"
                      interface="popover"
                    >
                      <!-- [(value)]="image.profile_id" -->
                      <!-- <ion-select-option [value]="null" *ngIf="seccionSeleccionada != null">Todas</ion-select-option> -->
                      <ion-select-option
                        *ngFor="let s of seccionesInscriptas"
                        [value]="s.section"
                        >{{ s.section.name }}</ion-select-option
                      >
                    </ion-select>
                  </ion-item>
                </ion-row>
  
              </ion-col>
              <ion-col size="2" size-sm="1">
                <ion-row
                  class="
                    ion-justify-content-center
                    ion-align-items-center
                    ion-align-self-center
                  "
                >
                  <ion-button
                    (click)="toggleFiltro()"
                    color="medium"
                    expand="block"
                    class="
                      ion-justify-content-center
                      ion-align-items-center
                      ion-align-self-center
                    "
                  >
                    <ion-icon name="funnel"></ion-icon>
                    <!-- <ion-icon name="options"></ion-icon> -->
                  </ion-button>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-list>
              <ion-item color="dark">
                <ion-grid>
                  <ion-row class="ion-padding-end">
                    <!-- class="ion-text-center" -->
                    <ion-col size="7" size-md="4" class="">
                      <!-- <b>Obra</b> -->
                      <ion-row>
                        <app-th-sort
                          [sortFn]="ordenarPorObra"
                          [(data)]="resultadosConcurso"
                          title="Obra"
                        ></app-th-sort>
                        <!-- <div class="thead">
                          <b>Obra</b>
                          <app-btn-sort
                            [sortFn]="ordenarPorObra"
                            [data]="resultadosConcurso"
                            (sorted)="resultadosConcurso = $event"
                          ></app-btn-sort>
                        </div> -->
                      </ion-row>
                    </ion-col>
                    <ion-col
                      class="ion-hide-md-down ion-padding-start"
                      size="5"
                      size-md="4"
                    >
                      <ion-row *ngIf="!rolificador.esJuez(u)"> 
                        <app-th-sort
                          [sortFn]="ordenarPorAutor"
                          [(data)]="resultadosConcurso"
                          title="Autor"
                        ></app-th-sort>
                        <!-- <div class="thead">
                          <b>Autor</b>
                          <app-btn-sort 
                            [sortFn]="ordenarPorAutor"
                            [data]="resultadosConcurso"
                            (sorted)="resultadosConcurso = $event"
                          ></app-btn-sort>
                        </div> -->
                      </ion-row>
                      <!-- <b>Autor</b> -->
                    </ion-col>
  
                    <ion-col size="3" size-md="2">
                      <!-- <b>Premio</b> -->
                      <ion-row>
                        <app-th-sort
                        *ngIf="!isContestNotFin || !rolificador.esConcursante(u)"
                        [sortFn]="ordenarPorPremio"
                          [(data)]="resultadosConcurso"
                          title="Premio"
                        ></app-th-sort>
                        <!-- <div class="thead">
                          <b>Premio</b>
                          <app-btn-sort 
                            [sortFn]=""
                            [data]="resultadosConcurso"
                            (sorted)="resultadosConcurso = $event"
                            [disabled]="true"
                          ></app-btn-sort>
                        </div> -->
                      </ion-row>
                    </ion-col>
                    <ion-col class="ion-hide-md-down" size="2">
                      <!-- <b>Puntaje</b> -->
                      <ion-row>
                        <!-- <app-th-sort
                          [(data)]="resultadosConcurso"
                          title="Puntaje"
                        ></app-th-sort> -->
                        <!-- <div class="thead">
                          <b>Puntaje</b>
                          <app-btn-sort 
                            [sortFn]=""
                            [data]="resultadosConcurso"
                            (sorted)="resultadosConcurso = $event"
                            [disabled]="true"
                          ></app-btn-sort>
                        </div> -->
                      </ion-row>
                    </ion-col>
                    <ion-col class="ion-hide-md-up" size="2">
                      <!-- <b>Ptje</b> -->
                      <ion-row>
                        <!-- <app-th-sort
                          [(data)]="resultadosConcurso"
                          title="Ptje"
                        ></app-th-sort> -->
                        <!-- <div class="thead">
                          <b>Ptje</b>
                          <app-btn-sort 
                            [sortFn]=""
                            [data]="resultadosConcurso"
                            (sorted)="resultadosConcurso = $event"
                            [disabled]="true"
                          ></app-btn-sort>
                        </div> -->
                      </ion-row>
                    </ion-col>
  
                    <ion-col size="2"></ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-list>
            <!-- <ion-list *ngIf="!loading; else spinner"> -->
            <ion-list>
              <ion-item lines="none" class="ion-no-padding lista-elem">
                <!-- <ion-grid *ngIf="!loading"> -->
                <ion-grid *ngIf="resultadosConcursoFiltrados.length > 0; else texto">
                  <!-- <ion-grid *ngIf="(resultadosConcurso | async) as contestResults"> -->
                  <!-- class="ion-text-center" -->
                  <ion-item class="ion-no-padding" *ngFor="let r of resultadosConcursoFiltrados">
                    <ion-grid class="ion-no-padding">
                      <ion-row size="12">
                        <ion-col
                          size="7"
                          size-md="4"
                          class="ion-align-self-center"
                        >
                          <ion-item lines="none">
                            <ion-col>
                              <ion-card-subtitle title="Código de la obra">{{
                                r.image.code
                              }}</ion-card-subtitle>
                              <!-- >{{ getImage(r).code }}</ion-card-subtitle> -->
                              <!-- <ion-card-title >Prueba de Riendas</ion-card-title> -->
  
                              <ion-text title="Nombre de la obra">
                                <b>{{ 
                                  r.image.title 
                                }}</b>
                              </ion-text>
                              <ion-card-subtitle title="Sección">
                                <i>{{
                                  r.section.name
                                }}</i>
                              </ion-card-subtitle>
                              <!-- <ion-card-subtitle >{{
                                r.image.url
                              }}</ion-card-subtitle> -->
                              <!-- ><b>{{ getImage(r).title }}</b></ion-text> -->
                            </ion-col>
                          </ion-item>
                        </ion-col>
                        <ion-col
                          class="ion-hide-md-down ion-align-self-center"
                          size="5"
                          size-md="4"
                        >
                          <ion-item lines="none">
                            <ion-label>
                              <ion-card-subtitle
                                title="Fotoclub/Agrupación del autor"
                                >{{
                                  getFotoclubName(r.image.profile_id)
                                }}</ion-card-subtitle
                              >
                              <!-- >{{ getFotoclubName(r) }}</ion-card-subtitle> -->
                              <ion-text title="Autor de la obra">
                                <b>{{ getFullName(r.image.profile_id) }}</b>
                                <!-- <b>{{ (getProfile(r).name ?? '') + ' ' + (getProfile(r).last_name ?? '') }}</b> -->
                              </ion-text>
                              <!-- <ion-card-subtitle>DNI 11.111.111</ion-card-subtitle> -->
                            </ion-label>
                          </ion-item>
                        </ion-col>
                        <ion-col
                          class="ion-align-self-center"
                          size="3"
                          size-md="2"
                        >
                          <ion-text *ngIf="!isContestNotFin || !rolificador.esConcursante(u)" >{{ r.metric.prize != '0' && r.metric.prize != null && r.metric.prize != undefined ? r.metric.prize : '-' }}</ion-text>
                          <!-- <ion-text>{{ getMetric(r).prize }}</ion-text> -->
                        </ion-col>
                        <!-- <ion-col class="ion-align-self-center" size="2">
                          <ion-text>{{ r.metric.score }}</ion-text>
                        </ion-col> -->
  
                        <ion-col
                          size="1"
                          size-md="2"
                          class="ion-align-self-center"
                        >
                          <ion-buttons
                            class="ion-hide-md-down ion-justify-content-center"
                          >
                            <ion-button title="Ver fotografía"
                              (click)="openImage(r.image)"
                            >
                              <img class="img-button" [src]="getThumbUrl(r.image.thumbnail,1)" />
                            </ion-button>
                            <ion-button
                              *ngIf="rolificador.esJuez(u)"
                              (click)="concursoDetailService.reviewImage.emit(r)"
                              title="Calificar"
                            >
                              <!-- <ion-button (click)="reviewImage(getImage(r), r)"> -->
                              <ion-icon name="star-outline"></ion-icon>
                            </ion-button>
                            <ion-button
                             *ngIf="checkPermissions"
                              (click)="
                                postImage(r.image, r.section_id)
                              "
                              title="Editar"
                            >
                              <!-- <ion-button (click)="postImage(getImage(r))"> -->
                              <ion-icon name="create"></ion-icon>
                            </ion-button>
                            <ion-button
                              *ngIf="checkPermissions"
                              (click)="concursoDetailService.deleteImage.emit(r)"
                              title="Eliminar"
                            >
                              <ion-icon name="trash"></ion-icon>
                            </ion-button>
                          </ion-buttons>
                          <ion-buttons
                            class="ion-hide-md-up"
                          >
                            <ion-button (click)="mostrarAcciones($event, r)">
                              <ion-icon
                                slot="icon-only"
                                ios="ellipsis-horizontal"
                                md="ellipsis-vertical"
                              ></ion-icon>
                            </ion-button>
                          </ion-buttons>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                </ion-grid>
                <ng-template #texto>No hay fotografias</ng-template>
              </ion-item>
            </ion-list>
            <ng-template #spinner>
              <ion-row class="ion-justify-content-center">
                <ion-spinner></ion-spinner>
              </ion-row>
            </ng-template>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
