.lista-elem {
    --inner-padding-end: 0;
 }
 
.thead {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media(max-width:767px) {
        flex-direction: column;
        margin-top: 12px;
    }
}

.img-button{
    max-height: 100%;
    width: auto;
}