.lista-elem {
    --inner-padding-end: 0;
 }
 
.thead {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media(max-width:767px) {
        flex-direction: column;
        margin-top: 12px;
    }
}

.img-button{
    max-height: 100%;
    width: auto;
}

.img-galeria {
    height: 10rem;
    width: auto;
    cursor: pointer;
} 

.cont-img-text {
    max-width: 15rem;
    text-align: center;
    p {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }
}