<div [ngClass]="responsiveService.isDesktop ? 'ion-page' : ''" style="height: 1000px">
  <ion-header>
    <ion-toolbar>
      <ion-row class="ion-align-items-center ion-margin-end ">
        <!-- <ion-back-button  text="Volver" [defaultHref]="'/concursos/' + id"></ion-back-button> -->
        <!-- <ion-back-button  text="Volver" (click)="dismiss()"></ion-back-button> -->
        <ion-col size="2" class="ion-hide-md-up">
          <!-- <ion-back-button  text="Volver" (click)="modalController.dismiss()"></ion-back-button> -->
          <ion-button (click)="modalController.dismiss()" color="dark" fill="clear" class="">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col [ngClass]="{'ion-margin-start': responsiveService.isDesktop}">
          <h5 class="ion-text-wrap">
            {{all_data[index].image.title}} - {{all_data[index]?.image.code}} - {{all_data[index]?.section?.name}} - 
            {{getFullName(all_data[index]?.image.profile_id)}} - {{ all_data[index].metric.prize != '0' 
            && all_data[index].metric.prize != null && all_data[index].metric.prize != undefined ? all_data[index].metric.prize : '-' }}</h5>
        </ion-col>
        <ion-col size="auto">
          <ion-button (click)="anterior()" fill="clear" class="">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="siguiente()" fill="clear" class="">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="1" class="ion-hide-md-down">
          <ion-button (click)="modalController.dismiss()" fill="clear" class="">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>

  <div slot="start" class="w-100 cont-ver-foto inner-content ion-float-md-start">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-self-center">
        <ion-col>
          <ion-row>
            <ion-col>
              <ng-template #noImg> 
                <ion-text color="dark">No se encuentra una fotografía cargada</ion-text>
              </ng-template>
              <ion-row class="ion-padding-top ion-justify-content-center ion-align-self-center">
                <ion-col size="auto">
                    <img 
                    (ionError)="yepImg = false"
                    *ngIf="yepImg==true; else noImg" 
                    [src]="all_data[index].image.url != null ? configService.apiUrl(all_data[index].image.url) : ''"
                    class="img-det-modal"
                  />
                </ion-col>
                
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
