.vw-80{
    min-width: 80vw;
}

.cont-ver-foto{
    height: calc(100lvh - 56px);
    width: 100%;
    /* border: 1px solid #000; */
    overflow: scroll;
}

.img-det-modal{
    max-height: calc(100lvh - 58px - 58px);
    width: auto;
}
    