<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" size-md="3" *ngIf="mostrarFiltro">
        <ion-col>
          <ion-title class="ion-margin-top">Búsqueda</ion-title>
          <app-search-bar
            [(data)]="fotoclubs"
            [atributosObj]="atributosBusqueda"
          >
          </app-search-bar>
        </ion-col>
      </ion-col>

      <ion-col>
        <ion-row>
          <ion-col size="11.5" push="0.25">
            <ion-grid class="ion-no-padding ion-padding-bottom">

              <ion-row class="ion-justify-content-start ion-align-items-center ion-margin-top ion-margin-bottom">
                <h2 class="ion-margin-top ion-margin-bottom ion-margin-end">
                  Organizaciones
                </h2>

                <ion-fab-button (click)="postFotoclub()" size="small">
                  <ion-icon name="add"></ion-icon>
                </ion-fab-button>

              </ion-row>

              <ion-row class="ion-align-items-center">
                <ion-col></ion-col>

                <ion-col size="2" size-sm="1">

                  <ion-row  class="ion-justify-content-center ion-align-items-center ion-align-self-center">
                    <ion-button
                      (click)="mostrarFiltro = !mostrarFiltro"
                      color="medium" expand="block"
                      class="ion-justify-content-center ion-align-items-center ion-align-self-center">

                      <ion-icon name="funnel"></ion-icon>
                    </ion-button>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-list class="ion-hide-sm-down cabecera">
              <ion-item color="dark">
                <ion-grid>
                  <ion-col>
                    <ion-row>
                      <ion-col size="8.5" size-md="9">
                        <ion-row>
                          <app-th-sort
                            [sortFn]="funcionesOrdenamiento['fotoclub']"
                            [(data)]="fotoclubs"
                            title="Organización"
                          ></app-th-sort>
                        </ion-row>
                      </ion-col>
                      <ion-col size="2" size-md="1">
                        <ion-row>
                          <b>Habilitado</b>
                        </ion-row>
                      </ion-col>
                      <ion-col size="1.5" size-md="1">
                        <!-- <b>Acciones</b> -->
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-grid>
              </ion-item>
            </ion-list>
            
            <ion-list *ngIf="fotoclubs.length > 0; else texto">
              <ion-item *ngFor="let f of fotoclubs">
                <ion-grid>
                  <ion-row size="12">
                    <ion-col size="12" size-sm="8.5" size-md="9">
                      <ion-row
                        class="ion-align-items-center ion-justify-content-between"
                      >
                        <ion-col size="10.5" size-sm="12">
                          <ion-row>
                            <ion-col size="12">
                              <ion-row>
                                <ion-thumbnail class="h-100">
                                  <ion-img
                                    class="imgFotoclub"
                                    [ngStyle]="aspecto && (f.photo_url == null || f.photo_url == '') ? {'filter': 'invert(100)' }:{ 'filter': 'invert(0)'}"
                                    [src]="f.photo_url != null && f.photo_url != ''  ? configService.imageUrl(f.photo_url) : './assets/no-pictures.png' "
                                  ></ion-img>
                                </ion-thumbnail>

                                <!-- filter: invert(100) -->

                                <ion-label class="ion-margin-start">
                                  <ion-text title="Nombre">
                                    <b>{{f.name}}</b>
                                  </ion-text>
                                </ion-label>
                              </ion-row>
                            </ion-col>
                          </ion-row>
                        </ion-col>
                        <ion-col
                          size="1.5"
                          class="ion-hide-sm-up ion-justify-content-center"
                        >
                          <ion-buttons>
                            <ion-button (click)="mostrarAcciones($event, f)">
                              <ion-icon
                                slot="start"
                                ios="ellipsis-horizontal"
                                md="ellipsis-vertical"
                              ></ion-icon>
                            </ion-button>
                          </ion-buttons>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                    <ion-col
                      size="2"
                      size-md="1"
                      class="ion-align-self-center ion-hide-sm-down"
                    >
                      <ion-badge [color]="f.enabled ? 'success' : 'danger'">
                        {{ f.enabled ? 'Si' : 'No' }}
                      </ion-badge>
                    </ion-col>
                    <ion-col
                      size="1.5"
                      size-md="1"
                      class="ion-align-self-center ion-hide-sm-down"
                    >
                      <ion-buttons>
                        <ion-button (click)="postFotoclub(f)">
                          <ion-icon name="create"></ion-icon>
                        </ion-button>
                        <ion-button (click)="deleteFotoclub(f)">
                          <ion-icon name="trash"></ion-icon>
                        </ion-button>
                      </ion-buttons>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-list>

            <ng-template #texto>
                <ion-item>No hay fotoclubs</ion-item>
            </ng-template>

          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
