.thead {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    @media(min-width: 768px) {
        app-btn-sort {
            margin-left: 4px;
        }
    }

    @media(max-width:767px) {
        flex-direction: column;
        margin-top: 12px;
    }
}