<div class="container-fluid py-3">
  <div class="container-fluid p-0 m-0" #concursantesContent id="concursantesContent">
    <div class="row justify-content-center">
      <div class="col-12 col-md-3" *ngIf="mostrarFiltro">
        <div class="row">
          <div class="col">
            <ion-title class="mt-3">Búsqueda</ion-title>
    
            <app-search-bar
              [(data)]="inscriptos"
              [atributosObj]="atributosBusqueda"></app-search-bar>
    
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="row" *ngIf="(auth.user | async) as u">
          <div class="col-12">
            <div class="row justify-content-start align-items-center mt-3 mb-3">
              <h1 class="mt-3 mb-3 me-3">
                Inscriptos
              </h1>
            
              <button class="btn btn-dark rounded-circle d-flex align-items-center justify-content-center"
              style="width:36px;height:36px" size="small" *ngIf="contestService.isActive(concurso) && checkPermissions "
              (click)="inscribirConcursante()">
                <i class="bi bi-plus"></i>
              </button>
            </div>
  
            <div class="row align-items-center pb-3">
              <div class="col-10 col-sm-11">
                
                <div class="row justify-content-end align-items-end">
                  <button class="btn btn-link" *ngIf="categoriaSeleccionada != null" 
                    (click)="categoriaSeleccionada = null">
                    <i class="bi bi-x-lg"></i>
                  </button>
                  <ion-item>
                    <ion-label position="stacked">Categoría</ion-label>
                    <ion-select okText="Aceptar" cancelText="Cancelar"
                      [(ngModel)]="categoriaSeleccionada"
                      interface="popover">
                      <ion-select-option
                        *ngFor="let c of categoriasInscriptas"
                        [value]="c.category">{{ c.category.name }}</ion-select-option>
                    </ion-select>
                  </ion-item>
                </div>
              </div>
              <div class="col-2 col-sm-1">
                <div class="row justify-content-center align-items-center align-self-center">
                  <button
                    class="btn btn-secondary w-100 justify-content-center align-items-center align-self-center"
                    (click)="mostrarFiltro = !mostrarFiltro">
                    <i class="bi bi-funnel"></i>
                  </button>
                </div>
              </div>
            </div>

            <ion-list>
              <ion-item color="dark">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col">
                      <div class="row">
                        <app-th-sort
                          [sortFn]="ordenarPorApellido" [(data)]="inscriptos" title="Concursantes"></app-th-sort>
                      </div>
                    </div>
                   
                    <div class="col-4 col-md-4 d-none d-sm-block" *ngIf="checkPermissions">
                      <div class="row">
                        <app-th-sort
                          [sortFn]="ordenarPorFotoclub" [(data)]="inscriptos" title="Fotoclub/Agrupación/Institución"
                        ></app-th-sort>
                      </div>
                    </div>
                    <div class="col-2 col-md-2"><b></b></div>
                  </div>
                </div>
              </ion-item>
            </ion-list>

            <ion-list> 
              <ion-item lines="none">
                
                <div class="container-fluid" *ngIf="inscriptosFiltrados.length > 0; else texto">
                  
                  <ion-item
                    class="p-0 lista-elem"
                    *ngFor="let m of inscriptosFiltrados">

                    <div class="container-fluid">
                      <div class="row">
                        <div class="col">
                          <div class="row align-items-center">
                            <div class="col-3 col-sm-2">
                              <app-usuario-img [src]="m.profile?.img_url ? configService.imageUrl(m.profile.img_url) : ''"></app-usuario-img>
                            </div>

                            <div class="col-8 col-sm-8">
                              <ion-label class="ms-3">
                                <ion-card-subtitle title="Username">
                                  <i>@{{ m.profile?.user?.username || '' }}&nbsp;</i>
                                  <ion-text title="Nombre">
                                    <b>{{ m.profile?.name || '' }} {{ m.profile?.last_name || '' }}</b>
                                  </ion-text>
                                </ion-card-subtitle>
                                <ion-card-subtitle title="Username">{{ m.photo_count ?? 0 }} fotos cargadas</ion-card-subtitle>
                              </ion-label>
                            </div>

                            <div class="col-1 d-sm-none justify-content-center">
                              <div class="d-flex gap-1">
                                <button class="btn btn-outline-primary" (click)="mostrarAcciones($event, m)">
                                  <i class="bi bi-three-dots-vertical me-1"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-4 col-md-4 d-none d-sm-block align-self-center" *ngIf="checkPermissions">
                          <ion-text title="Fotoclub/Agrupación">{{getFotoclubName(m.profile_id)}}</ion-text>
                        </div>
                        <div class="col-2 col-md-2 align-self-center d-none d-sm-block">

                          <div class="d-flex gap-1">

                            <button class="btn btn-outline-primary" *ngIf="rolificador.esDelegado(u) || rolificador.isAdmin(u)" [routerLink]="['../', 'fotografias']"
                              [queryParams]="{concursante_id: m.profile_id}"
                              title="Ver fotografías">
                              <i class="bi bi-images"></i>
                            </button>

                            <button class="btn btn-outline-primary" *ngIf="checkPermissions"
                              (click)="postImage(m.profile_id)"
                              title="Agregar fotografía">
                              <i class="bi bi-camera"></i>
                            </button>

                            <button class="btn btn-outline-primary" *ngIf="checkPermissions"
                              (click)="concursoDetailService.desinscribir.emit( m )"
                              title="Desinscribir">
                              <i class="bi bi-trash"></i>
                            </button>
                            
                          </div>
                        </div>
                      </div>
                    </div>

                  </ion-item>
                </div>

                <ng-template #texto>No hay inscriptos</ng-template>
              </ion-item>
            </ion-list>
            <ng-template #spinner>
              <div class="row justify-content-center">
                <div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
