<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-end">
        <ion-col size="12" size-md="11">
          <ion-row>
            <ion-buttons>
              <ion-back-button defaultHref="/concursos"></ion-back-button>
            </ion-buttons>
            <ion-title>{{formTitle}}</ion-title>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="10">
        <form #f="ngForm" (ngSubmit)="postConcurso(f)">
          <ion-item class="ion-padding-top">
            <!-- <ion-col> -->
              <ion-label position="floating">Nombre</ion-label>
              <ion-input
                name="name"
                [ngModel]="concurso.name"
                required
              ></ion-input>
            <!-- </ion-col> -->
          </ion-item>
          
          <ion-item>
            <!-- <ion-col> -->
              <!-- <ion-row> -->
                <ion-label position="stacked">Fecha de inicio</ion-label>
              <!-- </ion-row> -->
              <!-- <ion-row> -->
                <ion-input
                  type="date"
                  name="start_date"
                  [ngModel]="concurso.start_date"
                  required
                ></ion-input>
              <!-- </ion-row> -->
            <!-- </ion-col> -->
          </ion-item>
          <ion-item>
            <!-- <ion-col> -->
              <!-- <ion-row> -->
                <ion-label position="stacked">Fecha de finalización</ion-label>
              <!-- </ion-row> -->
              <!-- <ion-row> -->
                <ion-input
                  type="date"
                  name="end_date"
                  [ngModel]="concurso.end_date"
                  required
                ></ion-input>
              <!-- </ion-row> -->
            <!-- </ion-col> -->
          </ion-item>

          <ion-item>
            <!-- <ion-col> -->
              <ion-label position="floating">Descripción</ion-label>
              <ion-textarea
                auto-grow="true"
                name="description"
                [ngModel]="concurso.description"
                required
              ></ion-textarea>
            <!-- </ion-col> -->
          </ion-item>
          <ion-button expand="block" type="submit" [disabled]="!f.valid"
          >Guardar</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
