<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-end">
        <ion-col size="12" size-md="11">
          <ion-row>
            <ion-buttons>
              <ion-back-button defaultHref="/concursos"></ion-back-button>
            </ion-buttons>
            <ion-title>{{formTitle}}</ion-title>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="10">
        <form #f="ngForm" (ngSubmit)="postConcurso(f)" *ngIf="!loading; else spinner">
          <ion-list class="ion-align-items-end">
            <!-- <ion-col size="12" size-md="4" > -->
            <ion-item>
              <!-- <ion-col> -->
              <ion-label position="floating">Nombre</ion-label>
              <ion-input
                name="name"
                [ngModel]="concurso.name"
                required
              ></ion-input>
              <!-- </ion-col> -->
            </ion-item>
            <!-- </ion-col> -->
            <!-- <ion-col size="12" size-md="8"> -->
            <ion-item>
              <ion-col size="6" class="ion-no-padding">
                <ion-item class="ion-no-padding">
                  <ion-label position="stacked">Inicio</ion-label>
                  <!-- <ion-input
                    type="date"
                    name="start_date"
                    [ngModel]="concurso.start_date"
                    required
                  ></ion-input> -->
                  <!-- TODO: revisar scroll en PC, ver css global -->
                  <!-- TODO: modificar el max de fecha como la fecha actual + 10 años -->
                  <ion-datetime 
                    displayFormat="DD/MMM/YYYY"
                    monthValues="01,02,03,04,05,06,07,08,09,10,11,12"
                    monthShortNames="ene, feb, mar, abr, may, jun, jul, ago, sep, oct, nov, dic"
                    min="1967"
                    max="2050"
                    name="start_date"
                    [ngModel]="concurso.start_date"
                    required
                    doneText="Elegir"
                    cancelText="Cancelar"
                  ></ion-datetime>
                </ion-item>
              </ion-col>
              <ion-col size="6" class="ion-no-padding">
                <ion-item class="ion-no-padding">
                  <ion-label position="stacked">Finalización</ion-label>
                  <!-- <ion-input
                    type="date"
                    name="end_date"
                    [ngModel]="concurso.end_date"
                    required
                  ></ion-input> --> 
                  <!-- TODO: modificar el max de fecha como la fecha actual + 10 años -->
                  <ion-datetime 
                    displayFormat="DD/MMM/YYYY"
                    monthValues="01,02,03,04,05,06,07,08,09,10,11,12"
                    monthShortNames="ene, feb, mar, abr, may, jun, jul, ago, sep, oct, nov, dic"
                    min="1967"
                    max="2050"
                    name="end_date"
                    [ngModel]="concurso.end_date"
                    required
                    doneText="Elegir"
                    cancelText="Cancelar"
                  ></ion-datetime>
                </ion-item>
              </ion-col>
            </ion-item>
            <!-- </ion-col> -->

            <ion-item>
              <!-- <ion-col> -->
              <ion-label position="floating">Descripción</ion-label>
              <ion-textarea
                auto-grow="true"
                name="description"
                [ngModel]="concurso.description"
                required
              ></ion-textarea>
              <!-- </ion-col> -->
            </ion-item>
          </ion-list>

          <ion-row class="ion-justify-content-end">
            <ion-col size="12">
              <ion-row class="ion-justify-content-end">
                <ion-col
                  push-sm="3"
                  size="12"
                  size-sm="3"
                  class="ion-align-self-center"
                >
                  <app-btn-post
                    [posting]="posting"
                    [disabled]="!f.valid"
                  ></app-btn-post>
                  <!-- <ion-button
                    expand="block"
                    type="submit"
                    [disabled]="!f.valid"
                  >
                    <ion-spinner
                      *ngIf="posting"
                      class="ion-margin-end"
                      size="small"
                    ></ion-spinner>
                    Guardar
                  </ion-button> -->
                </ion-col>

                <ion-col
                  class="ion-align-self-center"
                  pull-sm="3"
                  size="12"
                  size-sm="3"
                >
                  <ion-back-button
                    text="Cancelar"
                    icon=""
                    [defaultHref]="backUrl"
                  ></ion-back-button
                ></ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </form>
        <ng-template #spinner>
          <ion-row class="ion-justify-content-center">
            <ion-spinner ></ion-spinner>
          </ion-row>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
