<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/concursos"></ion-back-button>
    </ion-buttons>
    <ion-title>{{formTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="postConcurso(f)">
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input name="name" [ngModel]="concurso.name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Descripcion</ion-label>
      <ion-textarea name="description" [ngModel]="concurso.description" required></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Fecha de inicio</ion-label>
      <input type="date" name="start_date" [ngModel]="concurso.start_date" required>
    </ion-item>
    <ion-item>
      <ion-label>Fecha de finalizacion</ion-label>
      <input type="date" name="end_date" [ngModel]="concurso.end_date" required>
    </ion-item>
    <ion-button type="submit" [disabled]="!f.valid">Guardar</ion-button>
  </form>
</ion-content>
