<div [ngClass]="responsiveService.isDesktop ? 'ion-page' : ''">
  <div class="bg-light border-bottom p-3">
    <div class="row align-items-center ms-3 me-3">
      <div class="col">
        <h5 class="mb-0">Editar footer</h5>
      </div>
      <div class="col-1 d-none d-md-block">
        <button class="btn btn-link" (click)="modalController.dismiss()">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
    </div>
  </div>

  <div slot="start" class="inner-content float-md-start w-100">
    <div class="container-fluid">
      <div class="row justify-content-center align-self-center">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="row pt-3">
                <ion-item class="w-100 mb-3">
                  <ion-label position="floating"><i class="bi bi-facebook"></i> Facebook</ion-label>
                  <ion-input
                  [(ngModel)]="footer.facebook"
                    autocapitalize="sentences"
                    ngDefaultControl
                    type="url"
                  ></ion-input>
                </ion-item>
                
              </div>
              <div class="row pt-3">
                <ion-item class="w-100 mb-3">
                  <ion-label position="floating"><i class="bi bi-envelope"></i> E-mail</ion-label>
                  <ion-input
                  [(ngModel)]="footer.email"
                  type="email"
                    ngDefaultControl
                  ></ion-input>
                </ion-item>
                
              </div>
              <div class="row pt-3">
                <ion-item class="w-100 mb-3">
                  <ion-label position="floating"><i class="bi bi-instagram"></i> Instagram</ion-label>
                  <ion-input
                  [(ngModel)]="footer.instagram"
                    type="url"
                    ngDefaultControl
                  ></ion-input>
                </ion-item>
                
              </div>
              <div class="row pt-3">
                <ion-item class="w-100 mb-3">
                  <ion-label position="floating"><i class="bi bi-youtube"></i> Youtube</ion-label>
                  <ion-input
                  [(ngModel)]="footer.youtube"
                    type="url"
                    ngDefaultControl
                  ></ion-input>
                </ion-item>
                
              </div>
              

              <div class="row justify-content-end">
                <div class="col-12">
                  <div class="row justify-content-end">
                    <div
                      class="col-12 col-sm-3 align-self-center"
                    >
                      <app-btn-post
                        [posting]="posting"
                        [disabled]="!datosCargados()"
                        (post)="postFooter()"
                      ></app-btn-post>
                    </div>

                    <div
                      class="col-12 col-sm-3 align-self-center"
                    >
                      <button class="btn btn-link w-100" (click)="modalController.dismiss()">
                        Cancelar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
