<div [ngClass]="responsiveService.isDesktop ? 'ion-page' : ''">
  <ion-header>
    <ion-toolbar>
      <div class="row align-items-center ms-3 me-3">
        <div class="col">
          <h5 class="ion-text-wrap">Editar footer</h5>
        </div>
        <div class="col-1 d-none d-md-block">
          <button class="btn btn-link" (click)="modalController.dismiss()">
            <ion-icon name="close-outline"></ion-icon>
          </button>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <div slot="start" class="inner-content float-md-start w-100">
    <div class="container-fluid">
      <div class="row justify-content-center align-self-center">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="row pt-3">
                <ion-item class="w-100 mb-3">
                  <ion-label position="floating"><ion-icon name="logo-facebook"></ion-icon> Facebook</ion-label>
                  <ion-input
                  [(ngModel)]="footer.facebook"
                    autocapitalize="sentences"
                    ngDefaultControl
                    type="url"
                  ></ion-input>
                </ion-item>
                
              </div>
              <div class="row pt-3">
                <ion-item class="w-100 mb-3">
                  <ion-label position="floating"><ion-icon name="mail"></ion-icon> E-mail</ion-label>
                  <ion-input
                  [(ngModel)]="footer.email"
                  type="email"
                    ngDefaultControl
                  ></ion-input>
                </ion-item>
                
              </div>
              <div class="row pt-3">
                <ion-item class="w-100 mb-3">
                  <ion-label position="floating"><ion-icon name="logo-instagram"></ion-icon> Instagram</ion-label>
                  <ion-input
                  [(ngModel)]="footer.instagram"
                    type="url"
                    ngDefaultControl
                  ></ion-input>
                </ion-item>
                
              </div>
              <div class="row pt-3">
                <ion-item class="w-100 mb-3">
                  <ion-label position="floating"><ion-icon name="logo-youtube"></ion-icon> Youtube</ion-label>
                  <ion-input
                  [(ngModel)]="footer.youtube"
                    type="url"
                    ngDefaultControl
                  ></ion-input>
                </ion-item>
                
              </div>
              

              <div class="row justify-content-end">
                <div class="col-12">
                  <div class="row justify-content-end">
                    <div
                      class="col-12 col-sm-3 align-self-center"
                    >
                      <app-btn-post
                        [posting]="posting"
                        [disabled]="!datosCargados()"
                        (post)="postFooter()"
                      ></app-btn-post>
                    </div>

                    <div
                      class="col-12 col-sm-3 align-self-center"
                    >
                      <button class="btn btn-link w-100" (click)="modalController.dismiss()">
                        Cancelar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
