<ion-app>
  <ion-header>
    <app-navbar *ngIf="router.url != '/login'"></app-navbar>
  </ion-header>

  <ion-content>
    <!-- sidebar -->
    <app-sidebar *ngIf="!responsiveService.isDesktop"></app-sidebar>
    <ion-router-outlet id="main-content"></ion-router-outlet>
    
    
  </ion-content>
    <app-footer></app-footer>
  <!-- <ion-footer style="">
    <app-footer></app-footer>
  </ion-footer> -->
  <!-- <ion-footer class="ion-no-border">
    <ion-toolbar>
      <ion-title>Footer - No Border</ion-title>
    </ion-toolbar>
  </ion-footer> -->
  <!-- </ion-split-pane> -->

</ion-app>
