<div [ngClass]="responsiveService.isDesktop ? 'ion-page' : ''">
  <ion-header>
    <ion-toolbar>
      <div class="row align-items-center ms-3 me-3">
        <div class="col">
          <h5 class="ion-text-wrap">
            {{ formTitle }}
          </h5>
        </div>
        <div class="col-1 d-none d-md-block">
          <ion-button (click)="modalController.dismiss()" fill="clear" class="">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <div slot="start" class="w-100 inner-content float-md-start">
    <div class="container-fluid">

      <div class="row">
        <ion-item class="w-100 mb-3">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input name="name" ngDefaultControl [(ngModel)]="grabacion.object" autocapitalize="sentences" required></ion-input>
        </ion-item>
      </div>

      <div class="row">
        <ion-item class="w-100 mb-3">
          <ion-label position="floating">URL</ion-label>
          <ion-input name="name" ngDefaultControl [(ngModel)]="grabacion.url" autocapitalize="sentences" required></ion-input>
        </ion-item>
      </div>

      <div class="row">
        <div class="col"></div>
        <div class="col-auto">
          <ion-button expand="block" (click)="modalController.dismiss()" fill="clear">Cancelar</ion-button>
        </div>
        <div class="col-auto">
          <ion-button (click)="guardar()">Guardar</ion-button>
        </div>
        <div class="col"></div>
      </div>
      
    </div>
  </div>
</div>
