<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-end">
        <ion-col size="12" size-md="11">
          <ion-row>
            <ion-buttons>
              <ion-back-button  text="Volver" 
                defaultHref="/"
                ></ion-back-button>
                <!-- class="ion-hide-md-up" -->
            </ion-buttons>
            <ion-title>Perfil</ion-title>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isActive">
  <ion-card
    color="white"
    class="restrict-height"
    *ngIf="(authService.user | async) as u"
  >
    <ion-col>
      <ion-row>
        <ion-col size="4">
          <ion-row class="ion-justify-content-center">
            <ion-col size="5">
              <app-usuario-img
                [src]="this.imgUrl != null ? configService.apiUrl( this.imgUrl ) : ''"
              ></app-usuario-img>
            </ion-col>
          </ion-row>
        </ion-col>
        <!-- <ion-col class="h-100 ion-align-self-center"> -->
        <ion-col>
          <ion-row>
            <ion-text>
              <h2>{{ this.name }}</h2></ion-text>
            <ion-text class="ion-no-padding" color="medium">
              <p class="text-username">@{{ this.username }}</p></ion-text>
          </ion-row>
          <ion-row>
            <ion-text>Rol: {{ this.role }}</ion-text>
          </ion-row>
          <ion-row>
            <ion-text
              >Fotoclub/Entidad: {{ this.fotoclub }}</ion-text
            >
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-row class="ion-justify-content-center">
            <ion-button *ngIf=" this.privilegies"
              [routerLink]="['/usuarios', 'editar', this.userId]"
            >
              Editar perfil
            </ion-button>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-item class="ion-margin ion-text-center sombra" lines="none">
              <ion-col>
                <ion-text>Concursos</ion-text>
                <ion-title>{{this.estadisticas != undefined ? this.estadisticas.concursos : "0"}}</ion-title>
              </ion-col>
            </ion-item>
            <ion-item class=" ion-margin ion-text-center sombra" lines="none">
              <ion-col>
                <ion-text>Fotografías</ion-text>
                <ion-title>{{this.estadisticas != undefined ? this.estadisticas.fotografias : "0"}}</ion-title>
              </ion-col>
            </ion-item>
            <ion-item class=" ion-margin ion-text-center sombra" lines="none">
              <ion-col>
                <ion-text>1° Puesto</ion-text>
                <ion-title>{{this.estadisticas != undefined ? this.estadisticas.primer_puesto : "0"}}</ion-title>
              </ion-col>
            </ion-item>
            <ion-item class=" ion-margin ion-text-center sombra" lines="none">
              <ion-col>
                <ion-text>Mención</ion-text>
                <ion-title>{{this.estadisticas != undefined ? this.estadisticas.mencion : "0"}}</ion-title>
              </ion-col>
            </ion-item>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-card>
</ion-content>
