<div class="mb-3 search-bar">
  <div class="col">
    <div class="row">
      <div class="input-group">
        <input class="form-control" type="search"
        #queryInput
        placeholder="Buscar"
        (input)="output()"
        ></div>
      <select class="form-select me-3"
        *ngIf="innerSelect"
        (change)="output()"
        >
        <option
          *ngFor="let a of atributosPasados"
          [value]="getAtributoValor(a)"
          >{{ getAtributoValorMostrado(a) }}</option
        >
      </select>
    </div>
    <div class="row" *ngIf="!innerSelect && !hideFieldSelector && atributosPasados?.length > 1">
      <div class="list-group list-group-flush">
        <div class="d-flex flex-column gap-2"
          (change)="changeRadio($event.target)"
        >
          <div class="list-group-item fw-bold bg-light">
            <div class="row align-items-center">
              <label class="form-label">Filtrar por:</label>
              <button
                *ngIf="atributoSelected != ''"
                (click)="changeRadio()"
                class="btn btn-link"
              >
                <i class="bi bi-x-lg"></i>
              </button>
            </div>
          </div>

          <div class="mb-3" *ngFor="let a of atributosObj">
            <label class="form-label">{{ a.valorMostrado }}</label>
            <div class="form-check">
              <input type="radio" class="form-check-input" [value]="a.valor">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
