<ion-item class="search-bar">
  <div class="col">
    <div class="row">
      <ion-searchbar
        #queryInput
        placeholder="Buscar"
        (ionInput)="output()"
        show-clear-button="never"
        [showCancelButton]="getCancelbuttonStatus()"
        cancel-button-icon="close-outline"
        ></ion-searchbar>
      <ion-select
        *ngIf="innerSelect"
        (ionChange)="output()"
        interface="popover"
        class="me-3" okText="Aceptar" cancelText="Cancelar"
        >
        <ion-select-option
          *ngFor="let a of atributosPasados"
          [value]="getAtributoValor(a)"
          >{{ getAtributoValorMostrado(a) }}</ion-select-option
        >
      </ion-select>
    </div>
    <div class="row" *ngIf="!innerSelect && !hideFieldSelector && atributosPasados?.length > 1">
      <ion-list>
        <ion-radio-group
          (ionChange)="changeRadio($event.target)"
          [value]="atributoSelected"
          [allowEmptySelection]="true"
        >
          <ion-list-header>
            <div class="row align-items-center">
              <ion-label>Filtrar por:</ion-label>
              <ion-button
                *ngIf="atributoSelected != ''"
                (click)="changeRadio()"
                fill="clear"
                class=""
              >
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-list-header>

          <ion-item *ngFor="let a of atributosObj" lines="none">
            <ion-label>{{ a.valorMostrado }}</ion-label>
            <ion-radio slot="start" [value]="a.valor"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>
  </div>
</ion-item>
