<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-end">
      <ion-col size="12" size-md="8">
        <ion-searchbar [(ngModel)]="searchQuery"></ion-searchbar>

        <app-tabla-usuarios></app-tabla-usuarios>
      </ion-col>
      <!-- filtro y busqueda -->
      <ion-col size="3" class="ion-hide-md-down">
        <ion-button [routerLink]="['nuevo']">Nuevo</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    class="ion-hide-md-up"
  >
    <ion-fab-button [routerLink]="['nuevo']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
