<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-end">
      <ion-col size="12" size-md="8">
        <app-search-bar 
          (buscar)="filtrarUsuarios($event)"
          [atributos]="['username', 'email']"
        ></app-search-bar>


        <!-- <ion-grid *ngIf="usuariosFiltrados.length > 0; else texto" class="tabla ion-text-center">
          <ion-row>
            <ion-col *ngFor="let p of usuarioProps">{{ p }}</ion-col>
            <ion-col>Acciones</ion-col>
        </ion-row> -->
        <!-- usuario, email, fotoclub -->
        <ion-grid>
          <ion-row>
            <h2>{{titulo}}</h2>
          </ion-row>
          <ion-row class="ion-hide-md-down">
            <ion-col size="6">Usuario</ion-col>
            <!-- <ion-col size="2">Email</ion-col> -->
            <ion-col size="2">Rol</ion-col>
            <ion-col size="2">Fotoclub</ion-col>
            <ion-col size="2">Acciones</ion-col>
          </ion-row>
        </ion-grid>
        <ion-list *ngIf="usuarios.length > 0; else texto">
          <ion-item *ngFor="let u of usuarios">
            <ion-grid >
              <ion-row size="12">
                <ion-col size="12" size-md="6">
                  <ion-row class="ion-align-items-center ion-justify-content-between">
                    <ion-item lines="none">
                      <app-usuario-img
                        class="ion-float-left ion-margin-end"
                        [src]="u.img_url"
                      ></app-usuario-img>
  
                      <ion-label class="ion-float-left">
                        <ion-card-subtitle>{{u.username}}</ion-card-subtitle>
                        <ion-text><b>{{u.name + ' ' + u.last_name}}</b></ion-text>
                        <ion-card-subtitle><a [href]="'mailto:'+u.email"> {{ u.email }} </a></ion-card-subtitle>
                        <ion-card-subtitle>DNI {{u.dni}}</ion-card-subtitle>
                      </ion-label>
                    </ion-item>
                    <ion-buttons class="ion-hide-md-up">
                      <ion-button (click)="mostrarAcciones($event, u.id)">
                        <ion-icon
                          slot="icon-only"
                          ios="ellipsis-horizontal"
                          md="ellipsis-vertical"
                        ></ion-icon>
                      </ion-button>
                    </ion-buttons>
                    
                  </ion-row>

                    <!-- </ion-col>
                    <ion-col size="2" class="ion-hide-md-up"> -->
                      <!-- <ion-buttons>
                        <ion-button (click)="mostrarAcciones($event, u.id)">
                          <ion-icon
                            slot="icon-only"
                            ios="ellipsis-horizontal"
                            md="ellipsis-vertical"
                          ></ion-icon>
                        </ion-button>
                      </ion-buttons> -->
                    <!-- </ion-col>
                  </ion-row> -->

                  <!-- <ion-item lines="none">
                    <app-usuario-img
                      class="ion-float-left ion-margin-end"
                      [src]="u.img_url"
                    ></app-usuario-img>

                    <ion-label class="ion-float-left">
                      <ion-card-subtitle>{{u.username}}</ion-card-subtitle>
                      <ion-text><b>{{u.name + ' ' + u.last_name}}</b></ion-text>
                      <ion-card-subtitle><a [href]="'mailto:'+u.email"> {{ u.email }} </a></ion-card-subtitle>
                      <ion-card-subtitle>DNI {{u.dni}}</ion-card-subtitle>
                    </ion-label>
                  
                    <ion-buttons class="ion-hide-md-up">
                      <ion-button (click)="mostrarAcciones($event, u.id)">
                        <ion-icon
                          slot="icon-only"
                          ios="ellipsis-horizontal"
                          md="ellipsis-vertical"
                        ></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </ion-item> -->
                </ion-col>
                <ion-col
                  size="2"
                  class="ion-hide-md-down ion-align-self-center "
                >
                  <ion-text>{{ u.rol_id }}</ion-text>
                </ion-col>
                <!-- <ion-col
                  size="2"
                  class="ion-hide-md-down ion-align-self-center"
                >
                <a [href]="'mailto:'+u.email"> {{ u.email }} </a>
                </ion-col> -->
                <ion-col
                  size="2"
                  class="ion-hide-md-down ion-align-self-center "
                >
                  <ion-text>{{ u.fotoclub_id }}</ion-text>
                </ion-col>
                <ion-col size="2" class="ion-align-self-center ion-hide-md-down"> 
                  <ion-buttons>
                    <ion-button [routerLink]="['editar/' + u.id]">
                      <ion-icon name="create"></ion-icon>
                    </ion-button>
                    <ion-button (click)="deleteUsuario(u.id)">
                      <ion-icon name="trash"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
        <ng-template #texto >
          <ion-item *ngIf="searchParams != undefined">No hay usuarios con {{searchParams.atributo}} que empiece con '{{ searchParams.query }}'</ion-item>
        </ng-template>

      </ion-col>
      <!-- filtro y busqueda -->
      <ion-col size="3" class="ion-hide-md-down">
        <ion-button [routerLink]="['nuevo']">Nuevo</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    class="ion-hide-md-up"
  >
    <ion-fab-button [routerLink]="['nuevo']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
