<div class="container-fluid py-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-12">
            <div class="container-fluid p-0 pb-3">
              <div class="row g-2 mb-3">
                <div class="col-auto">
                  <button class="btn btn-success" (click)="postSection()">
                    <i class="bi bi-plus me-1"></i> Sección
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="d-none d-sm-block">
          <div class="bg-dark text-white py-2 px-3 rounded-top">
            <div class="row align-items-center">
              <div class="col">
                <app-th-sort
                  [sortFn]="ordenarPorNombre"
                  [(data)]="sections"
                  title="Nombre"
                ></app-th-sort>
              </div>
              <div class="col-1 text-end">Acciones</div>
            </div>
          </div>
        </div>

        <div class="list-group list-group-flush border-start border-end" *ngIf="sections.length > 0; else texto">
          <div class="list-group-item" *ngFor="let s of sections">
            <div class="row align-items-center">
              <div class="col">
                <b>{{ s.name }}</b>
              </div>
              <div class="col-1 text-end">
                <div class="d-flex gap-1 justify-content-end">
                  <button class="btn btn-warning btn-sm" title="Editar" (click)="postSection(s)">
                    <i class="bi bi-pencil"></i>
                  </button>
                  <button class="btn btn-danger btn-sm" title="Eliminar" (click)="deleteSection(s)">
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #texto>
          <div class="list-group-item border-start border-end">No hay secciones</div>
        </ng-template>

      </div>
    </div>
  </div>
</div>