<ion-grid class="uc-grid ion-no-padding" style="background-image: url({{bg_image}});">
  <ion-row class="ultimo-concurso-content ion-align-items-center" >
    <ion-col class="uc-col ion-padding" *ngIf="concurso != undefined" size="12" size-sm="6" size-md="3" offset-sm="1">

      <ion-row>
        <ion-col>{{concurso.sub_title}} | GFC</ion-col>
      </ion-row>

      <ion-row>
        <ion-col><h2>{{concurso.name}}</h2></ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col>Se encuentra abierta la inscripción para el próximo concurso del GFC.</ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button [color]="aspecto == false ? 'light' : 'dark'" [routerLink]="['/concursos/' + concurso.id]">Ver información</ion-button>
        </ion-col>
      </ion-row>
      <!-- document.body.classList.remove('dark') -->

    </ion-col>
  </ion-row>

</ion-grid>
