<!-- <ion-header>
  <ion-toolbar>
    <ion-title>info-centro</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding-start ion-padding-end">
  <div *ngIf="(auth.user | async) as u">
    
  <ion-row class="ion-align-items-center">
    <h1 class="ion-margin-end"> ¿Quiénes somos? </h1>
    <ion-fab-button (click)="postParrafo()" *ngIf="rolificador.isAdmin(u)"
      size="small"
    >
    <!-- [routerLink]="['nuevo']"  -->
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-row>
 <!-- <ion-list> -->
    <div *ngFor="let p of parrafos">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <!-- <ion-col> -->
            <h3 *ngIf="p.title" class="ion-margin-end">{{p.title}}</h3>

          <!-- </ion-col> -->
          <!-- <ion-col size="1.5"> -->
            <ion-buttons class="ion-hide-sm-down" *ngIf="rolificador.isAdmin(u)">
              <!-- <ion-button [routerLink]="['editar/' + m.user.id]"> -->
              <ion-button (click)="postParrafo(p)">
                <ion-icon name="create"></ion-icon>
              </ion-button>
              <ion-button (click)="deleteParrafo(p)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-buttons class="ion-hide-sm-up">
              <ion-button
                (click)="mostrarAcciones($event, p)"
              >
                <ion-icon
                  slot="start"
                  ios="ellipsis-horizontal"
                  md="ellipsis-vertical"
                ></ion-icon>
              </ion-button>
            </ion-buttons>
          <!-- </ion-col> -->
        </ion-row>
        <ion-row >
          <!-- <ion-col > -->
            <ion-text *ngIf="p.content">{{p.content}}</ion-text>
          <!-- </ion-col> -->
          <!-- <ion-col>
            <ion-avatar [ngClass]="{'w-100':true, 'h-100':true}">
              <ion-img [src]="p.img_url"></ion-img>
            </ion-avatar>
          </ion-col> -->
        </ion-row>
        <!-- <ion-row class="ion-justify-content-center">
            <ion-img [src]="p.img_url"></ion-img>
        </ion-row> -->
      </ion-grid>
      </div>
 <!-- </ion-list> -->
  </div>
</ion-content>

