<ion-content>
  <ion-grid class="concursos-grid" *ngIf=" (auth.user | async) as userLogged">
    <ion-row>
      <ion-col size="12" size-md="8">
        <ion-row
          class="
            ion-justify-content-start
            ion-align-items-center
            ion-margin-top
            ion-margin-bottom
          "
          *ngIf="isLogedIn()"
        >
          <h1 class="ion-margin-top ion-margin-bottom ion-margin-end">
            Concursos
          </h1>

          <ion-fab-button
            size="small"
            *ngIf="(rolificador.esDelegado(userLogged) || rolificador.isAdmin(userLogged))"
            [routerLink]="['nuevo']"
          >
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-row>
      </ion-col>

      <ion-col size="12" size-md="4" class="ion-align-self-center ion-text-right">
        <app-search-bar
          (buscar)="buscarConcursos($event)"
          [atributosObj]="atributosBusqueda"
          [hideFieldSelector]="true"
        >
        </app-search-bar>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center ion-padding-bottom">
              <ion-col class="ion-no-padding" size="10" size-sm="11">
                <ion-button
                  [routerLink]="['secciones']"
                  *ngIf="rolificador.esDelegado(userLogged) || rolificador.isAdmin(userLogged)"
                  >Administrar secciones</ion-button
                >

                <ion-button
                  [routerLink]="['metricas']"
                  *ngIf="rolificador.esDelegado(userLogged) || rolificador.isAdmin(userLogged)"
                  >Administrar Puntajes</ion-button>
              </ion-col>
            </ion-row>
            <ion-list
              *ngIf="itemGroups.length > 0; else (loading ? spinner : texto)"
            >
            
              <ng-container *ngFor="let group of itemGroups; index as gi">
              <ng-container *ngFor="let item of group; trackBy: trackByItem; index as i">
                <!-- Card de Concurso -->
                <ion-card
                  *ngIf="item.tipo === 'concurso'"
                  class="cc-card"
                  [ngStyle]="{'background-image': 'url(' + getImg(item.concurso.img_url) + ')'}"
                >
                  <div class="cc-overlay"></div>
                  <div class="cc-body">
                    <span class="cc-badge">{{ item.concurso.active ? 'Abierto' : 'Cerrado' }}</span>
                    <h2 class="cc-title">{{item.concurso.name}}</h2>
                    <p class="cc-meta">
                      Desde: {{get_fecha_formateada(item.concurso.start_date) }} - Hasta:
                      {{get_fecha_formateada(item.concurso.end_date)}}
                    </p>
                    <p class="cc-desc">{{item.concurso.description}}</p>
                    <div class="cc-tags" *ngIf="item.concurso.categories?.length">
                      <span class="cc-tag" *ngFor="let c of item.concurso.categories">{{c.name}}</span>
                    </div>
                    <div class="cc-tags" *ngIf="item.concurso.sections?.length">
                      <span class="cc-tag" *ngFor="let s of item.concurso.sections">{{s.name}}</span>
                    </div>
                    <div class="cc-actions">
                      <ion-button
                        class="cc-btn"
                        size="small"
                        [routerLink]="[item.concurso.id, 'fotografias']"
                      >
                        <ion-icon name="images-outline"></ion-icon>
                        Fotografías
                      </ion-button>
                      <ion-button
                        class="cc-btn"
                        size="small"
                        [routerLink]="[item.concurso.id]"
                      >Ver concurso</ion-button>
                    </div>
                  </div>
                </ion-card>

                <!-- Card de Fotos del Año -->
                <app-fotos-anio-card
                  *ngIf="item.tipo === 'fotos-anio'"
                  [fotos]="item.fotosAnio"
                  [temporada]="item.temporada"
                  [url_grabacion]="item.url_grabacion"
                ></app-fotos-anio-card>
              </ng-container>
            </ng-container>
            </ion-list>
            <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreConcursos($event)" [disabled]="!hasMoreConcursos && allItems.length === 0">
              <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más concursos..."></ion-infinite-scroll-content>
            </ion-infinite-scroll>
            <ng-template #texto>
              <ion-item>No se encontraron concursos</ion-item>
            </ng-template>
            <ng-template #spinner>
              <ion-row class="ion-justify-content-center">
                <ion-spinner></ion-spinner>
              </ion-row>
            </ng-template>
  </ion-grid>
</ion-content>
