<div class="row mt-3 mb-3 text-center main-row">
  <div class="col">
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="row">
          <div class="col"><h2>Comisión Directiva</h2></div>
        </div>

        <div class="row">
          <div class="col-12">
            <app-slides [options]="slideOptions" #slideWithNav>
              <div #slide class="app-slide" *ngFor="let s of sliderOne.slidesItems">
                <div class="app-slide-card dir-card">
                  <div class="dir-photo">
                    <app-usuario-img [src]="s.img_url != null ? configService.imageUrl(s.img_url) : ''"></app-usuario-img>
                  </div>
                  <div class="dir-info">
                    <h3 class="dir-name">{{s.name}} {{s.last_name}}</h3>
                    <span class="dir-role">{{s.executive_rol}}</span>
                  </div>
                </div>
              </div>
            </app-slides>
          </div>

          <a *ngIf="slideOptions.slidesPerViewDesktop && responsiveService.isDesktop" (click)="swipePrev()"> <div class="swiper-button-prev" ></div> </a>
          <a *ngIf="slideOptions.slidesPerViewDesktop && responsiveService.isDesktop" (click)="swipeNext()"><div class="swiper-button-next" ></div></a>
          
        </div>
      </div>
    </div>
  </div>
  
</div>
