<!-- <ion-item class="search-select"> -->
  <!-- <div class="col"> -->
    <!-- <div class="row">
      <ion-searchbar #queryInput
        (ionInput)="output()"
        show-clear-button="never"
        [showCancelButton]="cancelbuttonStatus"
        cancel-button-icon="close-outline"
      ></ion-searchbar>
    </div> -->
    <div class="row align-items-center me-3"
      *ngIf="interface == 'popover'; else list"
    >
      <!-- <div class="col-2 p-0" *ngIf="atributoSelected != ''"> -->
        <ion-button (click)="changeQuery()" fill="clear" class=""
          *ngIf="atributoSelected != ''"
        >
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      <!-- </div> -->
      <!-- <div class="col p-0"> -->
        <ion-item >
          <ion-label
            position="stacked"
            >{{ title }}</ion-label
          >
          <ion-select #atributoSelect
            *ngIf="!updatingSelect"  okText="Aceptar" cancelText="Cancelar"
            (ionChange)="changeQuery($event.target)"
            interface="popover"
            [value]="atributoSelectedAsInt"
          >
            <ion-select-option 
              *ngFor="let o of optionsData"
              [value]="o[optionsProps.valueProp]"
              >{{ getPropertyName(o) }}</ion-select-option
            >
          </ion-select>
        </ion-item>
      <!-- </div> -->
    </div>

    <ng-template #list>
      <div class="row">
        <ion-list>
          <ion-list-header>
            <div class="row align-items-center">
              <ion-label>{{ title }}</ion-label>
              <ion-button
                *ngIf="atributoSelected != ''"
                (click)="changeQuery()"
                fill="clear"
                class=""
              >
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-list-header>
          <ion-item *ngFor="let o of optionsData" lines="none">
            <ion-button
              (click)="changeQuery(o[optionsProps.valueProp])"
              [fill]="
                atributoSelected == o[optionsProps.valueProp]
                  ? 'solid'
                  : 'clear'
              "
              expand="block"
            >
              {{ getPropertyName(o) }}
            </ion-button>
          </ion-item>
        </ion-list>
      </div>
    </ng-template>
  <!-- </div> -->
<!-- </ion-item> -->
