<!-- <div class="mb-3 search-select"> -->
  <!-- <div class="col"> -->
    <!-- <div class="row">
      <div class="input-group"><input class="form-control" type="search" #queryInput
        (input)="output()"
      ></div>
    </div> -->
    <div class="row align-items-center me-3"
      *ngIf="interface == 'popover'; else list"
    >
      <!-- <div class="col-2 p-0" *ngIf="atributoSelected != ''"> -->
        <button (click)="changeQuery()" class="btn btn-link"
          *ngIf="atributoSelected != ''"
        >
          <i class="bi bi-x-lg"></i>
        </button>
      <!-- </div> -->
      <!-- <div class="col p-0"> -->
        <div class="mb-3">
          <label class="form-label"
            position="stacked"
            >{{ title }}</label
          >
          <select class="form-select" #atributoSelect
            *ngIf="!updatingSelect"
            (change)="changeQuery($event.target)"
            [value]="atributoSelectedAsInt"
          >
            <option 
              *ngFor="let o of optionsData"
              [value]="o[optionsProps.valueProp]"
              >{{ getPropertyName(o) }}</option
            >
          </select>
        </div>
      <!-- </div> -->
    </div>

    <ng-template #list>
      <div class="row">
        <div class="list-group list-group-flush">
          <div class="list-group-item fw-bold bg-light">
            <div class="row align-items-center">
              <label class="form-label">{{ title }}</label>
              <button
                *ngIf="atributoSelected != ''"
                (click)="changeQuery()"
                class="btn btn-link"
              >
                <i class="bi bi-x-lg"></i>
              </button>
            </div>
          </div>
          <div class="mb-3" *ngFor="let o of optionsData">
            <button
              class="btn w-100"
              [ngClass]="atributoSelected == o[optionsProps.valueProp] ? 'btn-primary' : 'btn-link'"
              (click)="changeQuery(o[optionsProps.valueProp])"
            >
              {{ getPropertyName(o) }}
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  <!-- </div> -->
<!-- </div> -->
