<div [ngClass]="responsiveService.isDesktop ? 'ion-page' : ''">
  <ion-header>
    <ion-toolbar>
      <div class="row align-items-center ms-3 me-3">
        <div class="col">
          <h5 class="ion-text-wrap">
            {{ formTitle }}
          </h5>
        </div>
        <div class="col-1 d-none d-md-block">
          <ion-button (click)="modalController.dismiss()" fill="clear" class="">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <div slot="start" class="w-100 inner-content float-md-start">
    <div class="container-fluid">
      <div class="row justify-content-center align-self-center">
        <div class="col">
          <div class="row">
            <div class="col">

              <ion-item class="w-100 mb-3" *ngIf="parrafo != undefined">
                <ion-label position="floating">Título</ion-label>
                <ion-input
                  ngDefaultControl
                  [(ngModel)]="parrafo.title"
                ></ion-input>
              </ion-item>

              <div class="row w-100">
                <div class="col p-0">
                  <ion-item class="w-100 p-0 mb-3">
                    <ion-label position="stacked">Imágen</ion-label>
                    <ion-input #inputFile
                      type="file"
                      (change)="imageUpload($event.target)"
                    ></ion-input>
                    <ion-button *ngIf="loadedImg" (click)="deleteImg(inputFile)" fill="clear" class="">
                      <ion-icon name="close-outline"></ion-icon>
                    </ion-button>
                    <div>
                        <div class="row justify-content-center">
      
                          <ion-img [src]="img_url" alt=""
                            (ionImgDidLoad)="loadImg($event)"
                            (ionError)="loadedImg = false"
                          ></ion-img>
                        </div>
                    </div>
                  </ion-item>
                </div>
              </div>
              
              <ion-item class="w-100" *ngIf="parrafo != undefined && parrafo.id != 1">
                <ion-label position="floating">Contenido</ion-label>
                <ion-textarea
                  autocapitalize="sentences"
                  ngDefaultControl
                  [(ngModel)]="parrafo.content"
                  [rows]="responsiveService.isDesktop ? 6 : 4"
                  ></ion-textarea>
              </ion-item>

              <div class="row justify-content-end mt-3">
                <div class="col-12">
                  <div class="row justify-content-end">
                    <div
                      class="col-12 col-sm-3 align-self-center"
                    >
                      <app-btn-post
                        [posting]="posting"
                        (post)="postParrafo()"
                        [disabled]="!datosCargados()"
                      ></app-btn-post>
                    </div>

                    <div
                      class="col-12 col-sm-3 align-self-center"
                    >
                      <ion-button
                        expand="block"
                        (click)="modalController.dismiss()"
                        fill="clear"
                      >
                        Cancelar</ion-button
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
