<div class="bg-light border-bottom p-3 d-flex align-items-center gap-2">
  <button class="btn btn-dark btn-sm d-md-none" onclick="history.back()"><i class="bi bi-arrow-left"></i> Volver</button>
  <h5 class="mb-0">Notificaciones</h5>
</div>

<div class="container-fluid py-3">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        
        <div class="list-group list-group-flush">
          <div class="mb-3">
            <i class="bi bi-ellipse text-primary small"></i>
            <label class="form-label ms-3">
              <h4>Lorem ipsum</h4>
              <small>Hace 5 minutos</small>
            </label>
          </div>
          <div class="mb-3">
            <i class="bi bi-ellipse-outline text-light small"></i>
            <label class="form-label ms-3">
              <h4>Lorem ipsum</h4>
              <small>Hace 5 minutos</small>
            </label>
          </div>
          <div class="mb-3">
            <i class="bi bi-ellipse-outline text-light small"></i>
            <label class="form-label ms-3">
              <h4>Lorem ipsum</h4>
              <small>Hace 5 minutos</small>
            </label>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
