<div [ngClass]="responsiveService.isDesktop ? 'ion-page': ''">
  <ion-header>
    <ion-toolbar>
      <div class="row align-items-center ms-3 me-3">
        <div class="col">
          <h5 class="ion-text-wrap">Puntuar imagen de {{ concurso }}</h5>
        </div>
        <div class="col-1 d-none d-md-block">
          <button class="btn btn-link" (click)="dismiss()">
            <ion-icon name="close-outline"></ion-icon>
          </button>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <div class="inner-content">
    <div class="container-fluid">
      <div class="row justify-content-center align-self-center">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col align-self-center">
                  <ion-card-subtitle title="Código de la obra">{{ image.code }}</ion-card-subtitle>
                  <ion-card-title title="Nombre de la obra"><b>{{image.title}}</b></ion-card-title>
                  <div> <img [src]="imgSource" alt=""> </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <form
                    #formReview="ngForm"
                    (ngSubmit)="postReview(formReview)">

                    <ion-item class="w-100 mb-3">
                      <ion-label position="floating">Premio</ion-label>
                     
                      <ion-select name="elegida" [(ngModel)]="elegida" okText="Aceptar" cancelText="Cancelar" ngDefaultControl>
                        <ion-select-option *ngFor="let met of metricas" [value]="met">{{ met.prize }}</ion-select-option>
                      </ion-select>
                    </ion-item>

                    <div class="row justify-content-end">
                      <div class="col-12">
                        <div class="row justify-content-end">
                          <div class="col-12 col-sm-3 align-self-center">

                            <app-btn-post [posting]="posting" [disabled]="!formReview.valid"></app-btn-post>
                          </div>

                          <div class="col-12 col-sm-3 align-self-center">
                            <button
                              class="btn btn-link w-100" (click)="dismiss()">
                              Cancelar
                            </button>
                          </div>

                        </div>
                      </div>
                    </div>

                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
