<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="/perfil/editar"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <form #f="ngForm" (ngSubmit)="editUsuario(f)">
          <div class="row justify-content-center">
            <app-usuario-img [src]="usuario.img_url"></app-usuario-img>
          </div>
          <ion-item class="pt-3">
            <ion-label position="floating">Nombre</ion-label>
            <ion-input
              class="expand-full"
              name="username"
              [ngModel]="usuario.username"
              autocapitalize="words"
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input
              class="expand-full"
              name="email"
              type="email"
              [ngModel]="usuario.email"
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Imagen(url)</ion-label>
            <ion-input
              class="expand-full"
              name="img_url"
              [(ngModel)]="usuario.img_url"
              required
            ></ion-input>
          </ion-item>
          <ion-button expand="block" type="submit" [disabled]="!f.valid"
            >Guardar</ion-button
          >
        </form>
      </div>
    </div>
  </div>
</ion-content>
