<div class="container-fluid py-3">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8 col-xl-6">
      <h5 class="mb-4">Editar Perfil</h5>
      <form #f="ngForm" (ngSubmit)="editUsuario(f)">
        <div class="row g-4">
          <div class="col-12 col-md-4 col-lg-3 text-center">
            <app-usuario-img [src]="usuario.img_url" style="max-width:100px;display:inline-block"></app-usuario-img>
          </div>

          <div class="col-12 col-md-8 col-lg-9">
            <div class="mb-3">
              <label class="form-label fw-medium">Nombre</label>
              <input class="form-control"
                name="username"
                [ngModel]="usuario.username"
                autocapitalize="words"
                required
              >
            </div>

            <div class="mb-3">
              <label class="form-label fw-medium">Email</label>
              <input class="form-control"
                name="email"
                type="email"
                [ngModel]="usuario.email"
                required
              >
            </div>

            <div class="mb-3">
              <label class="form-label fw-medium">Imagen (URL)</label>
              <input class="form-control"
                name="img_url"
                [(ngModel)]="usuario.img_url"
                required
              >
            </div>

            <button class="btn btn-success w-100" type="submit" [disabled]="!f.valid">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>