<ion-content>
  <ion-grid>
    <ion-col>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="4">
          <ion-row class="ion-justify-content-center margin-top">
            <ion-img
              class="logoEntrada"
              src="../../assets/portadaGFC.png"
            ></ion-img>
          </ion-row>

          <ion-row class="">
            <ion-card class="ion-margin-top expand-full">
              <ion-item class="ion-margin">
                <ion-label position="stacked">Username</ion-label>
                <ion-input
                  class="text-right"
                  (keypress)="keyPress($event)"
                  [(ngModel)]="login.username"
                  ngDefaultControl
                ></ion-input>
              </ion-item>

              <ion-item class="ion-margin">
                <ion-col>
                  <ion-label position="stacked">Contraseña</ion-label>
                  <ion-input
                    #passInput
                    tabindex="0"
                    id="ctr-1"
                    type="password"
                    class="text-right"
                    (keypress)="keyPress($event, 'next')"
                    [(ngModel)]="login.password"
                    ngDefaultControl
                  ></ion-input>
                </ion-col>
                <app-ojo inputId="ctr-1"></app-ojo>
              </ion-item>

              <!-- color="primary" -->
              <ion-button
                color="primary"
                expand="block"
                class="ion-margin"
                (click)="next()"
              >
                <ion-label *ngIf="!loading; else spinner">Ingresar</ion-label>
                <ng-template #spinner>
                  <ion-spinner></ion-spinner>
                </ng-template>
              </ion-button>

              <ion-item color="danger" *ngIf="error != undefined">
                <ion-label>{{ error }}</ion-label>
              </ion-item>
            </ion-card>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
