<ion-content [ngClass]="{'dark': responsiveService.darkMode}">
  <ion-grid>
    <ion-col>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="4">
          <ion-row class="ion-justify-content-center margin-top">
            <ion-img
              class="logoEntrada"
              src="../../assets/portadaGFC.png"
            ></ion-img>
          </ion-row>

          <ion-row>
            <ion-card class="ion-margin-top expand-full no-border">
              <div class="expand-full ion-padding-start ion-padding-end" class="ion-margin">
                <ion-item class="expand-full">
                    <ion-row>
                        <ion-col class="ion-no-padding ion-margin-top" size="12">
                            <ion-label>Usuario</ion-label> 
                        </ion-col>
                        <ion-col class="ion-no-padding" size="12">
                            <ion-input
                                class="text-right"
                                (keypress)="keyPress($event)"
                                [(ngModel)]="login.username"
                                ngDefaultControl></ion-input>
                        </ion-col>
                    </ion-row>
                </ion-item>

                <ion-item class="expand-full">
                  <ion-col class="ion-no-padding">
                    <ion-row>
                        <ion-col class="ion-no-padding ion-margin-top" size="12">
                            <ion-label class="w-100">
                                Contraseña <!--<a href="#/login" (click)="recordarPass()" class="ion-float-right">Olvidé mi contraseña</a>-->
                            </ion-label> 
                        </ion-col>
                      <ion-col class="ion-no-padding" size="11">
                            
                        <ion-input
                          #passInput
                          tabindex="0"
                          id="ctr-1"
                          type="password"
                          class="text-right"
                          (keypress)="keyPress($event, 'next')"
                          [(ngModel)]="login.password"
                          ngDefaultControl
                        ></ion-input>
                      </ion-col>
                      <ion-col
                        class="ion-no-padding ion-align-self-center"
                        size="1"
                      >
                        <ion-row>
                          <app-ojo inputId="ctr-1"></app-ojo>
                        </ion-row>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-item>
              </div>
              <ion-button
                color="primary"
                expand="block"
                class="ion-margin"
                (click)="next()"
              >
                <ion-label *ngIf="!loading; else spinner">Ingresar</ion-label>
                <ng-template #spinner>
                  <ion-row class="ion-justify-content-center">
                    <ion-spinner></ion-spinner>
                  </ion-row>
                </ng-template>
              </ion-button>

              <ion-item color="danger" *ngIf="error != undefined">
                <ion-label>{{ error }}</ion-label>
              </ion-item>
            </ion-card>
            <ion-card class="ion-margin-top expand-full ion-text-center no-border">
              <div class="ion-padding-top ion-padding-bottom ">

                <ion-text >
                  Nuevo en el sitio? <a href="/#/registro">Crea una cuenta</a>
                </ion-text>
              </div>
            </ion-card>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
