<div class="row mt-3 text-center main-row" style="margin-bottom: 5rem">
  <div class="col">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <div class="row pt-4 pb-4">
          <div class="col"><h2 class="colorTarget">Miembros</h2></div>
        </div>

        <div class="row members-grid g-4">
          <div class="col-12 col-md-8 col-lg-6" *ngFor="let s of members; trackBy: trackByFn">
            <div class="member-card">
              <div class="member-info">
                <h3 class="member-name">{{s.name}}</h3>

                <div class="member-links" *ngIf="s.instagramSafe || s.facebookSafe || s.mailSafe">
                  <a *ngIf="s.instagramSafe" [href]="s.instagramSafe" target="_blank" class="member-link instagram" aria-label="Instagram">
                    <i class="bi bi-instagram"></i>
                  </a>
                  <a *ngIf="s.facebookSafe" [href]="s.facebookSafe" target="_blank" class="member-link facebook" aria-label="Facebook">
                    <i class="bi bi-facebook"></i>
                  </a>
                  <a *ngIf="s.mailSafe" [href]="s.mailSafe" target="_blank" class="member-link email" aria-label="Email">
                    <i class="bi bi-envelope"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  
</div>
