<div [ngClass]="responsiveService.isDesktop ? 'ion-page' : ''">
  <ion-header>
    <ion-toolbar>
      <div class="row align-items-center me-3">
        <div class="col-2 d-md-none">
          <ion-button (click)="modalController.dismiss()" color="dark" fill="clear" class="">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
        </div>
        <div class="col" [ngClass]="{'ms-3': responsiveService.isDesktop}">
          <h5 class="ion-text-wrap">
            {{ formTitle }}
          </h5>
        </div>
        <div class="col-1 d-none d-md-block">
          <ion-button (click)="modalController.dismiss()" fill="clear" class="">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <div slot="start" class="w-100 inner-content float-md-start">
    <div class="container-fluid">
      <div class="row justify-content-center align-self-center">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col">
                  <ion-chip color="danger" *ngIf="formTitle.includes('Editar')">
                    <ion-icon name="alert-outline"></ion-icon>
                    <ion-label>CUIDADO: la modificación de este elemento repercutirá en concursos que lo utilicen, se recomienda la edición para correcciones ortográficas</ion-label>
                  </ion-chip>
                  <form
                    #sectionForm="ngForm"
                    (ngSubmit)="postSection(sectionForm)"
                  >
                    <ion-item class="w-100">
                      <ion-label position="floating">Nombre</ion-label>
                      <ion-input
                        [ngModel]="section.name"
                        name="name"
                        required
                      ></ion-input>
                    </ion-item>

                    <div class="row justify-content-end">
                      <div class="col-12">
                        <div class="row justify-content-end">
                          <div class="col-12 col-sm-3 align-self-center">
                            <app-btn-post
                              [posting]="posting"
                              [disabled]="!datosCargados(sectionForm)"
                            ></app-btn-post>
                          </div>

                          <div class="col-12 col-sm-3 align-self-center">
                            <ion-button
                              expand="block"
                              (click)="modalController.dismiss()"
                              fill="clear"
                            >Cancelar</ion-button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
