<div [ngClass]="responsiveService.isDesktop ? 'gfc-modal-page' : ''">
  <div class="gfc-modal-header">
    <div class="row align-items-center me-3">
      <div class="col-2 d-md-none">
        <button class="btn btn-link" (click)="modalController.dismiss()">
          <i class="bi bi-arrow-left"></i>
        </button>
      </div>
      <div class="col" [ngClass]="{'ms-3': responsiveService.isDesktop}">
        <h5 class="mb-0">
          {{ formTitle }}
        </h5>
      </div>
      <div class="col-1 d-none d-md-block">
        <button class="btn btn-link" (click)="modalController.dismiss()">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
    </div>
  </div>

  <div slot="start" class="w-100 inner-content float-md-start">
    <div class="container-fluid">
      <div class="row justify-content-center align-self-center">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col">
                  @if (formTitle.includes('Editar')) {
                    <span class="badge bg-danger d-inline-flex align-items-center gap-1" color="danger">
                      <i class="bi bi-exclamation-triangle"></i>
                      <label class="form-label">CUIDADO: la modificación de este elemento repercutirá en concursos que lo utilicen, se recomienda la edición para correcciones ortográficas</label>
                    </span>
                  }
                  <form
                    #sectionForm="ngForm"
                    (ngSubmit)="postSection(sectionForm)"
                    >
                    <div class="mb-3" class="w-100">
                      <label class="form-label">Nombre</label>
                      <input class="form-control"
                        [ngModel]="section.name"
                        name="name"
                        required
                        >
                    </div>

                    <div class="row justify-content-end">
                      <div class="col-12">
                        <div class="row justify-content-end">
                          <div class="col-12 col-sm-3 align-self-center">
                            <app-btn-post
                              [posting]="posting"
                              [disabled]="!datosCargados(sectionForm)"
                            ></app-btn-post>
                          </div>

                          <div class="col-12 col-sm-3 align-self-center">
                            <button
                              class="btn btn-outline-secondary w-100"
                              (click)="modalController.dismiss()"
                            >Cancelar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
