
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="10" push-md="1" >
        <h1 class="ion-margin-top ion-margin-bottom ion-margin-end">
          Ranking - {{anio}}
        </h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="10" push-md="1" >

        <ion-row>
          <h1 class="ion-margin-top ion-margin-bottom ion-margin-end">
            Por participante
          </h1>
        </ion-row>

        <ion-row *ngFor="let r of ranking.profiles">
          <ion-col>
            <ion-row>
              <ion-col><h2>{{r.nombre_categoria}}</h2></ion-col>
            </ion-row>

            <!-- SELECTOR DE SECCION-->
            <ion-row>
              <ion-col>
                <div class="rank-btn-seccion" 
                      [ngClass]="{ active: (r.pestania_seccion == -1)}"
                      (click)="r.pestania_seccion = -1">General (Total de secciones)</div>
              </ion-col>
              <ion-col
                *ngFor="let btnSec of r.ranks_seccion; let iSec = index">
                <div class="rank-btn-seccion"
                     [ngClass]="{ active: (r.pestania_seccion == iSec)}"
                     (click)="r.pestania_seccion = iSec">
                     {{btnSec.nombre_seccion}}</div>
              </ion-col>
            </ion-row>

            <ion-row class="encabezado-tabla">
              <ion-col>

                  <ion-list>
                    <ion-item color="dark">

                      <ion-grid>
                        <ion-row class="ion-padding-end">

                          <ion-col size="2">Posición</ion-col>
                          <ion-col size="4">Participante</ion-col>
                          <ion-col size="3">Puntaje</ion-col>
                          <ion-col size="3">Premios</ion-col>

                        </ion-row>
                      </ion-grid>

                    </ion-item>
                  </ion-list>

              </ion-col>
            </ion-row>

            <ion-row class="ranks-participantes">
              <ion-col>
              <!-- ENCABEZADO TABLA -->

        <!-- FILAS TABLA-->
              <ion-row *ngFor="let rg of obtener_filas(r)" class="fila-tabla">
                <ion-col>

                    <ion-list>
                      <ion-item >

                        <ion-grid>
                          <ion-row>

                            <ion-col size="2" class="vertical-align-center"># {{rg.posicion_temporada}}</ion-col>
                            <ion-col size="4" class="vertical-align-center cap">{{rg.name}}</ion-col>
                            <ion-col size="3" class="vertical-align-center">
                              {{rg.puntaje_temporada}}
                              <ion-badge 
                                *ngIf="rg.score_total >= 200 && r.nombre_categoria == 'Estímulo' && r.pestania_seccion != -1"
                                color="warning">Habilitado a participar en primera</ion-badge>
                            </ion-col>
                            <ion-col size="3">
                              <span *ngFor="let premio of rg.premios_temporada">
                                <ion-badge>{{premio.cantidad}} - {{premio.nombre}}</ion-badge> &nbsp;
                              </span>
                            </ion-col>
                          </ion-row>
                        </ion-grid>

                      </ion-item>
                    </ion-list>

                </ion-col>
              </ion-row>
              </ion-col>
            </ion-row>
            
          </ion-col>
        </ion-row>


        <ion-row>
          <h1 class="ion-margin-top ion-margin-bottom ion-margin-end">
            Por fotoclub
          </h1>
        </ion-row>

        <!-- ENCABEZADO TABLA -->
        <ion-row class="encabezado-tabla">
          <ion-col>

              <ion-list>
                <ion-item color="dark">

                  <ion-grid>
                    <ion-row class="ion-padding-end">

                      <ion-col size="1">Posición</ion-col>
                      <ion-col size="3">Fotoclub</ion-col>
                      <ion-col size="3">Puntaje</ion-col>
                      <ion-col size="2">Porcentaje Efectividad</ion-col>
                      <ion-col size="3">Premios</ion-col>

                    </ion-row>
                  </ion-grid>

                </ion-item>
              </ion-list>

          </ion-col>
        </ion-row>

<!-- FILAS TABLA-->
        <ion-row *ngFor="let r of ranking.fotoclubs" class="fila-tabla">
          <ion-col>

              <ion-list>
                <ion-item >

                  <ion-grid>
                    <ion-row class="ion-padding-end">

                      <ion-col size="1"># {{r.posicion_temporada}}</ion-col>
                      <ion-col class="cap" size="3">{{r.name}}</ion-col>
                      <ion-col size="3">{{r.puntaje_temporada}}</ion-col>
                      <ion-col size="2">{{r.porc_efectividad_anual.porcentaje | number: '1.1'}} %</ion-col>
                      <ion-col size="3">
                        <span *ngFor="let premio of r.premios_temporada">
                          <ion-badge>{{premio.cantidad}} - {{premio.nombre}}</ion-badge> &nbsp;
                        </span>
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                </ion-item>
              </ion-list>

          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
