<div class="bg-light border-bottom p-3">
  <div class="d-flex gap-1">
    <button class="btn btn-outline-dark btn-sm" onclick="history.back()"><i class="bi bi-arrow-left"></i></button>
  </div>
  <h5 class="mb-0">{{formTitle}}</h5>
</div>

<div class="container-fluid py-3">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <form
          #f="ngForm"
          (ngSubmit)="postConcurso(f)"
          >
          <div class="row equal-height-row">
            <div class="col-12 col-md-4">
              <div class="card mb-3" class="equal-height-card">
                <div class="card-header">
                  <h5 class="card-title">Información</h5>
                </div>
                <div class="card-body">
                  <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <textarea class="form-control"
                      name="name"
                      [ngModel]="concurso.name"
                      autocapitalize="sentences"

                      maxlength="250"
                      (focus)="nombreChangeFocus = true"
                      (blur)="nombreChangeFocus = false"
                      required
                    ></textarea>
                    <small class="text-muted" *ngIf="nombreChangeFocus">Máximo 250 caracteres</small>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Sub-título</label>
                    <textarea class="form-control"
                      name="sub_title"
                      [ngModel]="concurso.sub_title"

                      maxlength="250"
                      (focus)="subtituloChangeFocus = true"
                      (blur)="subtituloChangeFocus = false"
                    ></textarea>
                    <small class="text-muted" *ngIf="subtituloChangeFocus">Máximo 250 caracteres</small>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Descripción</label>
                    <textarea class="form-control"
                      (focus)="descrChangeFocus = true"
                      (blur)="descrChangeFocus = false"
                      maxlength="250"
                      autocapitalize="sentences"

                      name="description"
                      [ngModel]="concurso.description"
                      required
                    ></textarea>
                  </div>
                  <small class="text-muted" *ngIf="descrChangeFocus">Máximo 250 caracteres</small>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-4">
              <div class="card mb-3" class="equal-height-card">
                <div class="card-header">
                  <h5 class="card-title">Fechas</h5>
                </div>
                <div class="card-body">
                  <div class="mb-3">
                    <label class="form-label">Inicio</label>
                  </div>
                  <div class="mb-3">
                    <div class="row">
                      <div class="col">
                        <label class="form-label">Día</label>
                        <select class="w-100" [(ngModel)]="day_selects[0].day" [ngModelOptions]="{standalone: true}" (change)="dateUpdate()">
                          <option value="-1">Seleccione día</option>
                          <option *ngFor="let d of day_selects[0].days;" value="{{d.v}}">{{d.t}}</option>
                        </select>
                      </div>
                      <div class="col">
                        <label class="form-label">Mes</label>
                        <select class="w-100" [(ngModel)]="day_selects[0].month" [ngModelOptions]="{standalone: true}" (change)="dateUpdate()">
                          <option value="-1">Seleccione Mes</option>
                          <option *ngFor="let d of day_selects[0].months;" value="{{d.v}}">{{d.t}}</option>
                        </select>
                      </div>
                      <div class="col">
                        <label class="form-label">Año</label>
                        <select class="w-100" [(ngModel)]="day_selects[0].year" [ngModelOptions]="{standalone: true}" (change)="dateUpdate()">
                          <option value="-1">Seleccione Año</option>
                          <option *ngFor="let d of day_selects[0].years;" value="{{d.v}}">{{d.t}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <div class="row">
                      <div class="col">
                        <label class="form-label">Hora</label>
                        <select class="w-100" [(ngModel)]="day_selects[0].hour" [ngModelOptions]="{standalone: true}" (change)="dateUpdate()">
                          <option value="-1">Seleccione Hora</option>
                          <option *ngFor="let d of day_selects[0].hours;" value="{{d.v}}">{{d.t}}</option>
                        </select>
                      </div>
                      <div class="col">
                        <label class="form-label">Minutos</label>
                        <select class="w-100" [(ngModel)]="day_selects[0].minute" [ngModelOptions]="{standalone: true}" (change)="dateUpdate()">
                          <option value="-1">Seleccione Minutos</option>
                          <option *ngFor="let d of day_selects[0].minutes;" value="{{d.v}}">{{d.t}}</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Finalización</label>
                  </div>
                  <div class="mb-3">
                    <div class="row">
                      <div class="col">
                        <label class="form-label">Día</label>
                        <select class="w-100" [(ngModel)]="day_selects[1].day" [ngModelOptions]="{standalone: true}" (change)="dateUpdate()">
                          <option value="-1">Seleccione día</option>
                          <option *ngFor="let d of day_selects[1].days;" value="{{d.v}}">{{d.t}}</option>
                        </select>
                      </div>
                      <div class="col">
                        <label class="form-label">Mes</label>
                        <select class="w-100" [(ngModel)]="day_selects[1].month" [ngModelOptions]="{standalone: true}" (change)="dateUpdate()">
                          <option value="-1">Seleccione Mes</option>
                          <option *ngFor="let d of day_selects[1].months;" value="{{d.v}}">{{d.t}}</option>
                        </select>
                      </div>
                      <div class="col">
                        <label class="form-label">Año</label>
                        <select class="w-100" [(ngModel)]="day_selects[1].year" [ngModelOptions]="{standalone: true}" (change)="dateUpdate()">
                          <option value="-1">Seleccione Año</option>
                          <option *ngFor="let d of day_selects[1].years;" value="{{d.v}}">{{d.t}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <div class="row">
                      <div class="col">
                        <label class="form-label">Hora</label>
                        <select class="w-100" [(ngModel)]="day_selects[1].hour" [ngModelOptions]="{standalone: true}" (change)="dateUpdate()">
                          <option value="-1">Seleccione Hora</option>
                          <option *ngFor="let d of day_selects[1].hours;" value="{{d.v}}">{{d.t}}</option>
                        </select>
                      </div>
                      <div class="col">
                        <label class="form-label">Minutos</label>
                        <select class="w-100" [(ngModel)]="day_selects[1].minute" [ngModelOptions]="{standalone: true}" (change)="dateUpdate()">
                          <option value="-1">Seleccione Minuntos</option>
                          <option *ngFor="let d of day_selects[1].minutes;" value="{{d.v}}">{{d.t}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-4">
              <div class="card mb-3" class="equal-height-card">
                <div class="card-header">
                  <h5 class="card-title">Configuración</h5>
                </div>
                <div class="card-body">
                  <div class="mb-3">
                    <label class="form-label">Total de imágenes por sección</label>
                    <input class="form-control"
                      name="max_img_section"
                      [ngModel]="concurso.max_img_section"
                      type="number"
                      required
                    >
                  </div>

                  <div class="mb-3 p-0"
                    (click)="mostrarCategorias = !mostrarCategorias"
                    [class.text-muted]="loadingCategorias"
                    [class.pe-none]="loadingCategorias"
                  >
                    <div class="row align-items-center justify-content-between w-100">
                      <div class="list-group-item fw-bold bg-light" style="width: initial">Categorias</div>
                      <button
                        class="ms-3 btn btn-link btn-sm"
                        size="small"
                      >
                        <i class="bi" [ngClass]="mostrarCategorias ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
                      </button>
                    </div>
                  </div>
                  <div *ngIf="mostrarCategorias">
                    <div class="mb-3" *ngFor="let c of categorias">
                      <label class="form-label">{{c.name}}</label>
                      <input type="checkbox" class="form-check-input"
                       
                        [(ngModel)]="getCategoriaSeleccionada(c.id).seleccionada"
                        [ngModelOptions]="{standalone: true}"
                      >
                    </div>
                  </div>

                  <div class="mb-3 p-0"
                    (click)="mostrarSecciones = !mostrarSecciones"
                    [class.text-muted]="loadingSecciones"
                    [class.pe-none]="loadingSecciones"
                  >
                    <div class="row align-items-center justify-content-between w-100">
                      <div class="list-group-item fw-bold bg-light" style="width: initial">Secciones</div>
                      <button
                        class="ms-3 btn btn-link btn-sm"
                        size="small"
                      >
                        <i class="bi" [ngClass]="mostrarSecciones ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
                      </button>
                    </div>
                  </div>
                  <div *ngIf="mostrarSecciones">
                    <div class="mb-3" *ngFor="let s of secciones">
                      <label class="form-label">{{s.name}}</label>
                      <input type="checkbox" class="form-check-input"
                       
                        [(ngModel)]="getSeccionSeleccionada(s.id).seleccionada"
                        [ngModelOptions]="{standalone: true}"
                      >
                    </div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Tipo de organización</label>
                    <select class="form-select"
                      name="organization_type"
                      [(ngModel)]="concurso.organization_type"
                      required
                    >
                      <option value="INTERNO">Interno</option>
                      <option value="EXTERNO_0">Externo</option>
                      <option value="EXTERNO_UNICEN">UNICEN</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row w-100 equal-height-row">
            <div class="col-12 col-md-4">
              <div class="card mb-3" class="equal-height-card">
                <div class="card-header">
                  <h5 class="card-title">Imagen</h5>
                </div>
                <div class="card-body">
                  <div class="mb-3" class="w-100 p-0 mb-3">
                    <label class="form-label">Archivo</label>
                    <input type="file" (change)="imageUpload($event.target)" />
                  </div>
                  <div class="row" *ngIf="img_url != ''" class="justify-content-center">
                    <img (ionError)="img_url=''" [src]="img_url" alt="">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-4">
              <div class="card mb-3" class="equal-height-card">
                <div class="card-header">
                  <h5 class="card-title">Reglamento</h5>
                </div>
                <div class="card-body">
                  <div class="mb-3" class="w-100 p-0 mb-3">
                    <label class="form-label">Documento</label>
                    <input type="file" accept=".pdf" (change)="fileUpload($event.target)" />
                  </div>
                  <small class="text-muted">La extensión de archivo aceptada es PDF</small>
                  <div class="row justify-content-center mt-3">
                    <iframe *ngIf="rules_url" [src]="rules_url" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-4">
              <div class="card mb-3" class="equal-height-card">
                <div class="card-header">
                  <h5 class="card-title">Grabaciones</h5>
                </div>
                <div class="card-body">
                  <app-contest-records class="w-100" [concurso]="concurso"></app-contest-records>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-3 justify-content-end">
            <div class="col-12">
              <div class="row justify-content-end">

                <div class="col-12 col-sm-3 align-self-center">
                    <app-btn-post [posting]="posting" [disabled]="!f.valid || secycat"></app-btn-post>
                </div>

                <div class="col-12 col-sm-3 align-self-center">
                  <button class="btn btn-link w-100" onclick="history.back()"><i class="bi bi-x me-1"></i>Cancelar</button>
                </div>

              </div>
            </div>
          </div>

        </form>
        <ng-template #spinner>
          <div class="row justify-content-center">
            <div class="spinner-border spinner-border-sm text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
