.expand-full{
    width: 100%;
}

.equal-height-row {
  align-items: stretch;
}

.equal-height-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.equal-height-card ion-card-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
