ion-avatar img{ width: 100% !important; height: 100% !important; } 

ion-avatar{--border-radius: 0px; } 

// .truncate {
//     // --max-lines: 3;
//     // line-height: 1.2em !important;
//     // height: 3.6em !important; //3 lineas
//     white-space: nowrap !important;
//     overflow: hidden !important;
//     text-overflow: ellipsis !important;
//   }
  .line-clamp{
    display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 6 !important;
  overflow: hidden !important;
  }

ion-item > div, .item-inner {
  height: 100%;
}

.h-50vw {
  height: 50vw;
}