<ion-content>
  
  <ion-grid *ngIf=" (auth.user | async) as userLogged">
    <ion-row>
      <ion-col size="12" size-md="3" *ngIf="mostrarFiltro">
        <ion-col>
          <ion-title class="ion-margin-top">Búsqueda</ion-title>
          <app-search-bar
            [(data)]="concursos"
            [atributosObj]="atributosBusqueda"
          >
          </app-search-bar>

          <ion-row>
            <ion-list-header>
              <ion-label>Fecha:</ion-label>
            </ion-list-header>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Desde</ion-label>
                <ion-input
                  type="number"
                  min="1967"
                  max="2021"
                  name="desde_fecha"
                >
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Hasta</ion-label>
                <ion-input type="number" min="1" max="13" name="hasta_fecha">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-fab-button size="small" disabled>
                <ion-icon name="arrow-forward-circle"></ion-icon>
              </ion-fab-button>
            </ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-list-header>
              <ion-label>Etiquetas:</ion-label>
            </ion-list-header> -->
          <!-- <ion-row> -->
          <!-- <ion-chip (click)="toggleChipMark()">
              <ion-icon
                *ngIf="markChip"
                name="checkmark-circle"
                color="dark"
              ></ion-icon>
              <ion-label>Default</ion-label>
            </ion-chip> -->
          <!-- </ion-row> -->
        </ion-col>
      </ion-col>
      <ion-col>
        <ion-row *ngIf="(auth.user | async) as u">
          <ion-col size-md="10" push-md="1">
            <ion-row
              class="
                ion-justify-content-start
                ion-align-items-center
                ion-margin-top
                ion-margin-bottom
              "
              *ngIf="isLogedIn()"
            >
              <h1 class="ion-margin-top ion-margin-bottom ion-margin-end">
                Concursos
              </h1>
              <!-- TODO: hacer priv el rolific -->
              <!-- <ion-fab *ngIf="isLogedIn()"> -->
              <!-- <ion-fab-button
                size="small"
                *ngIf="rolificador.esDelegado(u)"
                [routerLink]="['nuevo']"
              > -->

              <ion-fab-button
                size="small"
                *ngIf="
                     (rolificador.esDelegado(u) || rolificador.isAdmin(u))"
                [routerLink]="['nuevo']"
              >
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
              <!-- </ion-fab> -->
            </ion-row>
            <!-- <ion-searchbar [(ngModel)]="searchQuery"></ion-searchbar> -->
            <!-- <ion-searchbar (ionChange)="buscarConcursos($event.target.value)"></ion-searchbar> -->

            <ion-row class="ion-align-items-center ion-padding-bottom">
              <ion-col class="ion-no-padding" size="10" size-sm="11">
                <ion-button
                  [routerLink]="['secciones']"
                  *ngIf="rolificador.esDelegado(u) || rolificador.isAdmin(u)"
                  >Administrar secciones</ion-button
                >

                <!-- <app-search-bar
                  [(data)]="concursos"
                  [atributosObj]="atributosBusqueda"
                >
                </app-search-bar> -->

                <ion-button
                  [routerLink]="['metricas']"
                  *ngIf="rolificador.esDelegado(u) || rolificador.isAdmin(u)"
                  >Administrar Puntajes</ion-button>
              </ion-col>
              <ion-col size="2" size-sm="1">
                <ion-row
                  class="
                    ion-justify-content-center
                    ion-align-items-center
                    ion-align-self-center
                  "
                >
                  <ion-button
                    (click)="toggleFiltro()"
                    color="medium"
                    expand="block"
                    class="
                      ion-justify-content-center
                      ion-align-items-center
                      ion-align-self-center
                    "
                  >
                    <ion-icon name="funnel"></ion-icon>
                    <!-- <ion-icon name="options"></ion-icon> -->
                  </ion-button>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-list
              *ngIf="concursos.length > 0; else (loading ? spinner : texto)"
            >
              <!-- concurso card -->
              <!-- <ion-card *ngFor="let concurso of concursos"> -->
              <!-- [style.background-image]="url('configService.apiUrl(c.img_url)')" -->
              <ion-card
                *ngFor="let c of concursos; index as i"
                [ngStyle]="responsiveService.isDesktop ? {'background-image': 'url(' + getImg(c.img_url) + ')', 'background-size' : '100% auto'} : {'background-image': 'url(' + getImg(c.img_url) + ')', 'background-size' : 'auto 100%'}"
              >
                <div class="w-100 h-100 capa-opacidad">
                  <!-- <ion-row *ngIf="i%2 == 0 || !responsiveService.isDesktop; else isSecondary"> -->
                  <!-- <ion-row> -->
                  <!-- <ion-col size="12" size-md="5">
                        <ion-avatar
                            [ngClass]="{
                              'h-100': responsiveService.isDesktop, 
                              'h-50vw': !responsiveService.isDesktop, 
                              'w-100': true
                            }"
                            >
                            <ion-img (ionError)="errorImg($event)" [src]="configService.apiUrl(c.img_url)"></ion-img>
                          </ion-avatar>
                        </ion-col> -->
                  <!-- <ion-col #colCard id="colCard" size="12" size-md="7"> -->
                  <ion-col #colCard id="colCard" size="12">
                    <ion-row class="h-100">
                      <ion-card-header>
                        <ion-row class="ion-align-items-center">
                          <ion-col class="ion-no-padding">
                            <app-contest-status-chip
                              [contest]="c"
                            ></app-contest-status-chip>
                            <ion-card-title [color]="aspecto == false ? 'light' : 'dark'"
                              >{{c.name}}</ion-card-title
                            >
                          </ion-col>
                        </ion-row>
                        <ion-card-subtitle [color]="aspecto == false ? 'light' : 'dark'" 
                          >Desde: {{c.start_date | date:'dd/MM/yyyy hh:mm' }} - Hasta:
                          {{c.end_date | date:'dd/MM/yyyy hh:mm' }}</ion-card-subtitle
                        >
                      </ion-card-header>
                      <!-- <ion-img [src]="concurso.thumbnailUrl"></ion-img> -->

                      <ion-card-content
                        style="padding-bottom: 0 !important"
                        class="w-100"
                      >
                        <!-- <ion-row > -->

                        <p class="line-clamp">{{c.description}}</p>
                        <!-- </ion-row> -->
                        <ion-row class="ion-margin-top">
                          <b>Categorias:</b>
                          <ion-badge
                          [color]="aspecto == false ? 'dark' : 'light'"
                            class="ion-margin-start"
                            *ngFor="let c of c.categories"
                          >
                            {{c.name}}
                          </ion-badge>
                        </ion-row>
                        <ion-row class="ion-margin-bottom">
                          <b>Secciones:</b>
                          <ion-badge
                          [color]="aspecto == false ? 'dark' : 'light'"
                            class="ion-margin-start"
                            *ngFor="let s of c.sections"
                          >
                            {{s.name}}
                          </ion-badge>
                        </ion-row>
                        <ion-row class="w-100">
                          <ion-col class="ion-float-right ion-align-self-end">
                            <!-- <ion-toolbar> -->
                            <!-- <ion-buttons slot="start"> -->
                            <ion-button
                            fill="outline"
                              class="ion-float-right btn-contest"
                              size="small"
                              [routerLink]="[c.id]"
                              >Ver concurso</ion-button
                            >
                            <!-- </ion-buttons> -->
                            <!-- </ion-toolbar> -->
                          </ion-col>
                        </ion-row>
                      </ion-card-content>

                      <!-- <ion-row class="ion-padding-start">
                              <ion-col class="ion-align-self-end ion-no-padding">
                              </ion-col>
                              
                            </ion-row> -->
                    </ion-row>
                  </ion-col>
                  <!-- <ion-footer>
                          
                      <ion-row class="ion-float-right ion-float-bottom" >
                        <ion-col>
                          
                          <ion-button size="small" [routerLink]="[c.id]"
                          >Ver concurso</ion-button
                          >
                          
                        </ion-col>
                      </ion-row>
                    </ion-footer> -->
                  <!-- </ion-row> -->
                  <!-- <ng-template #isSecondary>
                      <ion-row>
                        <ion-col #colCard id="colCard" size="12" size-md="7">
                          
                          <ion-row class="h-100">
                            
                            <ion-card-header>
                              <ion-row class="ion-align-items-center">
                                <ion-col class="ion-no-padding">
                                  <app-contest-status-chip
                                  [contest]="c"
                                  ></app-contest-status-chip>
                                  <ion-card-title>{{c.name}}</ion-card-title>
                                </ion-col>
                              </ion-row>
                            </ion-card-header>
                            
                            <ion-card-content style="padding-bottom: 0 !important;" class="w-100">
                              <ion-row class="truncate" >
                                <p class=" line-clamp">
                                  {{c.description}}
                                </p>
                              </ion-row>
                            </ion-card-content>
                            
                            <ion-row class="ion-padding-start">
                              <ion-col class="ion-align-self-end ion-no-padding">
                                <ion-row class="ion-margin-top ">
                                  <b>Categorias:</b>
                                  <ion-badge color="light" class="ion-margin-start"
                                  *ngFor="let c of c.categories"
                                  >
                                  {{c.name}}
                                </ion-badge>
                              </ion-row>
                              <ion-row class="ion-margin-bottom">
                                <b>Secciones:</b>
                                <ion-badge color="light" class="ion-margin-start"
                                *ngFor="let s of c.sections"
                                >
                                {{s.name}}
                              </ion-badge>
                            </ion-row>
                          </ion-col>
                          
                            </ion-row>
                            
                            
                            
                            <ion-row class="w-100">
                              <ion-col class="ion-float-right ion-align-self-end">
                                
                                <ion-button class="ion-float-right"  size="small" [routerLink]="[c.id]"
                                >Ver concurso</ion-button
                                >
                                
                              </ion-col>
                            </ion-row>
                            
                          </ion-row>
                          
                          
                        </ion-col>
                        
                        <ion-col size="12" size-md="5">
                        <ion-avatar [style.height.px]="obtenerPx(colCard)" class="w-100">
                          <ion-img (ionImgWillLoad)="obtenerTamanio($event)" [src]="configService.apiUrl(c.img_url)"></ion-img>
                        </ion-avatar>
                      </ion-col>
                      

                    </ion-row>
                  </ng-template> -->

                  <!-- <ion-label>{{item}}</ion-label> -->
                </div>
              </ion-card>
            </ion-list>
            <ng-template #texto>
              <ion-item>No se encontraron concursos</ion-item>
            </ng-template>
            <ng-template #spinner>
              <ion-row class="ion-justify-content-center">
                <ion-spinner></ion-spinner>
              </ion-row>
            </ng-template>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- filtro y busqueda -->
    </ion-row>
  </ion-grid>
</ion-content>
