ion-avatar{ width: 100%; height: 100%; --border-radius: 0px; } 
// ion-avatar{ width: 100%; height: 43vh; --border-radius: 0px; } 
ion-avatar img{ width: 100% !important; height: 100% !important; } 

// .maxHeight{
//     max-height: 45vh !important;
//     // overflow-y: scroll;
// }
