<div [ngClass]="responsiveService.isDesktop ? 'ion-page' : ''">
  <ion-header>
    <ion-toolbar>
      <ion-row class="ion-align-items-center ion-margin-end ion-margin-start">
        <!-- <ion-back-button [defaultHref]="'/concursos/' + id"></ion-back-button> -->
        <!-- <ion-back-button (click)="dismiss()"></ion-back-button> -->
        <ion-col>
          <h5 class="ion-text-wrap">
            {{ formTitle }}
          </h5>
        </ion-col>
        <ion-col size="1" class="ion-hide-md-down">
          <ion-button (click)="modalController.dismiss()" fill="clear" class="">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>

  <div slot="start" class="w-100 inner-content ion-float-md-start">
    <form
    #f="ngForm"
    (ngSubmit)="postFotoclub(f)"
    >
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-self-center">
        <ion-col>
          <ion-row>
            <ion-col>

              <ion-row>
                <ion-item class="w-100 ion-margin-bottom" *ngIf="fotoclub != undefined">
                  <ion-label position="floating">Nombre</ion-label>
                  <ion-input
                    name="name"
                    ngDefaultControl
                    [(ngModel)]="fotoclub.name"
                    autocapitalize="sentences"
                    required
                  ></ion-input>
                </ion-item>
              </ion-row>
              <ion-row class="ion-padding-top">
                <ion-item  class="w-100 ">
                  <!-- <ion-col> -->
                  <ion-label position="floating">Descripción</ion-label>
                  <ion-textarea
                    (ionFocus)="descrChangeFocus = true"
                    (ionBlur)="descrChangeFocus = false"
                    maxlength= "250"
                    autocapitalize="sentences"
                    auto-grow="true"
                    name="description"
                    [ngModel]="fotoclub.description"
                  ></ion-textarea>
                  <!-- </ion-col> -->
                </ion-item>
                <ion-note *ngIf="descrChangeFocus">Máximo 250 caracteres</ion-note>
              </ion-row>
              <ion-row class="w-100">
                <ion-col class="ion-no-padding">
                  <ion-item class="w-100 ion-no-padding ion-margin-bottom">
                    <ion-label position="stacked">Imágen</ion-label>
                    <input type="file" (change)="handleFileInput($event.target['files'])" />
                  </ion-item>
                  <div>
                      <ion-row class="ion-justify-content-center">
    
                        <ion-img (ionError)="img_url=''" [src]="img_url" alt=""> </ion-img>
                      </ion-row>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row class="ion-padding-top">
                <ion-item class="w-100 ion-margin-bottom">
                  <ion-label position="floating"><ion-icon name="logo-facebook"></ion-icon> Facebook</ion-label>
                  <ion-input
                  name="facebook"
                  [(ngModel)]="fotoclub.facebook"
                    autocapitalize="sentences"
                    ngDefaultControl
                    type="url"
                  ></ion-input>
                </ion-item>
                
              </ion-row>
              <ion-row class="ion-padding-top">
                <ion-item class="w-100 ion-margin-bottom">
                  <ion-label position="floating"><ion-icon name="mail"></ion-icon> E-mail</ion-label>
                  <ion-input
                  name="email"
                  [(ngModel)]="fotoclub.email"
                  type="email"
                    ngDefaultControl
                  ></ion-input>
                </ion-item>
                
              </ion-row>
              <ion-row class="ion-padding-top">
                <ion-item class="w-100 ion-margin-bottom">
                  <ion-label position="floating"><ion-icon name="logo-instagram"></ion-icon> Instagram</ion-label>
                  <ion-input
                  name="instagram"
                  [(ngModel)]="fotoclub.instagram"
                    type="url"
                    ngDefaultControl
                  ></ion-input>
                </ion-item>
              </ion-row>

              <ion-row class="ion-justify-content-end">
                <ion-col size="12">
                  <ion-row class="ion-justify-content-end">
                    <ion-col
                      push-sm="3"
                      size="12"
                      size-sm="3"
                      class="ion-align-self-center"
                    >
                      <app-btn-post
                        [posting]="posting"
                        [disabled]="!f.valid"
                      ></app-btn-post>
                    </ion-col>

                    <ion-col
                      class="ion-align-self-center"
                      pull-sm="3"
                      size="12"
                      size-sm="3"
                    >
                      <ion-button
                        expand="block"
                        (click)="modalController.dismiss()"
                        fill="clear"
                      >
                        Cancelar</ion-button
                      >
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  </div>
</div>
