<div [ngClass]="responsiveService.isDesktop ? 'ion-page' : ''">
  <ion-header>
    <ion-toolbar>
      <div class="row align-items-center ms-3 me-3">
        <div class="col">
          <h5 class="ion-text-wrap">
            {{ formTitle }}
          </h5>
        </div>
        <div class="col-1 d-none d-md-block">
          <button (click)="modalController.dismiss()" class="btn btn-link">
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <div slot="start" class="w-100 inner-content float-md-start">
    <form
    #f="ngForm"
    (ngSubmit)="postFotoclub(f)"
    >
    <div class="container-fluid">
      <div class="row justify-content-center align-self-center">
        <div class="col">
          <div class="row">
            <div class="col">

              <div class="row">
                <ion-item class="w-100 mb-3" *ngIf="fotoclub != undefined">
                  <ion-label position="floating">Nombre</ion-label>
                  <ion-input
                    name="name"
                    ngDefaultControl
                    [(ngModel)]="fotoclub.name"
                    autocapitalize="sentences"
                    required
                  ></ion-input>
                </ion-item>
              </div>
              <div class="row pt-3">
                <ion-item class="w-100">
                  <ion-label position="floating">Descripción</ion-label>
                  <ion-textarea
                    (ionFocus)="descrChangeFocus = true"
                    (ionBlur)="descrChangeFocus = false"
                    maxlength= "250"
                    autocapitalize="sentences"
                    auto-grow="true"
                    name="description"
                    [ngModel]="fotoclub.description"
                  ></ion-textarea>
                </ion-item>
                <ion-note *ngIf="descrChangeFocus">Máximo 250 caracteres</ion-note>
              </div>
              <div class="row w-100">
                <div class="col p-0">
                  <ion-item class="w-100 p-0 mb-3">
                    <ion-label position="stacked">Imágen</ion-label>
                    <input type="file" (change)="handleFileInput($event.target['files'])" />
                  </ion-item>
                  <div>
                    <div class="row justify-content-center">
                      <ion-img (ionError)="img_url=''" [src]="img_url || (fotoclub.photo_url ? configService.imageUrl(fotoclub.photo_url) : '')" alt=""></ion-img>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row pt-3">
                <ion-item class="w-100 mb-3">
                  <ion-label position="floating"><i class="bi bi-facebook"></i> Facebook</ion-label>
                  <ion-input
                  name="facebook"
                  [(ngModel)]="fotoclub.facebook"
                    autocapitalize="sentences"
                    ngDefaultControl
                    type="url"
                  ></ion-input>
                </ion-item>
                
              </div>
              <div class="row pt-3">
                <ion-item class="w-100 mb-3">
                  <ion-label position="floating"><i class="bi bi-envelope"></i> E-mail</ion-label>
                  <ion-input
                  name="email"
                  [(ngModel)]="fotoclub.email"
                  type="email"
                    ngDefaultControl
                  ></ion-input>
                </ion-item>
                
              </div>
              <div class="row pt-3">
                <ion-item class="w-100 mb-3">
                  <ion-label position="floating"><i class="bi bi-instagram"></i> Instagram</ion-label>
                  <ion-input
                  name="instagram"
                  [(ngModel)]="fotoclub.instagram"
                    type="url"
                    ngDefaultControl
                  ></ion-input>
                </ion-item>
              </div>

              <div class="row pt-3">
                <ion-item class="w-100 mb-3">
                  <ion-label position="floating">Habilitado</ion-label>
                  <ion-select
                    name="enabled"
                    [(ngModel)]="fotoclub.enabled"
                    ngDefaultControl
                    required
                  >
                    <ion-select-option [value]="true">Si</ion-select-option>
                    <ion-select-option [value]="false">No</ion-select-option>
                  </ion-select>
                </ion-item>
              </div>

              <div class="row pt-3">
                <ion-item class="w-100 mb-3">
                  <ion-label position="floating">Tipo de Organización</ion-label>
                  <ion-select
                    name="organization_type"
                    [(ngModel)]="fotoclub.organization_type"
                    ngDefaultControl
                    required
                  >
                    <ion-select-option value="INTERNO">Interno</ion-select-option>
                    <ion-select-option value="EXTERNO_0">Externo</ion-select-option>
                    <ion-select-option value="EXTERNO_UNICEN">UNICEN</ion-select-option>
                  </ion-select>
                </ion-item>
              </div>

              <div class="row pt-3">
                <ion-item class="w-100 mb-3">
                  <ion-label>Mostrar en Ranking</ion-label>
                  <ion-checkbox
                    name="mostrar_en_ranking"
                    [(ngModel)]="fotoclub.mostrar_en_ranking"
                    ngDefaultControl
                  ></ion-checkbox>
                </ion-item>
              </div>

              <div class="row justify-content-end">
                <div class="col-12">
                  <div class="row justify-content-end">
                    <div class="col-12 col-sm-3 align-self-center">
                      <app-btn-post
                        [posting]="posting"
                        [disabled]="!f.valid"
                      ></app-btn-post>
                    </div>

                    <div class="col-12 col-sm-3 align-self-center">
                      <button
                        class="btn btn-link w-100"
                        (click)="modalController.dismiss()"
                      >
                        Cancelar</button
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>
</div>
