<div [ngClass]="responsiveService.isDesktop ? 'ion-page' : ''">
  <div class="bg-light border-bottom p-3">
    <div class="row align-items-center ms-3 me-3">
      <div class="col">
        <h5 class="mb-0">
          {{ formTitle }}
        </h5>
      </div>
      <div class="col-1 d-none d-md-block">
        <button (click)="modalController.dismiss()" class="btn btn-link">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="w-100 inner-content float-md-start">
    <form
    #f="ngForm"
    (ngSubmit)="postFotoclub(f)"
    >
    <div class="container-fluid">
      <div class="row justify-content-center align-self-center">
        <div class="col">
          <div class="row">
            <div class="col">

              <div class="row">
                <div class="mb-3 w-100 mb-3" *ngIf="fotoclub != undefined">
                  <label class="form-label" position="floating">Nombre</label>
                  <input class="form-control"
                    name="name"
                    [(ngModel)]="fotoclub.name"
                    autocapitalize="sentences"
                    required
                  >
                </div>
              </div>
              <div class="row pt-3">
                <div class="mb-3 w-100">
                  <label class="form-label" position="floating">Descripción</label>
                  <textarea class="form-control"
                    (focus)="descrChangeFocus = true"
                    (blur)="descrChangeFocus = false"
                    maxlength= "250"
                    autocapitalize="sentences"
                    name="description"
                    [ngModel]="fotoclub.description"
                  ></textarea>
                </div>
                <small class="text-muted" *ngIf="descrChangeFocus">Máximo 250 caracteres</small>
              </div>
              <div class="row w-100">
                <div class="col p-0">
                  <div class="mb-3 w-100 p-0 mb-3">
                    <label class="form-label" position="stacked">Imágen</label>
                    <input type="file" (change)="handleFileInput($event.target['files'])" />
                  </div>
                  <div>
                    <div class="row justify-content-center">
                      <img (error)="img_url=''" [src]="img_url || (fotoclub.photo_url ? configService.imageUrl(fotoclub.photo_url) : '')" alt="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row pt-3">
                <div class="mb-3 w-100 mb-3">
                  <label class="form-label" position="floating"><i class="bi bi-facebook"></i> Facebook</label>
                  <input class="form-control"
                  name="facebook"
                  [(ngModel)]="fotoclub.facebook"
                    autocapitalize="sentences"
                    type="url"
                  >
                </div>
                
              </div>
              <div class="row pt-3">
                <div class="mb-3 w-100 mb-3">
                  <label class="form-label" position="floating"><i class="bi bi-envelope"></i> E-mail</label>
                  <input class="form-control"
                  name="email"
                  [(ngModel)]="fotoclub.email"
                  type="email"
                  >
                </div>
                
              </div>
              <div class="row pt-3">
                <div class="mb-3 w-100 mb-3">
                  <label class="form-label" position="floating"><i class="bi bi-instagram"></i> Instagram</label>
                  <input class="form-control"
                  name="instagram"
                  [(ngModel)]="fotoclub.instagram"
                    type="url"
                  >
                </div>
              </div>

              <div class="row pt-3">
                <div class="mb-3 w-100 mb-3">
                  <label class="form-label" position="floating">Habilitado</label>
                  <select class="form-select"
                    name="enabled"
                    [(ngModel)]="fotoclub.enabled"
                    required
                  >
                    <option [value]="true">Si</option>
                    <option [value]="false">No</option>
                  </select>
                </div>
              </div>

              <div class="row pt-3">
                <div class="mb-3 w-100 mb-3">
                  <label class="form-label" position="floating">Tipo de Organización</label>
                  <select class="form-select"
                    name="organization_type"
                    [(ngModel)]="fotoclub.organization_type"
                    required
                  >
                    <option value="INTERNO">Interno</option>
                    <option value="EXTERNO_0">Externo</option>
                    <option value="EXTERNO_UNICEN">UNICEN</option>
                  </select>
                </div>
              </div>

              <div class="row pt-3">
                <div class="mb-3 w-100 mb-3">
                  <label class="form-label">Mostrar en Ranking</label>
                  <input type="checkbox" class="form-check-input"
                    name="mostrar_en_ranking"
                    [(ngModel)]="fotoclub.mostrar_en_ranking"
                  >
                </div>
              </div>

              <div class="row justify-content-end">
                <div class="col-12">
                  <div class="row justify-content-end">
                    <div class="col-12 col-sm-3 align-self-center">
                      <app-btn-post
                        [posting]="posting"
                        [disabled]="!f.valid"
                      ></app-btn-post>
                    </div>

                    <div class="col-12 col-sm-3 align-self-center">
                      <button
                        class="btn btn-link w-100"
                        (click)="modalController.dismiss()"
                      >
                        Cancelar</button
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>
</div>
