<div [ngClass]="responsiveService.isDesktop ? 'gfc-modal-page' : ''">
  <div class="gfc-modal-header">
    <div class="row align-items-center me-3">
      <div class="col-2 d-md-none">
        <button class="btn gfc-btn-back btn-sm" (click)="modalController.dismiss()">
          <i class="bi bi-arrow-left"></i>
        </button>
      </div>
      <div class="col" [ngClass]="{'ms-3': responsiveService.isDesktop}">
        <h5 class="mb-0">Cambiar contraseña</h5>
      </div>
      <div class="col-1 d-none d-md-block text-end">
        <button class="btn gfc-btn-back btn-sm" (click)="modalController.dismiss()">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="w-100 inner-content float-md-start">
    <div class="container-fluid">
      <div class="col">
        <div class="row justify-content-center align-self-center">
          <form class="w-100" #f="ngForm" (ngSubmit)="changePassword(f)">
            <div class="mb-3 expand-full">
              <div class="col p-0">
                <div class="row">
                  <div class="col p-0 col-10">
                    <label class="form-label">Contraseña actual</label>
                    <input class="form-control text-right"
                      (focus)="passChangeFocus = true"
                      (blur)="passChangeFocus = false"
                      tabindex="0"
                      id="ctr-3"
                      type="password"
                      name="old_password"
                      [(ngModel)]="old_password"
                      [required]="requireOldPassword"
                    >
                  </div>
                  <div class="col p-0 align-self-center col-2">
                    <app-ojo inputId="ctr-3"></app-ojo>
                  </div>
                </div>
              </div>
            </div>
            @if (passChangeFocus) {
              <small class="text-muted">Mínimo 8 caracteres</small>
            }
            <div class="mb-3 expand-full">
              <div class="col p-0">
                <div class="row">
                  <div class="col p-0 col-10">
                    <label class="form-label">Contraseña nueva</label>
                    <input class="form-control text-right"
                      tabindex="0"
                      id="ctr-4"
                      type="password"
                      name="new_password"
                      [(ngModel)]="new_password"
                      required
                    >
                  </div>
                  <div class="col p-0 align-self-center col-2">
                    <app-ojo inputId="ctr-4"></app-ojo>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-3 expand-full">
              <div class="col p-0">
                <div class="row">
                  <div class="col p-0 col-10">
                    <label class="form-label">Confirmar contraseña</label>
                    <input class="form-control text-right"
                      tabindex="0"
                      id="ctr-5"
                      type="password"
                      name="confirm_password"
                      [(ngModel)]="confirm_password"
                      required
                    >
                  </div>
                  <div class="col p-0 align-self-center col-2">
                    <app-ojo inputId="ctr-5"></app-ojo>
                  </div>
                </div>
              </div>
            </div>
            @if (new_password && confirm_password && new_password !== confirm_password) {
              <small class="text-muted text-danger">Las contraseñas no coinciden.</small>
            }
            <div class="row justify-content-end">
              <div class="col-12">
                <div class="row justify-content-end">
                  <div class="col-12 col-sm-3 align-self-center">
                    <button class="btn btn-link w-100" (click)="modalController.dismiss()">Cancelar</button>
                  </div>
                  <div class="col-12 col-sm-3 align-self-center">
                    <app-btn-post
                      [posting]="posting"
                      [disabled]="!f.valid || new_password !== confirm_password"
                    ></app-btn-post>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
