<div [ngClass]="responsiveService.isDesktop ? 'ion-page' : ''">
  <ion-header>
    <ion-toolbar>
      <div class="row align-items-center me-3">
        <div class="col-2 d-md-none">
          <ion-button (click)="modalController.dismiss()" color="dark" fill="clear" class="">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
        </div>
        <div class="col" [ngClass]="{'ms-3': responsiveService.isDesktop}">
          <h5 class="ion-text-wrap">Cambiar contraseña</h5>
        </div>
        <div class="col-1 d-none d-md-block">
          <ion-button (click)="modalController.dismiss()" fill="clear" class="">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <div slot="start" class="w-100 inner-content float-md-start">
    <div class="container-fluid">
      <div class="col">
        <div class="row justify-content-center align-self-center">
          <form class="w-100" #f="ngForm" (ngSubmit)="changePassword(f)">
            <ion-item class="expand-full" *ngIf="requireOldPassword">
              <div class="col p-0">
                <div class="row">
                  <div class="col p-0 col-10">
                    <ion-label position="floating">Contraseña actual</ion-label>
                    <ion-input
                      (ionFocus)="passChangeFocus = true"
                      (ionBlur)="passChangeFocus = false"
                      tabindex="0"
                      id="ctr-3"
                      type="password"
                      class="text-right"
                      name="old_password"
                      [(ngModel)]="old_password"
                      required
                    ></ion-input>
                  </div>
                  <div class="col p-0 align-self-center col-2">
                    <app-ojo inputId="ctr-3"></app-ojo>
                  </div>
                </div>
              </div>
            </ion-item>
            <ion-note *ngIf="requireOldPassword && passChangeFocus">Mínimo 8 caracteres</ion-note>
            <ion-item class="expand-full">
              <div class="col p-0">
                <div class="row">
                  <div class="col p-0 col-10">
                    <ion-label position="floating">Contraseña nueva</ion-label>
                    <ion-input
                      tabindex="0"
                      id="ctr-4"
                      type="password"
                      class="text-right"
                      name="new_password"
                      [(ngModel)]="new_password"
                      required
                    ></ion-input>
                  </div>
                  <div class="col p-0 align-self-center col-2">
                    <app-ojo inputId="ctr-4"></app-ojo>
                  </div>
                </div>
              </div>
            </ion-item>
            <ion-item class="expand-full">
              <div class="col p-0">
                <div class="row">
                  <div class="col p-0 col-10">
                    <ion-label position="floating">Confirmar contraseña</ion-label>
                    <ion-input
                      tabindex="0"
                      id="ctr-5"
                      type="password"
                      class="text-right"
                      name="confirm_password"
                      [(ngModel)]="confirm_password"
                      required
                    ></ion-input>
                  </div>
                  <div class="col p-0 align-self-center col-2">
                    <app-ojo inputId="ctr-5"></app-ojo>
                  </div>
                </div>
              </div>
            </ion-item>
            <ion-note *ngIf="new_password && confirm_password && new_password !== confirm_password" color="danger">Las contraseñas no coinciden.</ion-note>
            <div class="row justify-content-end">
              <div class="col-12">
                <div class="row justify-content-end">
                  <div class="col-12 col-sm-3 align-self-center">
                    <app-btn-post
                      [posting]="posting"
                      [disabled]="!f.valid || new_password !== confirm_password"
                    ></app-btn-post>
                  </div>

                  <div class="col-12 col-sm-3 align-self-center">
                  <ion-button
                    expand="block"
                    (click)="modalController.dismiss()"
                    fill="clear"
                  >Cancelar</ion-button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
