@if (auth.user | async; as u) {
  @if (!isJuzgamiento) {
    <ul class="nav concurso-tabs mb-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/concursos" title="Volver a concursos">
          <i class="bi bi-arrow-left"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['./informacion']" routerLinkActive="active">
          <i class="bi bi-info-circle me-1"></i> Información
        </a>
      </li>
      @if (rolificador.esDelegado(u) || rolificador.isAdmin(u) || concurso?.judged) {
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['./concursantes']" routerLinkActive="active">
            <i class="bi bi-people me-1"></i> Concursantes
          </a>
        </li>
      }
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['./fotografias']" routerLinkActive="active">
          <i class="bi bi-images me-1"></i> Fotografías
        </a>
      </li>
      @if (concurso?.is_judging) {
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['./juzgamiento']" routerLinkActive="active">
            <i class="bi bi-shield-check me-1"></i> Juzgamiento
          </a>
        </li>
      }
    </ul>
  }
}
<div class="py-3" [class.container]="!isJuzgamiento">
  <router-outlet></router-outlet>
</div>
