<div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-3" *ngIf="mostrarFiltro">
        <div class="col">
          <h5 class="mt-3">Búsqueda</h5>

          <div class="list-group list-group-flush">
            <div class="mb-3" value="biff">
              <div class="list-group-item fw-bold gfc-list-header">
                <label class="form-label">Filtrar por:</label>
              </div>

              <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input type="radio" class="form-check-input" value="nombre">
              </div>

              <div class="mb-3">
                <label class="form-label">Código</label>
                <input type="radio" class="form-check-input" value="codigo">
              </div>

              <div class="mb-3">
                <label class="form-label">Concursante</label>
                <input type="radio" class="form-check-input" value="concursante">
              </div>

              <div class="mb-3" *ngIf="!isContestNotFin || !rolificador.esConcursante(u)">
                <label class="form-label">Fotoclub/Agrupación/Institución</label>
                <input type="radio" class="form-check-input" value="fotoclub">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <button class="btn gfc-btn-back rounded-circle d-flex align-items-center justify-content-center" style="width:36px;height:36px" size="small">
                <i class="bi bi-arrow-right-circle"></i>
              </button>
            </div>
          </div>

          <div class="col">
            
            <div class="list-group list-group-flush">
              <div class="list-group-item fw-bold gfc-list-header">
                <label class="form-label">Premio:</label>
              </div>
              <div class="mb-3"
                ><button class="btn btn-link" href="#">Reprobado</button>
              <div class="mb-3"
                ><button class="btn btn-link" href="#">Aprobado</button>
              <div class="mb-3">
                <button class="btn btn-link" href="#">Mención</button>
              <div class="mb-3">
                <button class="btn btn-link" href="#">Medalla Oro</button>
              <div class="mb-3">
                <button class="btn btn-link" href="#">Medalla Plata</button>
              <div class="mb-3">
                <button class="btn btn-link" href="#">Medalla Bronce</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="row">
          <div class="col-12">
            <div class="row justify-content-start align-items-center mt-3 mb-3">
              <h1 class="mt-3 mb-3 me-3">
                Fotografías
              </h1>
              <button class="btn btn-success rounded-circle d-flex align-items-center justify-content-center" style="width:36px;height:36px" size="small" (click)="postImage()">
                <i class="bi bi-plus"></i>
              </button>
            </div>

            <div class="row align-items-center">
              <div class="col-11"
                ><app-search-bar [atributos]="['Titulo', 'Codigo']">
                </app-search-bar
              ></div>
              <div class="col-1">
                <button class="btn btn-secondary" (click)="toggleFiltro()">
                  <i class="bi bi-funnel"></i>
                </button></div
              >
            </div>
            <div class="container-fluid">
              <div class="row pe-3">
                <div class="col-6 col-md-3">Obra</div>
                <div class="d-none d-md-block ps-3 col-4 col-md-3"
                  >Autor</div
                >
                <div class="text-center col-3 col-md-2"
                  >Premio</div
                >

                <div class="col-2"></div>
              </div>
            </div>
            <div class="list-group list-group-flush">
              <div class="mb-3" class="p-0">
                <div class="container-fluid" *ngIf="resultadosConcurso.length > 0; else texto">

                  <div class="row" *ngFor="let r of resultadosConcurso">
                    <div class="col-6 col-md-3 align-self-center">
                      <h6 class="card-subtitle text-muted" title="Código de la obra"
                      >{{ r.image.code }}</h6>

                      <span title="Nombre de la obra"
                      ><b>{{ r.image.title }}</b></span>
                      
                    </div>
                    <div class="d-none d-md-block text-center align-self-center col-4 col-md-3">
                      <div class="mb-3">
                        <label class="form-label">
                          <h6 class="card-subtitle text-muted" title="Fotoclub/Agrupación del autor"
                          >{{ getFotoclubName(r.image.profile_id) }}</h6>
                          
                          <span title="Autor de la obra">
                            <b>{{ getFullName(r.image.profile_id) }}</b>
                          </span>
                          
                        </label>
                      </div>
                    </div>
                    <div class="text-center align-self-center col-3 col-md-2">
                      <span>{{ r.metric.prize }}</span>
                    </div>
                    

                    <div class="col-1 col-md-2 align-self-center">
                      <div class="d-flex gap-1 d-none d-lg-block justify-content-end">
                        <button class="btn btn-primary" (click)="reviewImage(r)">
                          <i class="bi bi-star"></i>
                        </button>
                        <button class="btn btn-warning" (click)="postImage(r.image)">
                          <i class="bi bi-pencil"></i>
                        </button>
                        <button class="btn btn-danger" (click)="deleteImage(r.image_id, r.id, r.metric_id)">
                          <i class="bi bi-trash"></i>
                        </button>
                      </div>
                      <div class="d-flex gap-1 d-lg-none">
                        <button class="btn btn-outline-secondary" (click)="mostrarAcciones($event, r)">
                          <i class="bi bi-three-dots-vertical"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <ng-template #texto>No hay fotografias</ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
